<template>
  <div class='page'>
    <Header/>
    <section class='article'>
      <div class='container'>
        <Breadcrumbs last='Статья' v-bind:prelastname="article.title" prelastto="/articles"/>
        <div class='article__name'>{{article.title}}</div>
        <div class="article__white">
          <!-- <div class="paageart__image">
            <img v-bind:src="article.thumb" alt="">
          </div> -->
          <div class="html" v-html="article.content"></div>
        </div>
      </div>
    </section>
    <Footer/>
  </div>
</template>

<script>
// @ is an alias to /src
import Breadcrumbs from '@/components/Breadcrumbs.vue'
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'

import axios from 'axios'
import { SERVER_URL } from '../constants'

export default {
  name: 'Article',
  components: {
    Breadcrumbs,
    Header,
    Footer
  },
  data: function () {
    return {
      loading: true,
      slug: false,
      article: {}
    }
  },
  created () {
    this.slug = this.$route.params.slug;
    axios
      .get(SERVER_URL + 'pages/about')
      .then(response => {
        
        this.article = response.data.data.page
      })
      .catch(e => {
        console.log(e)
        this.$router.push('404')
      })
  }
}
</script>

<style lang='scss'>
</style>
