<template>
  <div class='page'>
    <Header/>
    <section class='article'>
      <div class='container'>
        <Breadcrumbs last='Статья' v-bind:prelastname="article.title" prelastto="/articles"/>
        <div class='article__name'>{{article.title}}</div>
        <div class="article__white">
          <!-- <div class="paageart__image">
            <img v-bind:src="article.thumb" alt="">
          </div> -->
          <div class="html" v-html="article.content"></div>
        </div>
      </div>
    </section>
    <Footer/>
  </div>
</template>

<script>
// @ is an alias to /src
import Breadcrumbs from '@/components/Breadcrumbs.vue'
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'

import axios from 'axios'
import { SERVER_URL } from '../constants'
import $ from 'jquery'

export default {
  name: 'Article',
  components: {
    Breadcrumbs,
    Header,
    Footer
  },
  data: function () {
    return {
      loading: true,
      slug: false,
      article: {}
    }
  },
  created () {
    this.slug = this.$route.params.slug;
    axios
      .get(SERVER_URL + 'posts/' + this.slug)
      .then(response => {
        this.article = response.data.data.post
      })
      .catch(e => {
        console.log(e)
        this.$router.push('404')
      })
  },
}
</script>

<style lang='scss'>
.paageart__image{
  display: flex;
  margin-bottom: 20px;
  img{
    max-width: 100%;
    max-height: 400px;
    width: auto;
    height: auto;
  }
}
.article {
  margin-bottom: 40px;
  &__name{
    color: #0d1833;
    font-weight: 700;
    font-size: 44px;
    margin-top: 15px;
  }
  &__white{
    margin-top: 30px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 29px 0px rgba(13, 24, 51, 0.06);
    padding: 50px;
  }
}

</style>
