<template>
  <div class='page'>
    <Header/>
    <section class='articles'>
      <div class='container'>
        <Breadcrumbs last='Полезные статьи'/>
        <div class='articles__name'>Полезные статьи</div>
          <div class='articles__flex'>
            <Article v-for="(article, index) in articles" v-bind:key="index" v-bind:article="article"/>
          </div>
          <a v-show="loadmore" @click="loadingMore" class="btn btn--base">Загрузить еще</a>
        </div>
    </section>
    <Footer/>
  </div>
</template>

<script>
// @ is an alias to /src
import Breadcrumbs from '@/components/Breadcrumbs.vue'
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import Article from '@/components/Article.vue'

import axios from 'axios'
import { SERVER_URL } from '../constants'

export default {
  name: 'Articles',
  components: {
    Breadcrumbs,
    Header,
    Footer,
    Article
  },
  data: function () {
    return {
      loading: true,
      articles: [],
      offset: 0,
      loadmore: true
    }
  },
  created () {
    axios
      .get(SERVER_URL + 'posts', {params: {limit: 9}})
      .then(response => {
        this.articles = response.data.data.posts
        this.loading = false
        this.offset = this.offset + 9
        if (this.offset >= response.data.data.pagination.total) {
          this.loadmore = false
        }
      })
      .catch(e => {
        console.log(e)
      })
  },
  methods: {
    loadingMore: function () {
      axios.get(SERVER_URL + 'posts', {params: {limit: 9}}).then(response => {
        this.articles = this.articles.concat(response.data.data.posts)
        this.loading = false
        this.offset = this.offset + 9
        if (this.offset >= response.data.data.pagination.total) {
          this.loadmore = false
        }
      }).catch(e => {
        console.log(e)
      })
    }
  }
}
</script>

<style lang='scss'>
.articles {
  .btn{
    width: 315px;
    height: 62px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
  padding-bottom: 117px;
  &__name {
    margin-top: 20px;
    margin-bottom: 35px;
    color: #0d1833;
    font-size: 44px;
    line-height: 44px;
    font-weight: 700;
  }
  &__flex{
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 1440px) {
  .articles{
    padding-bottom: 60px;
  }
}
</style>
