<template>
  <div class='page'>
    <Header/>
    <section class='user' v-if="this.$store.getters.getResp.userType">
      <div class="loading" v-if="loading"></div>
      <div class='container'>
        <div class='user__flex'>
          <div class='user__left user--white'>
            <UserProfile/>
          </div>
          <div class='user__right'>
            <div class='user__100 user--white chat'>
							<div class="chat__odesc">Чат с учителем</div>
							<div class="chat__header">
								<div class="chat__type">Мой учитель</div>
								<div class="chat__avatar"><img :src="messages.teacher_avatar" :alt="messages.teacher_name"></div>
								<div class="chat__name">{{messages.teacher_name}}</div>
							</div>
							<div class="chat__content" id="scrolled">
								<div class="chat__row" v-for="mes in messages.messages" v-bind:key="mes.id" v-bind:class="{ from : mes.is_student_message}">
									<div class="chat__avatar">
										<img v-bind:src="messages.teacher_avatar" v-bind:alt="messages.teacher_name" v-if="!mes.is_student_message">
										<img v-bind:src="messages.student_avatar" v-bind:alt="messages.student_name" v-if="mes.is_student_message">
									</div>
									<div class="chat__text">
										<div class="chat__top">
											<div class="chat__date">{{mes.created_at_formated}}</div>
											<div class="chat__name" v-if="!mes.is_student_message">{{messages.teacher_name}}</div>
											<div class="chat__name" v-if="mes.is_student_message">{{messages.student_name}}</div>
										</div>
										<div class="chat__info">
											<div class="chat__html">{{mes.message}}</div>
										</div>
									</div>
								</div>
							</div>
							<div class="chat__footer">
								<input type="text" placeholder="Напишите сообщение" v-model="text">
								<button type="submit" class="btn" @click="send">Отправить</button>
							</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class='error' v-if="!this.$store.getters.getResp.userType">
      <div class='container'>
        <div style='color:red; padding-top:20vh;padding-bottom:20vh; font-size: 32px; text-aling:center'>Ошибка, нет такого типа пользователя</div>
      </div>
    </section>
    <Footer/>
  </div>
</template>

<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'



import UserProfile from '@/components/UserProfile'
import axios from 'axios'
import { SERVER_URL } from '../constants'
import moment from 'moment'

export default {
  name: 'User',
  components: {
    Header,
    Footer,
    UserProfile
  },
  data: function () {
    return {
      loading: false,
      text: '',
			title: '',
			messages: {}
    }
	},
	created () {
		this.$store.dispatch('userInfo')
		if(this.$store.getters.getResp.userType==='teacher'){
			this.$router.push('404')
		}
		axios.get(SERVER_URL + 'chats/'+ this.$store.getters.getResp.chats_ids[0].id, {headers: { 'Authorization': this.$store.getters.getToken }})
		.then(response => {
			this.messages = response.data.data.chat
		})
		.catch(e => console.log(e))
	},
  methods: {
    send () {
			if(this.text.length > 1 ){
				let data = JSON.stringify({
					message: this.text
				});
				axios.post(SERVER_URL + 'chats/'+ this.$store.getters.getResp.chats_ids[0].id, data, { headers: { 'Authorization': this.$store.getters.getToken,'Content-Type': 'application/json' }})
					.then(response => {
						console.log(this.$store.getters.getResp);
						this.messages = response.data.data.chat
					})
					.catch(e => console.log(e))	
			}
		}
  }
}
</script>

<style lang='scss'>
.obratka{
  &__title{
    font-size: 26px;
    font-weight: 700;
    color: #0d1833;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__text{
    color: #0d1833;
    font-size: 18px;
    line-height: 22px;
  }
  .input{
    margin-top: 15px;
    margin-bottom: 15px;
    textarea,
    input{
      padding-left: 35px;
      padding-right: 35px;
      border-color: #ededee;
      color: #0d1833;
    }
  }
}
.chat{
	&__odesc{
		color: #0d1833;
		font-size: 26px;
		text-transform: uppercase;
		font-weight: 700;
		margin-bottom: 20px;
	}
	&__header{
		display: flex;
		align-items: center;
		margin-bottom: 30px;
	}
	&__avatar{
		width: 42px;
		height: 42px;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		overflow: hidden;
		img{
			height: 100%;
			width: auto;
		}
	}
	&__header &__avatar{
		margin-left: 20px;
		margin-right: 12px;
	}
	&__type{
		color: #1c52cc;
		font-size: 18px;
		font-weight: 600;
	}
	&__name{
		color: #0d1833;
		text-decoration: none;
		border-bottom: 1px solid #0d1833;
		font-weight: 600;
	}
	&__row{
		display: flex;
		align-items: flex-start;
		margin-bottom: 30px;
		&.from{
			flex-direction: row-reverse;
			.chat__text{
				text-align: right;
			}
			.chat__top{
				justify-content: flex-end;
				flex-direction: row;
			}
			.chat__name{
				margin-left: 18px;
				margin-right: 0;
			}
			.chat__avatar{
				margin-right: 0;
				margin-left: 15px;
			}
		}
	}
	&__row &__name{
		border: none;
		margin-left: 0;
		margin-right: 18px;
	}
	&__row &__avatar{
		min-width: 42px;
		margin-right: 15px;
	}
	&__top{
		display: flex;
		align-items: flex-end;
		flex-direction: row-reverse;
		justify-content: flex-end;
		margin-bottom: 10px;
	}
	&__date{
		color: #7f8593;
		font-size: 18px;
	}
	&__info{
		font-size: 18px;
		color: #0d1833;
	}
	&__content{
		height: 324px;
		overflow-y: scroll;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-right: 20px;
	}
	&__footer{
		display: flex;
		margin-top: 20px;
		position: relative;
		input{
			width: 100%;
			height: 62px;
			padding-left: 40px;
			padding-right: 330px;
			border: 2px solid #ededee;
			border-radius: 31px;
			outline: none;
			font-size: 18px;
			font-weight: 700;
		}
		.btn{
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}
</style>
