<template>
  <div class='page'>
    <Header/>
    <section class='user' v-if="this.$store.getters.getResp.userType">
      <div class="loading" v-if="loading"></div>
      <div class='container'>
        <div class='user__flex'>
          <div class='user__left user--white'>
            <UserProfile/>
          </div>
          <div class='user__right'>
						<div class="chat__controls">
							<div class="chat__arrow" v-bind:class="{active:this.type=='raspis'}" @click="type='raspis'">Расписание</div>
							<div class="chat__arrow" v-bind:class="{active:this.type=='chat'}"  @click="type='chat'">Чат</div>
							<router-link class="chat__arrow" :to="'/tasks/' + student_id">Проверка</router-link>
							<!-- <div class="chat__arrow" v-bind:class="{active:this.type=='quest'}"  @click="type='quest'">Задания</div> -->
						</div>
						<div class="user__100 user--white questions" v-if="type=='raspis'">
							<div v-if="stud.schedule !== null">
									<div class="questions__box" v-for="(studx, index) in stud.schedule" v-bind:key="index" >
										<div class="questions__name">
											{{studx.day}}
										</div>
										<div class="questions__text">
											{{studx.from}} - {{studx.to}}
										</div>
									</div>
							</div>
								<div class="select__raspis" v-else>
                  <div class="user__oname">Посоветуйте расписание</div>
                  <div class="selectrasp ddd">
										<div class="selectrasp__row">
											<div class="input userform__input">
												<multiselect v-model="currDay" :options="day" :searchable="false"  :show-labels="false" placeholder="Выберите день недели"></multiselect>
											</div>
											<div class="input userform__input" v-if="currDay !== ''">
												<multiselect v-model="currFrom" :options="time" :searchable="false"  :show-labels="false" placeholder="Время начала"></multiselect>
											</div>
											<div class="input userform__input" v-if="currFrom !== ''">
												<multiselect v-model="currTo" :options="calcTime()" :searchable="false"  :show-labels="false" placeholder="Время завершения"  @select="onSelect" ></multiselect>
											</div>
										</div>
									</div>
                </div>
						</div>
            <div class='user__100 user--white chat' v-if="type=='chat'">
							<div class="chat__odesc">Чат с учеником</div>
							<div class="chat__header" v-if="false">
								<div class="chat__type">Мой учитель</div>
								<div class="chat__avatar"><img :src="messages.teacher_avatar" :alt="messages.teacher_name"></div>
								<div class="chat__name">{{messages.teacher_name}}</div>
							</div>
							<div class="chat__content" id="scrolled">
								<div class="chat__row" v-for="mes in messages.messages" v-bind:key="mes.id" v-bind:class="{ from : mes.is_student_message}">
									<div class="chat__avatar">
										<img v-bind:src="messages.teacher_avatar" v-bind:alt="messages.teacher_name" v-if="!mes.is_student_message">
										<img v-bind:src="messages.student_avatar" v-bind:alt="messages.student_name" v-if="mes.is_student_message">
									</div>
									<div class="chat__text">
										<div class="chat__top">
											<div class="chat__date">{{mes.created_at_formated}}</div>
											<div class="chat__name" v-if="!mes.is_student_message">{{messages.teacher_name}}</div>
											<div class="chat__name" v-if="mes.is_student_message">{{messages.student_name}}</div>
										</div>
										<div class="chat__info">
											<div class="chat__html">{{mes.message}}</div>
										</div>
									</div>
								</div>
							</div>
							<div class="chat__footer">
								<input type="text" placeholder="Напишите сообщение" v-model="text">
								<button type="submit" class="btn" @click="send">Отправить</button>
							</div>
            </div>
						<div class="raspisanie" v-if="type=='quest'">
							<div class="raspisanie__name" v-if="newTask.length > 0">Новые</div>
							<div class="raspisanie__flex" v-if="newTask.length > 0">
								<div class="raspisanie__box" v-for="(newx, index) in newTask" v-bind:key="index">
									<div class="raspisanie__left">
										<div class="raspisanie__title">{{newx.section_title}}</div>
									</div>
									<div class="raspisanie__right">
										<router-link to="/hz" class="btn btn--bas">Проверить</router-link>
									</div>
								</div>
							</div>
							<div class="raspisanie__name olds" v-if="oldTask.length > 0">Архив</div>
							<div class="raspisanie__flex" v-if="oldTask.length > 0">
								<div class="raspisanie__box" v-for="(oldx, index) in oldTask" v-bind:key="index">
									<div class="raspisanie__left">
										<div class="raspisanie__title">{{oldx.section_title}}</div>
									</div>
									<div class="raspisanie__right">
										<router-link to="/hz" class="btn btn--bas">Проверить</router-link>
									</div>
								</div>
							</div>
						</div>
          </div>
        </div>
      </div>
    </section>
    <section class='error' v-if="!this.$store.getters.getResp.userType">
      <div class='container'>
        <div style='color:red; padding-top:20vh;padding-bottom:20vh; font-size: 32px; text-aling:center'>Ошибка, нет такого типа пользователя</div>
      </div>
    </section>
    <Footer/>
  </div>
</template>

<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import Multiselect from "vue-multiselect"


import UserProfile from '@/components/UserProfile'
import axios from 'axios'
import { SERVER_URL } from '../constants'
import moment from 'moment'

export default {
  name: 'Chat2',
  components: {
    Header,
    Footer,
    UserProfile,
		Multiselect
  },
  data: function () {
    return {
      loading: false,
      text: '',
			title: '',
			messages: {},
			id: false,
			student_id: false,
			type: 'chat',
			newTask: [],
			oldTask: [],
			stud: {},
			currDay: '',
			currFrom: '',
			currTo: '',
			day: ['Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота', 'Воскресенье'],
			time: ['01:00', '02:00','03:00','04:00','05:00','06:00','07:00','08:00','09:00','10:00','11:00','12:00','13:00','14:00','15:00','16:00','17:00','18:00','19:00','20:00','21:00','22:00','23:00','24:00']
    }
	},
	created () {
		this.$store.dispatch('userInfo')
		this.id = this.$route.params.id;
		axios.get(SERVER_URL + 'chats/'+ this.id, {headers: { 'Authorization': this.$store.getters.getToken }})
			.then(response => {
				this.student_id = response.data.data.chat.student_id;
				this.mountedStudent(student_id);
				this.messages = response.data.data.chat
			})
			.catch(e => console.log(e))
	},
  methods: {
		calcTime(){
			var max = parseInt(this.currFrom.slice(0, -3));
			return this.time.filter((keyx)=>{
				let key = parseInt(keyx.slice(0, -3))
				return key > max
			})
		},
		onSelect(selectedOption, id) {
			this.text = "Прошу вас, поставить расписание на: " + this.currDay +" c "+ this.currFrom + " до " + selectedOption;
			this.send()
			console.log(this);
			this.text = "";
			this.type = "chat";
		},
		mountedStudent (id) {
			axios
				.get(SERVER_URL + "students", {
					headers: { Authorization: this.$store.getters.getToken }
				})
				.then(response => {
					response.data.data.students.forEach(element => {
						if(element.id === id){
							this.stud = element;
						}
					});
				})
				.catch(e => {
					console.log(e);
				});
		},
    send () {
			if(this.text.length > 1 ){
				let data = JSON.stringify({
					message: this.text
				});
				this.id = this.$route.params.id;
				axios.post(SERVER_URL + 'chats/'+ this.id, data, { headers: { 'Authorization': this.$store.getters.getToken,'Content-Type': 'application/json' }})
					.then(response => {
						this.messages = response.data.data.chat
					})
					.catch(e => console.log(e))	
			}
		}
  }
}
</script>

<style lang="scss">
.questions{
	display: flex;
	flex-wrap: wrap;
	&__box{
		width: 32%;
		margin-bottom: 10px;
	}
	&__name{
		font-weight: 700;
		color: #0d1833;
		font-size: 24px;
		margin-bottom: 10px;
	}
	&__text{
		font-weight: 600;
		color: #1c52cc;
		font-size: 18px;
	}
}
.chat__controls{
	display: flex;
	margin-bottom: 25px;
}
.chat__arrow{
	padding-left: 65px;
	padding-right: 65px;
	padding-top: 15px;
	padding-bottom: 15px;
	border: 2px solid #e7e9ee;
	border-radius: 30px;
	text-decoration: none;
	color: #0d1833;
	font-weight: 600;
	margin-right: 30px;
	cursor: pointer;
	&.active,
	&:hover{
		border-color: #1c52cc;
	}
}
.raspisanie{
	&__left{
		width: 80%;
		padding-right: 50px;
	}
	&__right{
		width: 20%;
		.btn{
			width: 100%;
			height: 52px;
		}
	}
	&__name{
		font-weight: 600;
		font-size: 20px;
		color: #1c52cc;
		border-bottom: 1px solid #1c52cc;
		display: inline-block;
		margin-bottom: 20px;
	}
	&__title{
		color: #0d1833;
		font-weight: 700;
		font-size: 18px;
	}
	&__box{
		padding-left: 35px;
		padding-right: 35px;
		border-radius: 15px;
		background-color: #fff;
		padding-top: 20px;
		padding-bottom: 20px;
		box-shadow: 0px 8px 29px 0px rgba(13, 24, 51, 0.06);
		display: flex;
		align-items: center;
		&:not(:last-child){
			margin-bottom: 20px;
		}
	}
}
.selectrasp.ddd{
	width: 100%;
}
.select__raspis{
	width: 100%;
}
</style>

