<template>
  <div class='page'>
    <Header/>
    <footer class="footer" v-bind:class="{ footerAnimated: animated }">
    <div class="container">
      <Breadcrumbs last='Контакты'/>
      <div class="footer__name">Контакты</div>
      <div class="footer__flex">
        <div class="footer__row">
          <div class="footer__desc">Телефон</div>
          <div class="footer__text">
            <a v-for="(phone, index) in this.$store.getters.getPhones" v-bind:key="index" v-bind:href="`tel:${phone}`"  class="footer__link">{{ phone }}</a>
          </div>
        </div>
        <div class="footer__row">
          <div class="footer__desc">E-mail</div>
          <div class="footer__text">
            <a v-bind:href="`mailto:${this.$store.getters.getEmail}`" class="footer__link">{{this.$store.getters.getEmail}}</a>
          </div>
        </div>
        <div class="footer__row">
          <div class="footer__desc">Skype</div>
          <div class="footer__text">
            <a v-bind:href="`skype:${this.$store.getters.getSkype}`" class="footer__link">{{this.$store.getters.getSkype}}</a>
          </div>
        </div>
        <div class="footer__row">
          <div class="footer__desc"></div>
          <div class="footer__text">
            <div class="social">
              <a v-bind:href="this.$store.getters.getFa" v-if="this.$store.getters.getFa" class="social__item" target="_blank"><svg><use xlink:href='static/svg/sprite.svg#fa'></use></svg></a>
              <a v-bind:href="this.$store.getters.getGo" v-if="this.$store.getters.getGo" class="social__item" target="_blank"><svg><use xlink:href='static/svg/sprite.svg#go'></use></svg></a>
              <a v-bind:href="this.$store.getters.getVk" v-if="this.$store.getters.getVk" class="social__item" target="_blank"><svg><use xlink:href='static/svg/sprite.svg#vk'></use></svg></a>
              <a v-bind:href="this.$store.getters.getInstagram" v-if="this.$store.getters.getInstagram" class="social__item" target="_blank"><svg><use xlink:href='static/svg/sprite.svg#in'></use></svg></a>
              <a v-bind:href="this.$store.getters.getOd" v-if="this.$store.getters.getOd" class="social__item" target="_blank"><svg><use xlink:href='static/svg/sprite.svg#od'></use></svg></a>
            </div>
          </div>
        </div>
      </div>
      <div class="gmap">
        <GmapMap style="width: 100%; height: 455px;" :zoom="14" :center="{lat: this.$store.getters.getLat, lng: this.$store.getters.getLng}">
          <GmapMarker
            :position="{
              lat: this.$store.getters.getLat,
              lng: this.$store.getters.getLng
            }"
          />
        </GmapMap>
      </div>
      <form @submit="checkForm" action="/mail.php" class="footer__form" novalidate>
        <div class="footer__formname">Нужен чёткий план как выучить английский?<br>Записывайтесь на бесплатный пробный урок</div>
        <input type="hidden" name="nameform" value="Заявка с футера">
        <div class="footer__formflex">
          <div class="footer__formrow">
            <label class="input">
              <div class="input__placeholder">
                <div class="input__icon"><svg><use xlink:href='static/svg/sprite.svg#user'></use></svg></div>
                <div class="input__text">Имя</div>
              </div>
              <input type="text" name="name" v-model="name" @focus="focused" @blur="unfocus">
            </label>
          </div>
          <div class="footer__formrow">
            <label class="input">
              <div class="input__placeholder">
                <div class="input__icon"><svg><use xlink:href='static/svg/sprite.svg#message'></use></svg></div>
                <div class="input__text">Номер телефона</div>
              </div>
              <input type="text" name="phone" v-model="phone" @focus="focused" @blur="unfocus">
            </label>
          </div>
          <div class="footer__formrow">
            <button type="submit" class="btn btn--base">Получить уроки бесплатно</button>
          </div>
        </div>
        <div class="footer__formcenter">
          <label class="checkbox">
            <input type="checkbox" name="accept" class="checkbox__checkbox" v-model="accept">
            <div class="checkbox__fake"></div>
            <div class="checkbox__text">Даю согласие на обработку персональных данных</div>
          </label>
        </div>
      </form>
      <div class="footer__flex">
        <div class="footer__row">
        <div class="footer__links">Политика конфиденциальности</div>
      </div>
      </div>
    </div>
  </footer>
  </div>
</template>

<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Breadcrumbs from '@/components/Breadcrumbs.vue'

export default {
  name: 'Contacts',
  components: {
    Header,
    Breadcrumbs
  },
  data: function () {
    return {
      loaded: false,
      name: null,
      phone: null,
      accept: false,
      errors: [],
      animated: false
    }
  },
  created () {
    setTimeout(() => {
      this.animated = true
    }, 3000)
  },
  methods: {
    checkForm: function (e) {
      this.errors = []
      if (!this.name) {
        this.errors.push('Укажите имя')
      }
      if (!this.phone) {
        this.errors.push('Укажите телефон')
      } else if (!this.validPhone(this.phone)) {
        this.errors.push('Укажите корректный телефон')
      }
      if (!this.errors.length) {
        return true
      }
      e.preventDefault()
    },
    validPhone: function (phone) {
      var re = /^((\+7|7|8)+([0-9]){10})$|\b\d{3}[-.]?\d{3}[-.]?\d{4}/
      return re.test(phone)
    },
    focused: function (e) {
      e.target.closest('.input').classList.add('input--focus')
    },
    unfocus: function (e) {
      if (!e.target.value.length) {
        e.target.closest('.input').classList.remove('input--focus')
      }
    }
  }
}
</script>

<style lang='scss'>
.gmap {
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 8px 29px 0px rgba(13, 24, 51, 0.06);
  overflow: hidden;
  margin-top: 20px;
}

</style>
