<template>
  <div class='page'>
    <Header/>
    <section v-if="course" class='examination'>
      <div class='container'>
        <Breadcrumbs v-bind:last='course.title'/>
        <div class='examination__name'>{{course.full_title}}</div>
        <div class="html" v-html="course.excerpt"></div>
          <div class='examination__flex'>
            <div class='examination__left'>
            <div class='examination__item' >
              <div class="html" v-html="course.content"></div>
            </div>
            </div>
            <div class='examination__right'>
              <div class="examination__box">
                <router-link v-if="type !== 'toefl'" to='/examination/toefl' class='btn btn--base'>TOEFL</router-link>
                <router-link v-if="type !== 'academic'" to='/examination/academic' class='btn btn--base'>IELTS academic</router-link>
                <router-link v-if="type !== 'general'" to='/examination/general' class='btn btn--base'>IELTS general</router-link>
              </div>
            </div>
          </div>
        </div>
    </section>
    <Footer/>
   </div>
</template>

<script>
// @ is an alias to /src
import Breadcrumbs from '@/components/Breadcrumbs.vue'
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'

import axios from 'axios'
import { SERVER_URL } from '../constants'
export default {
  name: 'Examination',
  components: {
    Breadcrumbs,
    Header,
    Footer
  },
  data: function () {
    return {
      loading: true,
      course: false,
      type: ''
    }
  },
  beforeRouteUpdate (to, from, next) {
    let id = 0
    if (to.params.examinationname === 'toefl') {
      id = 1
    } else if (to.params.examinationname === 'academic') {
      id = 2
    } else if (to.params.examinationname === 'general') {
      id = 3
    }
    this.type = to.params.examinationname
    axios
      .get(SERVER_URL + 'courses/' + id)
      .then(response => {
        this.course = response.data.data.course
      })
      .catch(e => {
        console.log(e)
      })
    next()
  },
  created () {
    let id = 0
    if (this.$route.params.examinationname === 'toefl') {
      id = 1
    } else if (this.$route.params.examinationname === 'academic') {
      id = 2
    } else if (this.$route.params.examinationname === 'general') {
      id = 3
    } else {
      this.$router.push('toefl')
    }
    this.type = this.$route.params.examinationname
    axios
      .get(SERVER_URL + 'courses/' + id)
      .then(response => {
        this.course = response.data.data.course
      })
      .catch(e => {
        console.log(e)
      })
  }
}
</script>

<style lang='scss'>
.examination {
  padding-bottom: 117px;
  &__name {
    margin-top: 20px;
    margin-bottom: 35px;
    color: #0d1833;
    font-size: 44px;
    line-height: 44px;
    font-weight: 700;
  }
  &__flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
  }
  &__left {
    width: 970px;
  }
  &__right {
    width: 300px;
  }
  &__item{
    background-color: #fff;
    border-radius: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 44px;
    padding-bottom: 44px;
    box-shadow: 0px 8px 29px 0px rgba(13, 24, 51, 0.06);
  }
  &__box{
    background-color: #fff;
    border-radius: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 34px;
    padding-bottom: 34px;
    box-shadow: 0px 8px 29px 0px rgba(13, 24, 51, 0.06);
  }
  .btn{
    height: 52px;
    &:not(:last-child){
      margin-bottom: 15px;
    }
  }
}
@media only screen and (max-width: 1440px) {
  .examination{
    padding-bottom: 50px;
  }
  .examination__left{
    width: 680px;
  }
}
</style>
