<template>
  <div class='page'>
    <Header/>
    <section class='faq'>
      <div class='container'>
        <Breadcrumbs last='Частые вопросы'/>
        <div class='faq__name'>Частые вопросы</div>
          <div class='faq__flex'>
            <div class='faq__left'>
            <div class='faq__item' >
              <FaqItem v-for='(faq, index) in faqs' v-bind:key='faq.id' v-bind:index='index' v-bind:name='faq.title' v-bind:descript='faq.content'/>
            </div>
            </div>
            <div class='faq__right'>
              <Sidebar/>
            </div>
          </div>
        </div>
    </section>
    <Footer/>
  </div>
</template>

<script>
// @ is an alias to /src
import Breadcrumbs from '@/components/Breadcrumbs.vue'
import FaqItem from '@/components/FaqItem.vue'
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import Sidebar from '@/components/Sidebar.vue'

import axios from 'axios'
import { SERVER_URL } from '../constants'
export default {
  name: 'Faq',
  components: {
    Breadcrumbs,
    FaqItem,
    Header,
    Footer,
    Sidebar
  },
  data: function () {
    return {
      loading: true,
      faqs: [],
      offset: 0
    }
  },
  created () {
    axios
      .get(SERVER_URL + 'questions')
      .then(response => {
        this.faqs = response.data.data.questions
        this.loading = false
        this.offset = this.offset + 10
      })
      .catch(e => {
        console.log(e)
      })
  }
}
</script>

<style lang='scss'>
.faq {
  padding-bottom: 117px;
  &__name {
    margin-top: 20px;
    margin-bottom: 35px;
    color: #0d1833;
    font-size: 44px;
    line-height: 44px;
    font-weight: 700;
  }
  &__flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__left {
    width: 860px;
  }
  &__right {
    width: 410px;
  }
}
@media only screen and (max-width: 1440px) {
  .faq__left{
    width: 650px;
  }
  .faq__right{
    width: 340px;
  }
  .faqitem__name{
    font-size: 16px;
  }
}
</style>
