<template>
		<div class='page'>
				<Header/>
				<section class='user' v-if="this.$store.getters.getResp.userType">
					<div class="loading" v-if="loading"></div>
					<div class='container'>
						<div class='user__flex'>
							<div class='user__left user--white'>
								<UserProfile/>
							</div>
							<div class='user__right leksika'>
								<div class="leksika__title">{{read.title}}</div>
            		<div class="user__100 user--white">
									<div class="html" v-html="read.content"></div>
            		</div>
							</div>
						</div>
					</div>
				</section>
		</div>
</template>

<script>

import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import UserProfile from '@/components/UserProfile.vue'

import axios from 'axios'
import { SERVER_URL } from '../constants'

export default {
	name: 'Gram',
	components: {
    Header,
    Footer,
    UserProfile
  },
	data: function () {
    return {
      loading: true,
      id: false,
      read: {}
    }
  },
  created () {
    this.id = this.$route.params.id;
    axios
      .get(SERVER_URL + 'texts/' + this.id, {headers: { 'Authorization': this.$store.getters.getToken }})
      .then(response => {
        this.read = response.data.data.text
        this.loading = false
      })
      .catch(e => {
        console.log(e)
        this.$router.push('404')
      })
  }
}
</script>
