<template>
  <div class='page'>
    <Header/>
    <section class='user' v-if="this.$store.getters.getResp.userType">
      <div class="loading" v-if="loading"></div>
      <div class='container'>
        <div class='user__flex'>
          <div class='user__left user--white'>
            <UserProfile/>
          </div>
          <div class='user__right gramms'>
            <div class="leksika__title">Грамматика</div>
            <div class="gramms__row user--white" v-for="(theme, index) in themes" v-bind:key="theme.id">
              <div class="gramms__de">{{theme.title}}</div>
              <div class="gramms__flex">
                {{theme.items}}
                <router-link class="gramms__item" v-for="link in links[index]" v-bind:key="link.id" :to="'gramms/'+link.id">{{link.title}}</router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class='error' v-if="!this.$store.getters.getResp.userType">
      <div class='container'>
        <div style='color:red; padding-top:20vh;padding-bottom:20vh; font-size: 32px; text-aling:center'>Ошибка, нет такого типа пользователя</div>
      </div>
    </section>
    <Footer/>
  </div>
</template>

<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import Stars2 from '@/components/Stars2.vue'
import UserProfile from '@/components/UserProfile.vue'
import axios from 'axios'
import { SERVER_URL } from '../constants'

export default {
  name: 'Gramms',
  components: {
    Header,
    Footer,
    UserProfile
  },
  data: function () {
    return {
      themes: [],
      links: [],
      loading: true
    }
  },
  created () {
    this.$store.dispatch('userInfo')
    axios
      .get(SERVER_URL + 'articles/themes', {headers: { 'Authorization': this.$store.getters.getToken }, params: {limit: 1000}})
      .then(response => {
        this.themes = response.data.data.article_themes
        for(let x = 0; x < this.themes.length; x ++) {
        axios
          .get(SERVER_URL + 'articles/themes/' + this.themes[x].id, {headers: { 'Authorization': this.$store.getters.getToken }, params: {limit: 1000}})
          .then(response => {
            this.links.push(response.data.data.articles);
            this.loading = false
          })
          .catch(e => {
            console.log(e)
          })
      }
      })
      .catch(e => {
        console.log(e)
      })
  },
  methods: {
  }
}
</script>
<style lang='scss'>
.gramms {
  &__row{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 30px;
  }
  &__de{
    font-weight: 700;
    color: #0d1833;
    font-size: 26px;
    margin-bottom: 15px;
  }
  &__flex{
    display: flex;
    flex-wrap: wrap;
  }
  &__item{
    display: block;
    text-decoration: none;
    width: 33.3333333%;
    padding-right: 10px;
    margin-bottom: 18px;
    padding-left: 20px;
    position: relative;
    color: #0d1833;
    font-size: 20px;
    &:after{
      width: 6px;
      height: 6px;
      border-radius: 50%;
      content: '';
      position: absolute;
      top: 7px;
      left: 0;
      background-color: #1c52cc;
    }
  }
}
@media only screen and (max-width: 1440px) {
  .gramms__item{
    width: 50%;
  }
  .gramms__row{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
</style>
