<template>
  <div class='home'>
    <Header type="headermain"/>
      <Mainblock v-for="mainblock in mainblocks" v-bind:key="mainblock.id" v-bind:video_reviews="video_reviews" v-bind:block="mainblock"/>
    <Footer/>
  </div>
</template>

<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import Mainblock from '@/components/Mainblock.vue'

import axios from 'axios'
import { SERVER_URL } from '../constants'

export default {
  name: 'home',
  components: {
    Header,
    Footer,
    Mainblock
  },
  data: function () {
    return {
      loading: true,
      mainblocks: [],
      video_reviews: []
    }
  },
  created () {
    axios
      .get(SERVER_URL + 'video-reviews', {params: {limit: 2}})
      .then(response => {
        this.video_reviews = response.data.data.video_reviews
      })
      .catch(e => {
        console.log(e)
      })
    axios.get(SERVER_URL + 'frontpage').then(response => {
      this.mainblocks = response.data.data.blocks
    }).catch(e => {
      console.log(e)
    })
  }
}
</script>
