<template>
  <div class='page'>
    <Header/>
    <section class='user' v-if="this.$store.getters.getResp.userType">
      <div class="loading" v-if="loading"></div>
      <div class='container'>
        <div class='user__flex'>
          <div class='user__left user--white'>
            <UserProfile/>
          </div>
          <div class='user__right leksika'>
            <div class="leksika__title">Лексика</div>
            <div class="user__100 user--white">
              <div class="leksika__search">
                <div class="input leksika__input">
                  <input type="text" name="search" placeholder="Введите слово" v-model="searchText" @keyup="find">
                </div>
                <div class="input leksika__input">
                  <button class="btn" @click="search">Найти</button>
                </div>
              </div>
            </div>
            <div class="leksika__row user--white liksos" v-show="!searching">
              <div class="leksika__title">{{currCat}}</div>
              <div class="leksika__table">
                <div class="leksika__rox" v-for="(letter, index3) in letters" v-bind:key="index3">
                  <div class="leksika__lr">
                    {{letter.word}}
                    <div class="leksika__tw">{{letter.type}}</div>
                  </div>
                  <div class="leksika__rg"><span v-for="(letx, index5) in letter.translate" v-bind:key="index5">{{letx}}</span></div>
                </div>
              </div>
            </div>
            <div class="leksika__row" v-show="!searching">
              <div class="leksika__title">Темы</div>
              <div class="leksika__flex">
                <div class="leksika__box" v-for="(list, index) in lists" v-bind:key="index" v-bind:class="{active:index==activeIndex}" v-on:click="chageText(list.id)">{{list.title}}</div>
              </div>
            </div>
            <div class="leksika__results">
               <div class="leksika__row user--white liksos" v-show="searching">
                <div class="leksika__title">Поиск по фразе "{{txtx}}"</div>
                <div class="leksika__table">
                  <div class="leksika__rox" v-for="(letter, index4) in result" v-bind:key="index4">
                    <div class="leksika__lr">
                      {{letter.word}}
                      <div class="leksika__tw">{{letter.type}}</div>
                    </div>
                    <div class="leksika__rg"><span v-for="(letx, index5) in letter.translate" v-bind:key="index5">{{letx}}</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class='error' v-if="!this.$store.getters.getResp.userType">
      <div class='container'>
        <div style='color:red; padding-top:20vh;padding-bottom:20vh; font-size: 32px; text-aling:center'>Ошибка, нет такого типа пользователя</div>
      </div>
    </section>
    <Footer/>
  </div>
</template>

<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import UserProfile from '@/components/UserProfile.vue'
import axios from 'axios'
import { SERVER_URL } from '../constants'

export default {
  name: 'User',
  components: {
    Header,
    Footer,
    UserProfile
  },
  data: function () {
    return {
      lists: [],
      letters: [],
      currCat: '',
      activeIndex: 0,
      loading: true,
      searchText: '',
      searching: false,
      result: [],
      txtx: ''
    }
  },
  created () {
    this.$store.dispatch('userInfo')
    axios
      .get(SERVER_URL + 'words/themes', {headers: { 'Authorization': this.$store.getters.getToken }})
      .then(response => {
        this.lists = response.data.data.word_themes
        axios
          .get(SERVER_URL + 'words/themes/' + this.lists[0].id, {headers: { 'Authorization': this.$store.getters.getToken }, params: {limit: 1000}})
          .then(response => {
            this.letters = response.data.data.words
            this.currCat = response.data.data.word_theme.title
            this.loading = false
          })
          .catch(e => {
            console.log(e)
          })
      })
      .catch(e => {
        console.log(e)
      })
  },
  methods: {
    chageText: function (theme) {
      this.activeIndex = theme - 1
      axios
        .get(SERVER_URL + 'words/themes/' + theme, {headers: { 'Authorization': this.$store.getters.getToken }})
        .then(response => {
          this.letters = response.data.data.words
          this.currCat = response.data.data.word_theme.title
        })
        .catch(e => {
          console.log(e)
        })
    },
    search: function () {
      if(this.searchText.length > 1){
        this.searching = true
          axios
          .get(SERVER_URL + 'words/search?query='+ this.searchText, {headers: { 'Authorization': this.$store.getters.getToken }})
          .then(response => {
            this.result = response.data.data.results
            this.txtx = this.searchText
          })
          .catch(e => {
            console.log(e)
          })
      } else {
        this.searching = false
      }
    },
    find: function () {
      if(this.searchText.length > 1) {
      } else {
        this.searching = false
      }
    }
  }
}
</script>
<style lang='scss'>
.leksika {
  &__row{
    margin-bottom: 30px;
  }
  &__title{
    font-weight: 700;
    color: #0d1833;
    font-size: 44px;
    margin-bottom: 30px;
  }
  &__box{
    border-radius: 15px;
    background-color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 8px 29px 0px rgba(13, 24, 51, 0.06);
    font-weight: 700;
    text-decoration: none;
    font-size: 26px;
    color: #0d1833;
    width: 32%;
    text-align: center;
    margin-right: 4%;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    margin-right: 2%;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    &:hover,
    &.active{
      background-color: #2fd173;
      color: #fff;
      box-shadow: 0px 8px 29px 0px rgba(47, 209, 115, 0.33);
    }
    &:active{
      top: 1px;
    }
    &:nth-child(3n+3){
      margin-right: 0;
    }
  }
  &__flex{
    display: flex;
    flex-wrap: wrap;
  }
  &__input{
    width: 530px;
    input{
      border-color: #ededee;
      color: #0d1833;
      padding-left: 38px;
    }
  }
  &__search{
    display: flex;
    justify-content: space-between;
  }
  &__input:last-child{
    width: 315px;
  }
}
.liksos{
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.leksika__table{

}
.leksika__rox{
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 700;
  color: #0d1833;
  line-height: 18px;
}
.leksika__lr{
  width: 180px;
  margin-right: 30px;
}
.leksika__tw{
  font-size: 18px;
  font-weight: 400;
  color: #7f8593;
}
.leksika__rg{
  flex-grow: 1;
  span{
    margin-left: 15px;
  }
}
@media only screen and (max-width: 1440px) {
  .leksika__box{
    font-size: 18px;
    line-height: 20px;
  }
  .leksika__title{
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 15px;
  }
  .leksika__input:last-child{
    width: 230px;
    .btn{
      width: 100%;
      height: 52px;
    }
  }
  .leksika__input{
    width: 450px;
    height: 52px;
    input{
      height: 100%;
    }
  }
  .leksika__rox{
    font-size: 16px;
  }
}
</style>
