<template>
  <div class='page'>
    <Header/>
    <section class='user' v-if="this.$store.getters.getResp.userType">
      <div class="loading" v-if="loading"></div>
      <div class='container'>
        <div class='user__flex'>
          <div class='user__left user--white'>
            <UserProfile/>
          </div>
          <div class='user__right lessons'>
            <div class="lessons__name">Уроки</div>
            <div class="user__100 user--white">
              <div class="progress">
                <div class="progress__name">Ваш прогресс:</div>
                <div class="progress__progress">
                  <div class="progress__green" :style="{width:this.$store.getters.getResp.progress+'%'}"><div v-if="this.$store.getters.getResp.progress > 5">{{this.$store.getters.getResp.progress}}%</div></div>
                </div>
              </div>
            </div>
            <div class="lessons__lists">
              <Lesson v-for="(lesson, index) in lessons" v-bind:key="index" v-bind:lesson="lesson"/>
            </div>
          </div>
          </div>
      </div>
    </section>
    <section class='error' v-if="!this.$store.getters.getResp.userType">
      <div class='container'>
        <div style='color:red; padding-top:20vh;padding-bottom:20vh; font-size: 32px; text-aling:center'>Ошибка, нет такого типа пользователя</div>
      </div>
    </section>
    <Footer/>
  </div>
</template>

<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import Lesson from '@/components/Lesson.vue'
import UserProfile from '@/components/UserProfile.vue'
import axios from 'axios'
import { SERVER_URL } from '../constants'

export default {
  name: 'Lessons',
  components: {
    Header,
    Footer,
    Lesson,
    UserProfile
  },
  data: function () {
    return {
      lessons: [],
      loading: true
    }
  },
  created () {
    this.$store.dispatch('userInfo')
    axios
      .get(SERVER_URL + 'lessons', {
        headers: { 'Authorization': this.$store.getters.getToken }
      })
      .then(response => {
        this.lessons = response.data.data.lessons
        this.loading = false
      })
      .catch(error => {
        console.log(error)
      })
  }
}
</script>
<style lang='scss'>
.lessons{
  &__name{
    font-size: 44px;
    color: #0d1833;
    font-weight: 700;
    margin-bottom: 20px;
  }
  &__lists{
    display: flex;
    flex-wrap: wrap;
  }
  .lessons__lists .progress{
    display: block;
  }
  .user__100 {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    .progress{
      margin-bottom: 0;
    }
  }
}

</style>
