<template>
  <div class='page'>
    <Header/>
    <section class='user' v-if="this.$store.getters.getResp.userType">
      <div class="loading" v-if="loading"></div>
      <div class='container'>
        <div class='user__flex'>
          <div class='user__left user--white'>
            <UserProfile/>
          </div>
          <div class='user__right lessonx'>
            <div class="lessons__name">{{title}}</div>
            <div class="modules">
              <div class="modules__tabnames">
                <div class="modules__tabname">1111111111111111</div>
              </div>
              <div class="modules__tabs">
                <div class="modules__tab">
                  <div class="sectionsx">
                    <div class="sectionsx__tabnames">
                      <div class="sectionsx__tabname"></div>
                    </div>
                    <div class="sectionsx__tabs">
                      <div class="sectionsx__tab"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
				</div>
      </div>
    </section>
    <section class='error' v-if="!this.$store.getters.getResp.userType">
      <div class='container'>
        <div style='color:red; padding-top:20vh;padding-bottom:20vh; font-size: 32px; text-aling:center'>Ошибка, нет такого типа пользователя</div>
      </div>
    </section>
    <Footer/>
  </div>
</template>

<script>
// @ is an alias to /src
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";
import Lesson from "@/components/Lesson.vue";
import UserProfile from "@/components/UserProfile.vue";
import axios from "axios";
import { SERVER_URL } from "../constants";

export default {
  name: "Lesson",
  components: {
    Header,
    Footer,
    Lesson,
    UserProfile
  },
  data: function() {
    return {
      sections: [],
			loading: true,
			title: ''
    };
  },
  created() {
    this.$store.dispatch("userInfo");
    axios.get(SERVER_URL + "modules/" + this.$route.params.id, {
      headers: { 
        "Accept": "application/json",
        Authorization: this.$store.getters.getToken 
      }
    }).then(response => {
      this.sections = response.data.data.module.sections;
      this.title = response.data.data.module.title;
      this.loading = false;
    }).catch(error => {
      console.log(error);
    });
  },
  methods: {
    dateFormat (date) {
      
    }
  }
};
</script>
<style lang='scss'>
.lessons {
}
</style>
