<template>
  <div class='page'>
    <Header/>
    <section class='login'>
      <div class="container">
        <Breadcrumbs last='Авторизация'/>
        <div class="login__name">Авторизация</div>
        <form class="login__form" novalidate>
          <label class="input login__input" v-bind:class="{error:response}">
            <div class="input__placeholder">
              <div class="input__icon"><svg><use xlink:href='static/svg/sprite.svg#message'></use></svg></div>
              <div class="input__text">Почта</div>
            </div>
            <input type="email" v-model="email" class="input__input" name="email" @focus="focused" @blur="unfocus" autocomplete="off">
          </label>
          <label class="input login__input" v-bind:class="{error:response}">
            <div class="input__placeholder">
              <div class="input__icon"><svg><use xlink:href='static/svg/sprite.svg#key'></use></svg></div>
              <div class="input__text">Пароль</div>
            </div>
            <input type="password" name="password" v-model="password" @focus="focused" @blur="unfocus" class="input__input" autocomplete="off">
          </label>
          <div class="login__center" v-if="this.response">{{response}}</div>
          <div class="input login__input">
            <button type="submit" class="btn btn--base" @click="send">Войти</button>
          </div>
          <div class="login__centerx">
            <router-link to="/register" class="login__link">Регистрация</router-link>
          </div>
        </form>
      </div>
    </section>
    <Footer/>
  </div>
</template>

<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import Breadcrumbs from '@/components/Breadcrumbs.vue'

import axios from 'axios'
import { SERVER_URL } from '../constants';
export default {
  name: 'Login',
  components: {
    Header,
    Footer,
    Breadcrumbs
  },
  data: function () {
    return {
      email: null,
      password: null,
      response: null
    }
  },
  methods: {
    send: function (e) {
      e.preventDefault()
      this.response = null
      axios
        .post('https://api.ie-exams.ru/oauth/token', {
          client_secret: 'ECn8ly6vPdAbxXqrsoLKWM8Big8EttwqoLo1yijE',
          grant_type: 'password',
          username: this.email,
          password: this.password,
          scope: '*',
          client_id: 1
        })
        .then(response => {
          this.$store.dispatch('autorize', response.data.token_type + ' ' + response.data.access_token)
          this.$router.push({ path: 'user' })
        })
        .catch(e => {
          console.log(e)
          this.response = 'Неверный логин или пароль'
        })
    },
    focused: function (e) {
      e.target.closest('.input').classList.add('input--focus')
      e.target.closest('.input').classList.remove('error')
    },
    unfocus: function (e) {
      if (!e.target.value.length) {
        e.target.closest('.input').classList.remove('input--focus')
      }
    }
  }
}
</script>

<style lang='scss'>
.login{
  padding-bottom: 100px;
  &__centerx{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &__link{
    color: #2fd173;
    font-weight: 600;
    line-height: 18px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
  }
  &__name{
    font-size: 60px;
    line-height: 59px;
    margin-bottom: 35px;
    font-weight: 700;
    margin-top: 25px;
    text-align: center;
  }
  &__center{
    color: #cc0000;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
  }
  &__form{
    border-radius: 15px;
    background-color: rgb(28, 82, 204);
    box-shadow: 0px 8px 29px 0px rgba(28, 82, 204, 0.33);
    padding-left: 50px;
    padding-right: 50px;
    width: 530px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 60px;
  }
  &__input{
    margin-bottom: 20px;
    &.error{
      input{
        border-color: #cc0000;
      }
    }
    .btn{
      width: 100%;
    }
  }
}
@media only screen and (max-width: 1440px) {
  .container{
    width: 1000px;
  }
}

</style>
