<template>
	<div class='page'>
    <Header/>
    <section class='user' v-if="this.$store.getters.getResp.userType">
      <div class="loading" v-if="loading"></div>
      <div class='container'>
        <div class='user__flex'>
          <div class='user__left user--white'>
            <UserProfile/>
          </div>
          <div class='user__right lessons lessonsxx  zog'>
            <div class="lessons__name">{{lesson.title}}</div>
            <div class="modules" v-if="lesson.modules">
              <div class="modules__tabs">
                <div class="modules__tab" v-for="(mod, index1) in lesson.modules" v-bind:key="index1" v-bind:class="{ active: modActive==index1 }" @click="chageMod(index1, mod.id)">{{mod.title}}</div>
              </div>
            </div>
            <div class="lessons__lists" v-if="sections.length > 0">
              <div class="lesson" v-for="(sect, index2) in sections" v-bind:key="index2">
                <div class="lesson__name">{{sect.title}}</div>
                <router-link class="lesson__btn btn btn--base" :to="'/test/'+sect.id">Начать</router-link>
              </div>
						</div>
            <div class="lessons__clear" v-else>Нет тестов</div>
          </div>
        </div>
      </div>
    </section>
    <section class='error' v-if="!this.$store.getters.getResp.userType">
      <div class='container'>
        <div style='color:red; padding-top:20vh;padding-bottom:20vh; font-size: 32px; text-aling:center'>Ошибка, нет такого типа пользователя</div>
      </div>
    </section>
    <Footer/>
  </div>
</template>

<script>
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import UserProfile from '@/components/UserProfile.vue'
import axios from 'axios'
import { SERVER_URL } from '../constants'
import Progress from '@/components/Progress.vue'
import draggable from 'vuedraggable'

export default {
	components: {
		UserProfile,
		Header,
    Footer,
    Progress,
    draggable
	},
	name: 'Modules',
  data: function () {
    return {
			loading: true,
      lesson: {},
      modActive: 0,
      sections: [],
      sectionsActive: 0,
      tests: [],
      testsActive: 0,
      test: {},
      file: '',
      next: 'Ответить',
      input: '',
      sectId: false
    }
  },
	created() {
		this.$store.dispatch('userInfo')
		axios
      .get(SERVER_URL + 'lessons/' + this.$route.params.id, {
        headers: { 'Authorization': this.$store.getters.getToken }
      })
      .then(response => {
        this.lesson = response.data.data.lesson
        if(this.lesson.modules.length){
          this.getSections(this.lesson.modules[0].id)
        }
        this.loading = false
      })
      .catch(error => {
        console.log(error)
      })
  },
  methods: {
    nextx (e) {
      if(this.testsActive+1 >= this.tests.length){
      } else {
        if(this.test.answer == undefined){
          this.test.answer = '';
        }
        let arr;
        if(this.test.type == 'match'){
          arr = [{od:this.test.id,answer:this.test.answerx}]
        } else {
          arr = [{id:this.test.id,answers:this.test.answer}];
        }
        
        let data = {answers: JSON.stringify(arr)}
        data = JSON.stringify(data)
        axios.post(SERVER_URL + 'sections/'+this.sectId+'/check', data, { headers: { 'Authorization': this.$store.getters.getToken, "Content-Type": "application/json" } })
          .then(response => {
            this.testsActive++;
            this.chageTest(this.testsActive);
          })
          .catch(error => {
            console.log(error)
          })
        }
    },
    getSections (id) {
      axios.get(SERVER_URL + 'modules/' + id, {
        headers: { 'Authorization': this.$store.getters.getToken }
      }).then(response => {
        this.sections = response.data.data.module.sections;
        if(this.sections.length){
          this.getTests(this.sections[0].id)
        }
      }).catch(error => {
        console.log(error)
      })
    },
    getTests(id){
      this.sectId = id;
      axios.get(SERVER_URL + 'sections/' + id, {
        headers: { 'Authorization': this.$store.getters.getToken }
      }).then(response => {
        this.tests = response.data.data.section.tasks
        if(this.tests.length){
          this.getTest(this.tests[0])
        }
      }).catch(error => {
        console.log(error)
      })
    },
    getTest(test){
      this.test = test
      if(this.test.type=='checkbox' || this.test.type == 'match'){
        this.test.answer = [];
        if(this.test.type == 'match'){
          this.test.answer = this.test.pairs;
        }
      }
    },
    chageTest(index) {
      this.test = this.tests[index];
      if(this.test.type=='checkbox' || this.test.type == 'match'){
        this.test.answer = [];
        if(this.test.type == 'match'){
          this.test.answer = this.test.pairs;
        }
      }
      this.testsActive = index;
    },
    chageMod(index, id) {
      this.modActive = index;
      this.tests = [];
      this.getSections(id);
    },
    chageSect(index, id) {
      this.sectionsActive = index;
      this.getTests(id);
    }
  }
}
</script>

<style lang="scss">
.zog{
  .lesson{
    width: 288px;
    margin-right: 12px;
    &:nth-child(3n+3){
      margin-right: 0;
    }
  }
}
.lessons__clear{
  color: #0d1833;
  font-size: 26px;
  text-align: center;
  font-weight: 700;
}
.modules+.lessons__lists{
  margin-top: 40px;
}
.testx__fle{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .draggabel{
    width: 50%;
    transition: all ease-in-out .3s;
    padding: 30px;
    &:first-child{
      .item{
        position: relative;
        &:after{
          top: 50%;
          margin-top: -1px;
          left: 100%;
          background-color: #1c52cc;
          height: 2px;
          width: 60px;
          position: absolute;
          content: '';
        }
        &:before{
          top: 50%;
          margin-top: -7px;
          left: calc(100% + 46px);
          border-bottom: 2px solid #1c52cc;
          border-right: 2px solid #1c52cc;
          transform: rotate(-45deg);
          height: 12px;
          width: 12px;
          position: absolute;
          content: '';
        }
      }
    }
  }
  .item{
    width: 100%;
    border: 2px solid #1c52cc;
    color: #0d1833;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: move;
    transition: all ease-in-out .3s;
    border-radius: 4px;
    &:not(:last-child){
      margin-bottom: 10px;
    }
  }
}
.radio__flex,
.checkbox__flex{
  display: flex;
  flex-wrap: wrap;
}
.user__input--max{
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.testx{
  background-color: #f8fafe;
  border-radius: 15px;
  padding: 30px;
  .checkbox{
    width: 50%;
    margin-bottom: 10px;
  }
  .radio{
    width: 50%;
    &:not(:last-child){
      margin-bottom: 15px;
    }
    .radio__input:checked+.radio__fake{
      &:after{
        top: 3px;
        left: 3px;
      }
    }
    &__fake{ 
      border-color: #1c52cc;
      width: 26px;
      height: 26px;
      min-width: 26px;
      &:after{
        background-color: #1c52cc !important;
      }
    }
    &__text{
      color: #1c52cc;
    }
  }
  .user__input{
    &:not(:last-child){
      margin-bottom: 15px;
    }
    textarea{
      color: #0d1833;
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}
.modules{
  &__tabs{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }
  &__tab{
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 42px;
    border-radius: 21px;
    border: 2px solid #eeeeef;
    color: #0d1833;
    font-size: 18px;
    font-weight: 700;
    margin-right: 5px;
    margin-bottom: 5px;
    &.active{
      border-color: #1c52cc;
    }
  }
}
.sections{
  &__tabs{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }
  &__tab{
    color: #6a7796;
    font-size: 18px;
    text-decoration: underline;
    margin-right: 20px;
    cursor: pointer;
    &:hover,
    &.active{
      color: #1c52cc;
      text-decoration: none;
    }
  }
}
.tests{
  &__tabs{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  &__text{
    color: #0d1833;
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  &__tab{
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 32px;
    border-radius: 26px;
    border: 2px solid #eeeeef;
    color: #0d1833;
    font-size: 18px;
    font-weight: 700;
    margin-right: 20px;
    &.active{
      border-color: #1c52cc;
    }
  }
}
.lessonsxx{
  padding: 40px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 8px 29px 0px rgba(13, 24, 51, 0.06);
}
</style>

