<template>
  <div class='page'>
    <Header/>
    <section class='notfound'>
      <div class='container'>
        <div class="notfound__image">
          <img src="static/img/404.png" alt="">
        </div>
        <div class="notfound__text">
          Такой страницы не существует или неправильно набран адрес, <br>начните с главной страницы или воспользуйтесь поиском
        </div>
        <router-link to='/' class='btn btn--base' exact>Вернутся на главную</router-link>
      </div>
    </section>
    <Footer/>
  </div>
</template>

<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'

export default {
  name: 'NotFound',
  components: {
    Header,
    Footer
  }
}
</script>

<style lang='scss'>
.notfound {
  padding-top: 140px;
  padding-bottom: 160px;
  &__text{
    text-align: center;
    line-height: 29px;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  &__image{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      max-width: 100%;
    }
  }
  .btn{
    margin-top: 30px;
    margin-left: auto;
    width: 370px;
    margin-right: auto;
  }
}

</style>
