<template>
  <div class='page'>
    <Header/>
    <section class='user' v-if="this.$store.getters.getResp.userType">
      <div class="loading" v-if="loading"></div>
      <div class='container'>
        <div class='user__flex'>
          <div class='user__left user--white'>
            <UserProfile/>
          </div>
          <div class='user__right'>
            <div class='user__50 user--white'>
								<form class="obratka">
                  <div class="obratka__title">Обратная связь</div>
                  <div class="obratka__text">Наша служба поддержки работает каждый<br>день и в любое время суток готова<br>ответить на все ваши вопрсоы</div>
                  <div class="input"><input type="text" placeholder="Тема сообщения" v-model="title"></div>
                  <div class="input">
                    <textarea cols="30" rows="10" v-model="text" placeholder="Текст сообщения"></textarea>
                  </div>
                  <div class="input"><button type="submit" class="btn btn--base">Отправить сообщение</button></div>
                  <div class="obratka__center">Вы можете связаться с нами в месенджерах</div>
                  <div class="obratka__fle">
                    <a v-if="this.$store.getters.getSkype" :href="`skype:${this.$store.getters.getSkype}`" target="_blank" class="obratka__link">Skype</a>
                    <a v-if="this.$store.getters.getFa" :href="this.$store.getters.getFa" target="_blank" class="obratka__link">Facebook</a>
                    <a v-if="this.$store.getters.getVk" :href="this.$store.getters.getVk" target="_blank" class="obratka__link">VK</a>
                    <a v-if="this.$store.getters.getInstagram" :href="this.$store.getters.getInstagram" target="_blank" class="obratka__link">Instagram</a>
                    <a v-if="this.$store.getters.getOd" :href="this.$store.getters.getOd" target="_blank" class="obratka__link">Odnoklassniki</a>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class='error' v-if="!this.$store.getters.getResp.userType">
      <div class='container'>
        <div style='color:red; padding-top:20vh;padding-bottom:20vh; font-size: 32px; text-aling:center'>Ошибка, нет такого типа пользователя</div>
      </div>
    </section>
    <Footer/>
  </div>
</template>

<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'



import UserProfile from '@/components/UserProfile'
import axios from 'axios'
import { SERVER_URL } from '../constants'
import moment from 'moment'

export default {
  name: 'User',
  components: {
    Header,
    Footer,
    UserProfile
  },
  data: function () {
    return {
      loading: false,
      text: '',
      title: ''
    }
  },
  methods: {
    send () {
    
		}
  }
}
</script>
<style lang='scss'>
.obratka{
  &__title{
    font-size: 26px;
    font-weight: 700;
    color: #0d1833;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__text{
    color: #0d1833;
    font-size: 18px;
    line-height: 22px;
  }
  .input{
    margin-top: 15px;
    margin-bottom: 15px;
    textarea,
    input{
      padding-left: 35px;
      padding-right: 35px;
      border-color: #ededee;
      color: #0d1833;
    }
  }
  &__center{
    text-align: center;
    font-weight: 700;
    color: #3962d0;
    font-size: 16px;
    margin-top: 12px;
  }
  &__fle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  &__link{
    text-decoration: none;
    color: #0d1833;
    font-size: 16px;
    font-weight: 700;
    &:hover{
      color: #2abe68;
    }
  }
}
</style>
