<template>
	<div class="page">
		<Header/>
		<div class="playment">
			<div class="container">
				<div class="playment__row">
					<router-link to="/rates" class="playment__back"><svg><use xlink:href='/static/svg/sprite.svg#arrow-right'></use></svg> Назад</router-link>
				</div>
					
					<div class="playment__title">Покупка тарифа</div>
					<div class="playment__white">
						<div class="playment__text">{{title}}</div>
						<div class="playment__price">Стоимость: <span>{{price}}</span> <b>{{val}}</b></div>
					</div>
					<div class="playment__footer">
						<a v-bind:href="url" class="btn playment__btn">Оплатить</a>
					</div>
			</div>
		</div>
		<Footer/>
	</div>
</template>

<script>
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'

import axios from 'axios'
import { SERVER_URL } from '../constants'
export default {
	components: {
    Header,
    Footer
	},
	data: function () {
    return {
			title: "",
			price: 0,
			val: "RUB",
			url: ""
    }
  },
  created: function () {
    axios.get(SERVER_URL + `payment/form/${this.$route.params.id}`,{
      headers: { 
        "Accept": "application/json",
        Authorization: this.$store.getters.getToken 
      }
    })
      .then(response => {
				console.log(response.data)
				this.title = response.data.description
				this.price = response.data.amount.value
				this.val = response.data.amount.currency
				this.url = response.data.confirmation.confirmation_url
      })
      .catch(e => console.log(e))
  }
}
</script>

<style lang="scss">
.playment{
	padding-bottom: 50px;
	&__footer{
		display: flex;
		justify-content: flex-end;
		.btn{
			width: 300px;
		}
	}
	&__back{
		color: #1c52cc;
		font-size: 20px;
		margin-bottom: 30px;
		cursor: pointer;
		text-decoration: none;
		display: flex;
		align-items: center;
		padding-bottom: 2px;
		&:hover {
			svg{
				margin-right: 7px;
			}
		}
		svg{
			transition: margin-right ease-in-out .3s;
			fill: #1c52cc;
			transform: rotate(180deg);
			width: 10px;
			height: auto;
			height: 10px;
			margin-right: 10px;
		}
	}
	&__row{
		display: flex;
		align-items: center;
	}
	&__title{
		    margin-bottom: 40px;
				color: #0d1833;
				font-size: 40px;
				font-weight: 600;
	}
	&__white{
		border-radius: 30px;
		background-color: #1c52cc;
		box-shadow: 0px 8px 29px 0px rgba(28, 82, 204, 0.33);
		padding: 40px 35px;
		color: #fff;
		font-weight: 600;
		font-size: 22px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 40px;
	}
}
</style>
