<template>
	<div class="page">
		<Header/>
		<div class="playment">
			<div class="container">
				<div class="html">
					<h1>Положение о конфиденциальности и защите персональных данных</h1>
					<h2>Общие положения</h2>
					<p>Настоящая Политика конфиденциальности и защиты персональных данных (далее – Политика) применяется к сайту ie-exams.ru (далее – сайт).</p>
					<p>Цель публикации данной политики по охране личных сведений состоит в том, чтобы объяснить, какие именно виды данных мы собираем у посетителей нашего сайта, и как эта информация используется.</p>
					<p>Используя этот сайт и предоставляя персональные данные, Вы выражаете согласие на обработку своих персональных данных на условиях, предусмотренных настоящей Политикой.</p>
					<p>Если Вы не согласны с настоящей Политикой, просим Вас не пользоваться этим сайтом и не предоставлять свои персональные данные.</p>
					<p>Использование персональных данных полностью соответствует федеральному закону «О персональных данных» №152-ФЗ от 27.07.2006 г. Пользуясь сервисами обратной связи на нашем сайте или предоставляя персональные данные по телефонам, указанным на сайте, Вы выражаете согласие на обработку, хранение и использование Ваших персональных данных в целях осуществления коммуникации с Вами, повышения качества работы этого сайта и компании в целом.</p>
					<p>Эта Политика распространяется на информацию, собранную в связи с предлагаемыми ie-exams.ru продуктами и услугами либо при ином взаимодействии. Для конкретных продуктов или услуг       ie-exams.ru может публиковать дополнительные или измененные положения о конфиденциальности, такие положения имеют преимущественную силу перед этой Политикой в отношении любых расхождений между ними.</p>
					<p>Наши продукты и услуги могут содержать ссылки на сайты других компаний и иные услуги третьих лиц, которые имеют собственную политику конфиденциальности. ie-exams.ru не несет ответственности за обеспечение конфиденциальности или содержание любых таких сайтов.</p>
					<h2>Защита персональных данных</h2>
					<p>Все персональные данные, полученные на сайте, собираются, обрабатываются, хранятся и защищаются в строгом соответствии с положениями законодательства Российской Федерации и Европейского Союза.</p>
					<p>Все персональные данные, которые Вы сообщите в ходе посещения нашего сайта, будут храниться на специально защищенном сервере. Мы также заботимся о безопасности данных, чтобы предотвратить несанкционированный доступ к ним других лиц. У Вас есть право знать, какие именно Ваши персональные данные мы имеем, и вносить исправления, если в этих данных обнаружены неточности. Также Вы всегда вправе потребовать исключения Ваших персональных данных из наших баз. В соответствии с законом, при получении такого требования мы удалим Ваши данные в 3-дневный срок.</p>
					<p>Просмотр сайта не требует обязательного указания личных сведений и персональных данных. Без указания своей контактной информации, однако, Вы не сможете получать от нас адресованную Вам информацию касательно новостей, специальных предложений, новых продуктов.</p>
					<h2>Персональные данные</h2>
					<p>Персональные данные на сайте ie-exams.ru собираются через специальные анкеты и формы обратной связи (вопросы об акциях, электронная запись на сервис). Они могут включать Ваши Ф.И.О, контактный телефон и адрес электронной почты, сведения об уровне языка и удобном времени для занятий.</p>
					<h3>Эта информация может быть использована несколькими способами:</h3>
					<ul>
						<li>Чтобы своевременно связаться с Вами для дальнейшей коммуникации по запросу;</li>
						<li>Чтобы сделать наши предложения более актуальными для Вас, а посещение нашего сайта более удобным и приятным;</li>
						<li>Чтобы время извещать Вас о специальных акциях, текущем прогрессе по обучению, предложение о новых продуктах;</li>
						<li>Чтобы в дальнейшем включать показ сообщений персонализированного содержания.</li>
					</ul>
					<h3>Прочие сведения, собранные во время посещения сайта</h3>
					<p>Во время просмотра нашего сайта ie-exams.ru, чтения текстов на его страницах и загрузки иной информации, происходит автоматическая регистрация некоторых данных о компьютере, с которого Вы просматриваете сайт.</p>
					<p>Эта информация ничего не говорит о Вас лично и не является персональной. Она всего лишь позволяет нам подсчитать число посетителей сайта, посещаемость отдельных страниц, а также выяснить типы используемых ими компьютеров и программного обеспечения. Благодаря этому мы можем постоянно улучшать сайт и делать его более удобным и полезным для Вас.</p>
					<h3>При просмотре сайта мы собираем следующие данные:</h3>
					<ul>
						<li>Дату и время посещения сайта;</li>
						<li>Число посещенных страниц, их названия, а также длительность просмотра;</li>
						<li>IP-адрес, присвоенный компьютеру для выхода в Интернет;</li>
						<li>Тип браузера (например Microsoft Internet Explorer, Google Chrome, Opera, Mozilla Firefox) и операционной системы (например Windows 7 или Mac OS);</li>
						<li>Сайт, с которого Вы осуществили переход на наш сайт (например Yandex, если Вы нашли наш сайт с помощью поисковой машины).</li>
					</ul>
					<h3>Изменения настоящей Политики</h3>
					<p>ie-exams.ru может время от времени изменять настоящую Политику.</p>
					<p>В случае внесения в эту Политику существенных изменений, ie-exams.ru разместит уведомление о таких изменениях в начале этого документа и на странице сайта. Мы рекомендуем время от времени просматривать эту Политику для получения информации о любых изменениях.</p>
				</div>
			</div>
		</div>
		<Footer/>
	</div>
</template>


<script>
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'

import axios from 'axios'
import { SERVER_URL } from '../constants'
export default {
	components: {
    Header,
    Footer
	}
}
</script>
