<template>
  <div class='page'>
    <Header/>
    <section class='user' v-if="this.$store.getters.getResp.userType">
      <div class="loading" v-if="loading"></div>
      <div class='container'>
        <div class='user__flex'>
          <div class='user__left user--white'>
            <UserProfile/>
          </div>
          <div class='user__right'>
						<div class="chat__controls">
							<div class="chat__arrow" v-bind:class="{active:type=='quest'}">Задания</div>
							<div class="chat__arrow" v-bind:class="{active:type=='chat'}">Чат</div>
							<div class="chat__arrow" v-bind:class="{active:type=='raspis'}">Расписание</div>
						</div>
						<div class="user__100 user--white chat">

						</div>
          </div>
        </div>
      </div>
    </section>
    <section class='error' v-if="!this.$store.getters.getResp.userType">
      <div class='container'>
        <div style='color:red; padding-top:20vh;padding-bottom:20vh; font-size: 32px; text-aling:center'>Ошибка, нет такого типа пользователя</div>
      </div>
    </section>
    <Footer/>
  </div>
</template>

<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'



import UserProfile from '@/components/UserProfile'
import axios from 'axios'
import { SERVER_URL } from '../constants'
import moment from 'moment'

export default {
  name: 'Raspis',
  components: {
    Header,
    Footer,
    UserProfile
  },
  data: function () {
    return {
			loading: false,
			id: false
    }
	},
	created () {
		this.$store.dispatch('userInfo')
		this.id = this.$route.params.id;
		axios.get(SERVER_URL + 'students/'+ this.id + '/tasks', {headers: { 'Authorization': this.$store.getters.getToken }})
			.then(response => {
			})
			.catch(e => console.log(e))
	},
  methods: {
  }
}
</script>

<style lang="scss">

</style>

