<template>
  <div class='page'>
    <Header/>
    <section class='rates'>
      <div class='container'>
        <Breadcrumbs last='Тарифы'/>
        <div class='rates__name'>Тарифы</div>
        <div class="rates__flex">
          <RatesItem v-for="rate in rates" v-bind:key="rate.id" v-bind:iter="rate.id" v-bind:title="rate.title" v-bind:subtitle="rate.subtitle" v-bind:content="rate.content" v-bind:price="rate.price" v-bind:list="rate.list" v-bind:exclusive="rate.exclusive" v-bind:advantages="rate.advantages" v-bind:format_price="rate.format_price"/>
        </div>
      </div>
    </section>
    <Footer/>
  </div>
</template>
<script>
import Breadcrumbs from '@/components/Breadcrumbs.vue'
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import RatesItem from '@/components/RatesItem'

import axios from 'axios'
import { SERVER_URL } from '../constants'
export default {
  name: 'Rates',
  components: {
    Breadcrumbs,
    Header,
    Footer,
    RatesItem
  },
  data: function () {
    return {
      loading: true,
      rates: [],
      offset: 0
    }
  },
  created: function () {
    axios.get(SERVER_URL + 'tariffs')
      .then(response => {
        this.rates = response.data.data.tariffs
      })
      .catch(e => console.log(e))
  }
}
</script>

<style lang="scss">
.rates{
  padding-bottom: 80px;
  &__name {
    margin-top: 20px;
    margin-bottom: 35px;
    color: #0d1833;
    font-size: 44px;
    line-height: 44px;
    font-weight: 700;
  }
}
</style>
