<template>
  <div class='page'>
    <Header/>
    <section class='user' v-if="this.$store.getters.getResp.userType">
      <div class="loading" v-if="loading"></div>
      <div class='container'>
        <div class='user__flex'>
          <div class='user__left user--white'>
            <UserProfile/>
          </div>
          <div class='user__right readers'>
            <div class="readers__title">Чтение</div>
            <div class="readers__tabs">
              <div class="readers__tabnames">
                <div class="readers__tabname" v-on:click="chageActive(them.id)" v-for="(them, index) in themes" v-bind:key="index" v-bind:class="{active:index==activeIndex}" v-bind:themId="them.id">{{them.title}}</div>
              </div>
              <div class="readers__tabinner">
                <div class="readers__tab" v-for="(text, index2) in thema" v-bind:key="index2">
                  <div class="readers__name">{{text.title}}</div>
                  <Stars2 v-bind:stars="text.complexity" />
                  <a :href="'/reads/' + text.id" class="btn btn--base">Читать</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class='error' v-if="!this.$store.getters.getResp.userType">
      <div class='container'>
        <div style='color:red; padding-top:20vh;padding-bottom:20vh; font-size: 32px; text-aling:center'>Ошибка, нет такого типа пользователя</div>
      </div>
    </section>
    <Footer/>
  </div>
</template>

<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import Stars2 from '@/components/Stars2.vue'
import UserProfile from '@/components/UserProfile.vue'
import axios from 'axios'
import { SERVER_URL } from '../constants'

export default {
  name: 'Readers',
  components: {
    Header,
    Footer,
    Stars2,
    UserProfile
  },
  data: function () {
    return {
      themes: [],
      thema: [],
      activeIndex: 0,
      loading: true
    }
  },
  created () {
    this.$store.dispatch('userInfo')
    axios
      .get(SERVER_URL + 'texts/themes', {headers: { 'Authorization': this.$store.getters.getToken }, params: {limit: 1000}})
      .then(response => {
        this.themes = response.data.data.text_themes
        axios
          .get(SERVER_URL + 'texts/themes/' + this.themes[0].id, {headers: { 'Authorization': this.$store.getters.getToken }, params: {limit: 1000}})
          .then(response => {
            this.thema = response.data.data.texts
            this.loading = false
          })
          .catch(e => {
            console.log(e)
          })
      })
      .catch(e => {
        console.log(e)
      })
  },
  methods: {
    chageActive: function (id) {
      this.activeIndex = id - 1;
      this.thema = [];
      axios
        .get(SERVER_URL + 'texts/themes/' + this.themes[this.activeIndex].id, {headers: { 'Authorization': this.$store.getters.getToken }, params: {limit: 1000}})
        .then(response => {
          this.thema = response.data.data.texts
        })
        .catch(e => {
          console.log(e)
        })
    }
  }
}
</script>
<style lang='scss'>
.readers {
  &__tabnames{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__tabname{
    margin-bottom: 20px;
    border: 2px solid #e7e9ee;
    border-radius: 30px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    text-align: center;
    color: #0d1833;
    font-weight: 700;
    font-size: 18px;
    margin-right: 15px;
    user-select: none;
    cursor: pointer;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    &:hover,
    &.active{
      border-color: #1c52cc;
    }
    &:active{
      top: 1px;
    }
  }
  &__title{
    font-weight: 700;
    color: #0d1833;
    font-size: 44px;
    margin-bottom: 30px;
  }
  &__tabinner{
    display: flex;
    flex-wrap: wrap;
  }
  &__tab{
    width: 300px;
    margin-bottom: 30px;
    margin-right: 30px;
    padding-bottom: 38px;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 30px;
    text-align: center;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 29px 0px rgba(13, 24, 51, 0.06);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:nth-child(3n+3){
      margin-right: 0;
    }
  }
  .btn{
    width: 225px;
  }
  &__name{
    font-size: 24px;
    color: #0d1833;
    font-weight: 700;
    line-height: 29px;
  }
}
@media only screen and (max-width: 1440px) {
  .readers__tabname{
    font-size: 16px;
  }
  .readers__tabname{
    min-width: 130px;
  }
  .readers__tab{
    width: 240px;
    margin-right: 15px;
    padding: 20px 25px;
    margin-bottom: 15px;
  }
  .readers .btn{
    width: 100%;
    height: 50px;
    font-size: 18px;
  }
  .readers__name{
    font-size: 19px;
    line-height: 23px;
  }
}
</style>
