<template>
  <div class='page'>
    <Header/>
    <section class='register'>
      <div class="container">
        <Breadcrumbs last='Регистрация'/>
        <div class="register__name">Регистрация</div>
        <form v-show="!success" class="register__form" novalidate v-on:submit="register">
          <label class="input register__input">
            <div class="input__placeholder">
              <div class="input__icon"><svg><use xlink:href='static/svg/sprite.svg#message'></use></svg></div>
              <div class="input__text">E-mail</div>
            </div>
            <input type="email" class="input__input" name="email" @focus="focused" @blur="unfocus" v-model="email" autocomplete="off">
          </label>
          <label class="input register__input">
            <div class="input__placeholder">
              <div class="input__icon"><svg><use xlink:href='static/svg/sprite.svg#phone'></use></svg></div>
              <div class="input__text">Телефон</div>
            </div>
            <input type="number" class="input__input" name="phone" @focus="focused" @blur="unfocus" v-model="phone" autocomplete="off">
          </label>
          <label class="input register__input">
            <div class="input__placeholder">
              <div class="input__icon"><svg><use xlink:href='static/svg/sprite.svg#key'></use></svg></div>
              <div class="input__text">Пароль</div>
            </div>
            <input type="password" name="password" @focus="focused" @blur="unfocus" class="input__input" v-model="password" autocomplete="off">
          </label>
          <label class="input register__input">
            <div class="input__placeholder">
              <div class="input__icon"><svg><use xlink:href='static/svg/sprite.svg#key'></use></svg></div>
              <div class="input__text">Повторите пароль</div>
            </div>
            <input type="password" name="password" @focus="focused" @blur="unfocus" class="input__input" v-model="confirm_password" autocomplete="off">
          </label>
          <div class="input register__input">
            <multiselect v-model="idx" :options="array" track-by="full_title" label="full_title" :searchable="false" :show-labels="false" placeholder="Выберите курс"></multiselect>
          </div>
          <!-- <div class="input register__flex">
            <label class="radio">
              <input type="radio" name="userType" v-model="userType" value="teacher" class="radio__input">
              <div class="radio__fake"></div>
              <div class="radio__text">Учитель</div>
            </label>
            <label class="radio">
              <input type="radio" name="userType" v-model="userType" value="student" class="radio__input">
              <div class="radio__fake"></div>
              <div class="radio__text">Ученик</div>
            </label>
          </div> -->
          <div class="register__error" v-if="error">{{error}}</div>
          <div class="input register__input">
            <button type="submit" class="btn btn--base">Зарегистрироватся</button>
          </div>
        </form>
        <div class="register__success" v-show="success">
          {{success__message}}<br>
          Теперь вы можете авторизоваться
        </div>
      </div>
    </section>
    <Footer/>
  </div>
</template>

<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import Breadcrumbs from '@/components/Breadcrumbs.vue'
import axios from 'axios'
import Multiselect from "vue-multiselect";
import { SERVER_URL } from '../constants'

export default {
  name: 'Login',
  components: {
    Header,
    Footer,
    Breadcrumbs,
    Multiselect
  },
  data: function () {
    return {
      email: '',
      password: '',
      confirm_password: '',
      userType: 'teacher',
      error: '',
      success: false,
      success__message: '',
      array: [],
      idx: '',
      phone: ''
    }
  },
  created() {
    axios
      .get(SERVER_URL + 'courses')
        .then(response => {
          this.array  = response.data.data.courses;
        })
        .catch(error => {
          console.log(error);
        })
  },
  methods: {
    focused: function (e) {
      e.target.closest('.input').classList.add('input--focus')
    },
    unfocus: function (e) {
      if (!e.target.value.length) {
        e.target.closest('.input').classList.remove('input--focus')
      }
    },
    register: function(e) {
      e.preventDefault()
      let errorLength = 0
      if(this.password.length < 6){
        this.error = "Слишком легкий пароль"
        errorLength++;
      }
      if(typeof this.idx === "string"){
        this.error = "Выберите курс"
        errorLength++;
      }
      if(this.password !== this.confirm_password){
        this.error = "Пароли не совпадают"
        errorLength++;
      }
      if(this.phone.length < 6){
        this.error = "Неверный номер телефона"
        errorLength++;
      }
      if(errorLength === 0){
        let data = JSON.stringify({
          password: this.password,
          email: this.email,
          password_confirmation: this.confirm_password,
          course_id: this.idx.id,
          phone: this.phone
        })
        axios
          .post(SERVER_URL + 'register', data, {headers: { 'Content-Type': 'application/json'}})
          .then(response => {
            this.success = true
            this.success__message = response.data.success
            setTimeout( () => {
              this.$router.push('login')
            }, 4000)
          })
          .catch(error => {
            console.log(error);
            this.error = "Неверно заполнен email или пароль"
          })
      }
    }
  }
}
</script>

<style lang='scss'>
.register{
  padding-bottom: 100px;
  &__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  &__name{
    font-size: 60px;
    line-height: 59px;
    margin-bottom: 35px;

    font-weight: 700;
    margin-top: 25px;
    text-align: center;
  }
  &__form{
    border-radius: 15px;
    background-color: rgb(28, 82, 204);
    box-shadow: 0px 8px 29px 0px rgba(28, 82, 204, 0.33);
    padding-left: 50px;
    padding-right: 50px;
    width: 530px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 60px;
  }
  &__input{
    margin-bottom: 20px;
    .btn{
      width: 100%;
    }
  }
  &__error{
    color: #ff3333;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
  }
  &__success{
    border-radius: 15px;
    background-color: #28a745;
    -webkit-box-shadow: 0px 8px 29px 0px rgba(40, 167, 69, .33);
    box-shadow: 0px 8px 29px 0px rgba(40, 167, 69, .33);
    padding-left: 50px;
    padding-right: 50px;
    width: 530px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 60px;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
  }
  .multiselect__single{
    background-color: transparent;
    width: 100%;
    height: 100%;
  }
  .multiselect__single{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }
  .multiselect__select{
    top: 50%;
    margin-top: -19px;
  }
  .multiselect__tags{
    height: 62px;
    border: 2px solid #4773d6;
    border-radius: 31px;
    padding-top: 0;
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
  }
}

</style>
