<template>
  <div class='page'>
    <Header/>
    <section class='reviews'>
      <div class='container'>
        <Breadcrumbs last='Отзывы'/>
        <div class='reviews__name'>Отзывы наших учеников</div>
        
          <div class='reviews__flex'>
            <div class='reviews__left'>
              <ReviewItem v-for='(review, index) in reviews' v-bind:key='review.id' v-bind:index='index' v-bind:name='review.name' v-bind:image="review.avatar" v-bind:date="review.date" v-bind:content="review.text" v-bind:mark="review.mark"/>
            </div>
            <div class='reviews__right'>
              <Sidebar/>
              <div class="reviews__flexx" id="lightgallery">
                <a class="reviews__block" target="_blank"  :href="video.link" v-for="video in video_reviews" v-bind:key="video.id">
                  <div class="reviews__ima"><img :src="video.thumbnail" alt=""></div>
                  <div class="video__play"><svg><use xlink:href="static/svg/sprite.svg#play"></use></svg></div>
                </a>
              </div>
            </div>
          </div>
        </div>
    </section>
    <Footer/>
  </div>
</template>

<script>
// @ is an alias to /src
import Breadcrumbs from '@/components/Breadcrumbs.vue'
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import Sidebar from '@/components/Sidebar.vue'
import ReviewItem from '@/components/ReviewItem'


import axios from 'axios'
import { SERVER_URL } from '../constants'
export default {
  name: 'Reviews',
  components: {
    Breadcrumbs,
    Header,
    Footer,
    Sidebar,
    ReviewItem
  },
  data: function () {
    return {
      loading: true,
      reviews: [],
      video_reviews: []
    }
  },
  created () {
    axios
      .get(SERVER_URL + 'reviews')
      .then(response => {
        this.reviews = response.data.data.reviews
      })
      .catch(e => {
        console.log(e)
      })
    axios
      .get(SERVER_URL + 'video-reviews', {params: {limit: 2}})
      .then(response => {
        this.video_reviews = response.data.data.video_reviews
      })
      .catch(e => {
        console.log(e)
      })
  },
  mounted: function()
  {
    this.$nextTick(function() {
      $('#lightgallery').lightGallery()
    })
    
  }
}
</script>
