<template>
	<div class='page'>
    <Header/>
    <section class='user'>
      <div class="loading" v-if="loading"></div>
      <div class='container'>
        <div class='user__flex'>
          <div class='user__left user--white'>
            <UserProfile/>
          </div>
          <div class='user__right'>
						<div class="user__100 user--white">
              <div class="user__oname">Персональные данные</div>
              <div class="userform">
                <div class="userform__row">
                  <div class="avatarUpload">
                    <div class="userform__text">Аватар</div>
                      <div class="userform__avatar">
                        <img v-bind:src='avatar' v-bind:alt='userName'>
                      </div>
                    <div class="userform__load"><div class="userform__link">Загрузить</div></div>
                  </div>
                </div>
                <div class="userform__row">
                  <div class="userform__input input">
                    <input type="text" placeholder="Имя" v-model="resp.firstname">
                  </div>
                  <div class="userform__input input">
                    <input type="text" placeholder="Фамилия" v-model="resp.lastname">
                  </div>
                  <div class="userform__input input">
                    <input type="text" placeholder="Email" v-model="resp.email">
                  </div>
                  <div class="userform__input input">
                    <input type="text" placeholder="Логин в Skype" v-model="resp.skype">
                  </div>
                  <div class="userform__input input">
                    <input type="text" placeholder="Номер телефона" v-model="resp.phone">
                  </div>
                  <div class="userform__input input">
                    <datepicker v-bind:language="ru" v-bind:placeholder="dat"  v-model="resp.birthday"></datepicker>
                  </div>
                </div>
              </div>
              <button class="btn btn--base" :disabled="status==='disabled'" @click="save">{{text}}</button>
            </div>
            <div class="user__double">
              <div class="user__50 user--white">
                <div class="user__oname" v-if="!chPassword">Смена пароля</div>
                <div class="user__oname cent" v-if="chPassword">{{chPassword}}</div>
                <div class="input userform__input" v-if="!chPassword">
                  <input type="text" placeholder="Введите старый пароль" v-model="lastpassword">
                </div>
                <div class="input userform__input" v-if="!chPassword">
                  <input type="text" placeholder="Придумайте новый пароль" v-model="newpassword">
                </div>
                <div class="input userform__input" v-if="!chPassword">
                  <div class="btn btn--base" @click="chagePassword">Сменить</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class='error' v-if="!this.$store.getters.getResp.userType">
      <div class='container'>
        <div style='color:red; padding-top:20vh;padding-bottom:20vh; font-size: 32px; text-aling:center'>Ошибка, нет такого типа пользователя</div>
      </div>
    </section>
    <Footer/>
  </div>
</template>


<script>


import Multiselect from "vue-multiselect";
import Datepicker from "vuejs-datepicker";
import { ru } from "vuejs-datepicker/dist/locale";
import axios from "axios";
import { SERVER_URL } from "../constants";
import moment from "moment";
import UserProfile from '@/components/UserProfile'
import Header from '@/components/Header'
import Footer from '@/components/Footer'
export default {
	components: {
		Header,
		Footer,
		UserProfile,
		Multiselect,
		Datepicker,

	},
	data: function () {
    return {
			loading: false,
			resp: {},
			lastpassword: '',
			chPassword: false,
			avatar: '',
			userName: '',
			ru: ru,
			dat: "Дата рождения",
			status: "normal",
			text: "Сохранить",
			newpassword: ""
    }
	},
	created() {
		axios
			.get(SERVER_URL + "profile", {
				headers: { Authorization: this.$store.getters.getToken }
			})
			.then(response => {
				this.resp = response.data.data.profile;
				this.avatar = response.data.data.profile.avatar;
				this.userName = response.data.data.profile.fullname;
				this.firstname = response.data.data.profile.firstname;
				this.loading = false;
			})
			.catch(e => {
				if (e.response.status === 401) {
					this.$store.dispatch("logout");
					this.$router.push({ path: "login" });
				} else {
					alert(
						"Ошибка: " + e + " Сообщите администратору: pebah@inbox.ru"
					);
				}
			});
	},
	methods: {
		save: function(event) {
      event.preventDefault();
      this.status = "disabled";
      this.text = "Изменяю...";
      let data = {
        _method: "put",
        firstname: this.resp.firstname,
        lastname: this.resp.lastname,
        email: this.resp.email,
        phone: this.resp.phone,
        skype: this.resp.skype,
      };
      data = JSON.stringify(data);
      axios
        .post(SERVER_URL + "profile", data, {
          headers: {
            Authorization: this.$store.getters.getToken,
            "Content-Type": "application/json"
          }
        })
        .then(response => {
          setTimeout(() => {
            this.status = "normal";
            this.text = "Изменить";
          }, 3000);
        })
        .catch(error => {
          console.log(error);
        });
    },
		chagePassword: function(event) {
      event.preventDefault();
      let data = JSON.stringify({
        _method: "put",
        old_password: this.lastpassword,
        password: this.newpassword,
        password_confirmation: this.newpassword
      });
      axios
        .post(SERVER_URL + "profile/password", data, {
          headers: {
            Authorization: this.$store.getters.getToken,
            "Content-Type": "application/json"
          }
        })
        .then(response => {
          this.chPassword = "Пароль успешно изменен";
        })
        .catch(error => {
          console.log(error);
        });
    }
	}
}
</script>
