<template>
  <div class='page'>
    <Header/>
    <section class='specialists'>
      <div class='container'>
        <Breadcrumbs last='Наши специалисты'/>
        <div class='specialists__name'>Специалисты</div>
        <div class="specialists__flex">
          <Specialist v-for="teacher in teachers" v-bind:key="teacher.id" v-bind:image="teacher.photo" v-bind:name="teacher.name" v-bind:list="teacher.list"/>
        </div>
      </div>
    </section>
    <Footer/>
  </div>
</template>
<script>
import Breadcrumbs from '@/components/Breadcrumbs.vue'
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import Specialist from '@/components/Specialist.vue'

import axios from 'axios'
import { SERVER_URL } from '../constants'
export default {
  name: 'Specialists',
  components: {
    Breadcrumbs,
    Header,
    Footer,
    Specialist
  },
  data: function () {
    return {
      loading: true,
      teachers: [],
      offset: 0
    }
  },
  created: function () {
    axios.get(SERVER_URL + 'teachers')
      .then(response => {
        this.teachers = response.data.data.teachers
      })
      .catch(e => console.log(e))
  }
}
</script>

<style lang="scss">
.specialists{
  padding-bottom: 80px;
  &__name {
    margin-top: 20px;
    margin-bottom: 35px;
    color: #0d1833;
    font-size: 44px;
    line-height: 44px;
    font-weight: 700;
  }
  &__flex{
    display: flex;
    flex-wrap: wrap;
  }
}
</style>
