<template>
  <div class='page'>
    <Header/>
    <section class='user' v-if="this.$store.getters.getResp.userType">
      <div class='container'>
        <div class='user__flex'>
          <div class='user__left user--white'>
            <UserProfile/>
          </div>
          <div class='user__right'>
						<div class="user__100 user--white">
							<div class="tasks__title">Новые</div>
							<div class="tasks__box" v-for="(task, index) in new_tasks" :key="index">
								<div class="tasks__content">
									<div class="tasks__name">{{task.section_title}}</div>
									
								</div>
								<router-link class="tasks__button btn" :to="'/student/' + id + '/task/' + task.id">Проверить</router-link>
							</div>
							<div class="tasks__clear" v-if="new_tasks.length === 0">Нет заданий</div>
							<div class="tasks__title">Архив</div>
							<div class="tasks__box" v-for="(task, index) in old_tasks" :key="index">
								<div class="tasks__content">
									<div class="tasks__name">{{task.section_title}}</div>
									<div class="tasks__score">
										<div class="stars">
											<div class="star" v-for="star in 5" v-bind:key="star"  v-bind:class="{active:star<=task.pivot.score}">
												<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="14px"><path fill-rule="evenodd"  d="M7.854,0.230 L9.763,4.650 L14.647,5.061 C14.986,5.089 15.124,5.503 14.867,5.721 L11.162,8.863 L12.272,13.537 C12.349,13.861 11.989,14.117 11.698,13.944 L7.500,11.466 L3.302,13.944 C3.010,14.116 2.652,13.861 2.729,13.537 L3.839,8.863 L0.133,5.720 C-0.124,5.503 0.013,5.089 0.352,5.060 L5.237,4.649 L7.145,0.230 C7.278,-0.077 7.722,-0.077 7.854,0.230 Z"/> </svg>
											</div>
										</div>
									</div>
								</div>
								<router-link class="tasks__button btn" :to="'/student/' + id + '/task/' + task.id">Посмотреть</router-link>
							</div>
							<div class="tasks__clear" v-if="old_tasks.length === 0">Нет заданий</div>
						</div>
          </div>
        </div>
      </div>
    </section>
    <section class='error' v-if="!this.$store.getters.getResp.userType">
      <div class='container'>
        <div style='color:red; padding-top:20vh;padding-bottom:20vh; font-size: 32px; text-aling:center'>Ошибка, нет такого типа пользователя</div>
      </div>
    </section>
    <Footer/>
  </div>
</template>

<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'


import UserProfile from '@/components/UserProfile'
import axios from 'axios'
import { SERVER_URL } from '../constants'

export default {
  name: 'Chat2',
  components: {
    Header,
    Footer,
    UserProfile,
  },
  data: function () {
    return {
			id: false,
			new_tasks: [],
			old_tasks: []
    }
	},
	created () {
		this.$store.dispatch('userInfo')
		this.id = this.$route.params.id;
		axios.get(SERVER_URL + 'students/' + this.id + '/tasks', {headers: { 'Authorization': this.$store.getters.getToken }}).
			then(response => {
				this.new_tasks = response.data.data.new_tasks;
				this.old_tasks = response.data.data.old_tasks;
				console.log(response.data.data);
			})
	},
  methods: {
  }
}
</script>

<style lang="scss">
.tasks{
	&__score{
		.stars{
			justify-content: flex-start;
		}
	}
	&__footer{
		margin-top: 30px;
		display: flex;
		justify-content: space-between;
	}
	&__title{
		font-weight: 700;
		font-size: 24px;
		margin-bottom: 15px;
		color: #0d1833;
	}
	&__clear{
		margin-bottom: 25px;
	}
	&__box{
		border-radius: 15px;
		background-color: #f8fafe;
		padding-left: 25px;
		padding-right: 25px;
		padding-top: 20px;
		padding-bottom: 20px;
		box-shadow: 0px 8px 29px 0px rgba(13, 24, 51, 0.06);
		margin-bottom: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__content{
		width: 650px;
	}
	&__name{
		color: #0d1833;
		font-size: 18px;
	}
}
.user {
	.tasks__button{
		width: 140px;
		height: 50px;
	}
}
</style>
