<template>
  <div class='page'>
    <Header/>
    <section class='user' v-if="this.$store.getters.getResp.userType">
      <div class='container'>
        <div class='user__flex'>
          <div class='user__left user--white'>
            <UserProfile/>
          </div>
          <div class='user__right'>
						<div class="user__100 user--white" v-if="data.pivot">
							<div class="tasks__title">{{data.section_title}}</div>
							<div class="html" v-html="data.content"></div>
							<div class="tasks__title">Ответ студента:</div>
							<div class="tasks__text">{{data.pivot.answers}}</div>
							<hr>
							<div class="tasks__title">Поставьте оценку</div>
							<label class="star" v-for="star in 5" v-bind:key="star"  v-bind:class="{active:star<=score}">
								<input type="radio" name="ixx" :value="star" v-model="score">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="14px"><path fill-rule="evenodd"  d="M7.854,0.230 L9.763,4.650 L14.647,5.061 C14.986,5.089 15.124,5.503 14.867,5.721 L11.162,8.863 L12.272,13.537 C12.349,13.861 11.989,14.117 11.698,13.944 L7.500,11.466 L3.302,13.944 C3.010,14.116 2.652,13.861 2.729,13.537 L3.839,8.863 L0.133,5.720 C-0.124,5.503 0.013,5.089 0.352,5.060 L5.237,4.649 L7.145,0.230 C7.278,-0.077 7.722,-0.077 7.854,0.230 Z"/> </svg>
							</label>
							<div class="tasks__footer">
								<div class="btn tasks__button" v-on:click="sendx()">Оценить</div>
								<router-link :to="'/tasks/' + idStud" class="btn tasks__button">Назад</router-link>
							</div>
						</div>
          </div>
        </div>
      </div>
    </section>
    <section class='error' v-if="!this.$store.getters.getResp.userType">
      <div class='container'>
        <div style='color:red; padding-top:20vh;padding-bottom:20vh; font-size: 32px; text-aling:center'>Ошибка, нет такого типа пользователя</div>
      </div>
    </section>
    <Footer/>
  </div>
</template>

<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'


import UserProfile from '@/components/UserProfile'
import axios from 'axios'
import { SERVER_URL } from '../constants'

export default {
  name: 'Chat2',
  components: {
    Header,
    Footer,
    UserProfile,
  },
  data: function () {
    return {
			id: false,
			idStud: false,
			data: {},
			score: 0,
    }
	},
	created () {
		this.$store.dispatch('userInfo')
		this.id = this.$route.params.id;
		this.idStud = this.$route.params.idStud;
		axios.get(SERVER_URL + 'students/' + this.idStud + '/tasks/' + this.id, {headers: { 'Authorization': this.$store.getters.getToken }}).
			then(response => {
				this.data = response.data.data.task;
				this.score = response.data.data.task.pivot.score;
			})
	},
	methods: {
		sendx() {
			console.log(1);
			let data = {score: JSON.stringify(this.score), _method: "put"}
			axios.post(SERVER_URL + 'students/' + this.idStud + '/tasks/' + this.id, data, {headers: { 'Authorization': this.$store.getters.getToken }}).
				then(response => {
					this.$router.push('/tasks/' + this.idStud)
				})
		}
	}
}
</script>

<style lang="scss">
hr{
	margin-top: 30px;
	margin-bottom: 30px;
}
.star {
	cursor: pointer;
	&.active {
		svg{
			fill: #f2d137;
		}
	}
	input{
		display: none;
	}
	svg{
		fill: rgb(213, 218, 228);
	}
}
</style>
