<template>
	<div class='page'>
    <Header/>
    <section class='user' v-if="this.$store.getters.getResp.userType">
      <div class="loading" v-if="loading"></div>
      <div class='container'>
        <div class='user__flex'>
          <div class='user__left user--white'>
            <UserProfile/>
          </div>
          <div class='user__right'>
            <div class="lessons__name">{{page.title}}</div>
            <div class="testxs testxszzz">
              <div v-show="status === 'testing' || status === 'retest'">
                <div class="html" v-html="page.content"></div>
                <div class="test" v-for="test in page.tasks" v-bind:key="test.id"  >
                  <Task :variants="test.variants" :showTip="showError(test.id)" :tip="test.tip" :id="test.id" :columns="test.columns" :pairs="test.pairs" :description="test.content" :type="test.type"/>
                </div>
              </div>
              <div class="response test" v-if="status === 'response'">
                <div class="response__title">Вы прошли тестирование</div>
                <div class="response__text">
                  Правильные ответы: <div class="response__number">{{resp.results.correct_count}} / {{resp.results.tasks_count}}</div>
                </div>
                <div class="response__progre">
                  <div class="progress">
                    <div class="progress__to">
                      <div class="progress__lf">Результат</div>
                      <div class="progress__rg">{{resp.results.progress}} %</div>
                    </div>
                    <div class="progress__bar">
                      <div class="progress__progress" :style="{width:resp.results.progress+'%'}"></div>
                    </div>
                    <div class="progress__footer">
                      <div class="btn btn--base" @click="status='retest'">Начать заново</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="loads test" v-show="status==='loading'">
                  Loading....
              </div>
              <div class="test__send btn btn--base" @click="send" v-show="status === 'testing' || status === 'retest'">Отправить</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class='error' v-if="!this.$store.getters.getResp.userType">
      <div class='container'>
        <div style='color:red; padding-top:20vh;padding-bottom:20vh; font-size: 32px; text-aling:center'>Ошибка, нет такого типа пользователя</div>
      </div>
    </section>
    <Footer/>
  </div>
</template>


<script>
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";
import UserProfile from "@/components/UserProfile.vue";
import axios from "axios";
import { SERVER_URL } from "../constants";
import Task from "@/components/Task.vue";
export default {
  components: {
    UserProfile,
    Header,
    Footer,
    Task
  },
  data: function() {
    return {
      loading: true,
      activeTest: 0,
      page: {},
      answers: [],
      status: 'testing',
      correct_answers: []
    };
  },
  created() {
    this.$store.dispatch("userInfo");
    axios
      .get(SERVER_URL + "sections/" + this.$route.params.id, {
        headers: { Authorization: this.$store.getters.getToken }
      })
      .then(response => {
        console.log(response);
        this.page = response.data.data.section;
        console.log(this.page);
        this.loading = false;
      })
      .catch(error => {
        console.log(error);
      });
  },
  methods: {
    showError(id){
      var par = true;
      if(this.status === 'retest'){
        for(let x = 0; x < this.correct_answers.length; x++){
          if(this.correct_answers[x] === id){
            par = false;
          }
        }
      } else {
        par = false
      }
      return par;
    },
    addAnswer(answer) {
      this.answers = this.answers.filter(innerAnswer => innerAnswer.id !== answer.id)
      this.answers.push(answer);
    },
    send(){
      this.status = "loading";
      document.documentElement.scrollTop = 0;
      let data = JSON.stringify({
        "answers": JSON.stringify(this.answers)
      });
      axios
        .post(SERVER_URL + "sections/"+ this.$route.params.id +"/check", data, {
          headers: { Authorization: this.$store.getters.getToken, "Content-Type": "application/json" }
        })
        .then(response => {
          this.resp = response.data.data;
          this.correct_answers = response.data.data.results.correct_answers;
          this.status = 'response'
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>

<style lang="scss">
.response__progre{
  .progress__progress{
    height: 4px;
    background-color: #2abe68;
  }
  .progress{
    margin-top: 30px;
    width: 380px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    background-color: #f8fafe;
    border-radius: 30px;
    .btn{
      width: 100%;
    }
    &__footer{
      margin-top: 30px;
      width: 100%;
    }
  }
}
.response{
  .response__text{
    font-size: 18px;
    color: #0d1833;
  }
  .response__number{
    display: inline;
    font-weight: 600;
  }
  .response__title{
    font-size: 32px;
    font-weight: 700;
    color: #0d1833;
    margin-bottom: 20px;
  }
}
.test>.test{
  padding: 0;
}
.flip-list-move {
  transition: transform 0.5s;
}
.no-move {
  transition: transform 0s;
}
.testxszzz .html {
  margin-top: 0;
  margin-bottom: 15px;
}
.test {
  background-color: #fff;
  border-radius: 15px;
  padding: 30px;
  margin-bottom: 20px;
  .radio,
  .checkbox {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  .input {
    input,
    textarea {
      color: #0d1833;
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  .radio {
    &__text {
      color: #0d1833;
      font-weight: 400;
    }
    &__fake {
      border-color: #dfe0e2;
      min-width: 22px;
      width: 22px;
      height: 22px;
      &:after {
        background-color: #dfe0e2;
      }
    }
    .radio__input:checked + .radio__fake:after {
      background-color: #dfe0e2;
      width: 9px;
      height: 9px;
    }
  }
}
</style>

  