<template>
	<div class="page">
		<Header/>
		<div class="thanks">
			<div class="container">
				<div class="thanks__title">Вы вернулись со страницы оплаты тарифного плана.</div>
				<div class="thanks__desc">Спасибо за оплату!</div>
				<div class="thanks__desc">В случае успешной оплаты, тариф автоматически подключится в вашем личном кабинете</div>
				<router-link to="/login" class="btn">В кабинет</router-link>
			</div>
		</div>
		<Footer/>
	</div>
</template>

<script>
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'

// import axios from 'axios'
// import { SERVER_URL } from '../constants'
export default {
	components: {
    Header,
    Footer
	},
	data: function () {
    return {
			
    }
  },
  created: function () {
   
  }
}
</script>

<style lang="scss">
.thanks{
	text-align: center;
	padding-bottom: 60px;
	&__title{
    margin-bottom: 40px;
    color: #0d1833;
    font-size: 40px;
    font-weight: 600;
	}
	&__desc{
				color: #0d1833;
				font-size: 30px;
				font-weight: 500;
				margin-bottom: 10px;
	}
	.btn{
		margin-left: auto;
		margin-right: auto;
		width: 300px;
		margin-top: 50px;
	}
}
</style>
