<template>
	<div class='page'>
    <Header/>
    <section class='user' v-if="this.$store.getters.getResp.userType">
      <div class="loading" v-if="loading"></div>
      <div class='container'>
        <div class='user__flex'>
          <div class='user__left user--white'>
            <UserProfile/>
          </div>
          <div class='user__right lessons'>
            <div class="lessons__name">Заголовок</div>
            <div class="lessons__lists">
							111
            </div>
          </div>
				</div>
      </div>
    </section>
    <section class='error' v-if="!this.$store.getters.getResp.userType">
      <div class='container'>
        <div style='color:red; padding-top:20vh;padding-bottom:20vh; font-size: 32px; text-aling:center'>Ошибка, нет такого типа пользователя</div>
      </div>
    </section>
    <Footer/>
  </div>
</template>


<script>
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";
import Lesson from "@/components/Lesson.vue";
import UserProfile from "@/components/UserProfile.vue";
import axios from "axios";
import { SERVER_URL } from "../constants";

export default {
	name: 'Urok',
	components: {
    Header,
    Footer,
    Lesson,
    UserProfile
	},
	data: function() {
    return {
			loading: true,
    };
  },
	created() {
    this.$store.dispatch("userInfo");
    axios
      .get(SERVER_URL + "sections/" + this.$route.params.id, {
        headers: { 
					"Accept": "application/json",
					Authorization: this.$store.getters.getToken 
				}
      })
      .then(response => {
        this.loading = false;
      })
      .catch(error => {
        console.log(error);
      });
  }
}
</script>

