<template>
  <div class='page'>
    <Header/>
    <section class='user' v-if="this.$store.getters.getResp.userType =='student'">
      <div class="loading" v-if="loading"></div>
      <div class='container'>
        <div class='user__flex'>
          <div class='user__left user--white'>
            <UserProfile/>
          </div>
          <div class='user__right'>
            <div class="erx user--white user__100" v-if="this.$store.getters.getResp.roles.length <= 1">
              ВНИМАНИЕ! У вас нет активного тарифа, <router-link to="/rates">купите его</router-link>
            </div>
            <div class='user__100 user--white'>
              <div class="user__oname">{{firstname}}, добро пожаловать в нашу школу!</div>
              <div class="html">
                <p>Вы только что зарегистрировались на онлайн-платформе IE-exams. Мы обещаем оправдать Ваше доверие. Уверены, что с нами Вы достигнете своих целей и сможете реализовать свой потенциал по максимуму! </p>
                <p>В разделе Уроки Вас ждет ознакомительное видео о нашей платформе и возможностях обучения.</p>
                <p>Скоро наш менеджер свяжется с Вами, чтобы уточнить дату и время проведения бесплатного вводного занятия.</p>
              </div>
              <div class="progress">
                <div class="progress__name">Ваш прогресс:</div>
                <div class="progress__progress">
                  <div class="progress__green" :style="{width:progress+'%'}"><div v-if="progress > 5">{{progress}}%</div></div>
                </div>
              </div>
            </div>
            <div class="user__100 user--white">
              <div class="user__oname">Персональные данные</div>
              <div class="userform">
                <div class="userform__row">
                  <div class="avatarUpload">
                    <div class="userform__text">Аватар</div>
                      <input id="loadfile" type="file" ref="file" @change="onFileSelected">
                      <div class="userform__avatar">
                        <img v-bind:src='getAva()'>
                      </div>
                    <div class="userform__load"><label class="userform__link" for="loadfile">Загрузить</label></div>
                  </div>
                </div>
                <div class="userform__row">
                  <div class="userform__input input" >
                    <input type="text" placeholder="Имя" v-model="resp.firstname">
                  </div>
                  <div class="userform__input input">
                    <input type="text" placeholder="Фамилия" v-model="resp.lastname">
                  </div>
                  <div class="userform__input input">
                    <input type="text" placeholder="Email" v-model="resp.email">
                  </div>
                  <div class="userform__input input">
                    <input type="text" placeholder="Логин в Skype" v-model="resp.skype">
                  </div>
                  <div class="userform__input input">
                    <input type="text" placeholder="Номер телефона" v-model="resp.phone">
                  </div>
                  <div class="userform__input input">
                    <datepicker v-bind:language="ru" v-bind:placeholder="dat"  v-model="resp.birthday"></datepicker>
                  </div>
                </div>
              </div>
              <div class="userform userform--100">
                <div class="userform__row">
                  <div class="userform__input">
                    <multiselect v-model="resp.timezone" :options="timezones" :searchable="false" :show-labels="false" placeholder="Часовой пояс"></multiselect>
                  </div>
                </div>
                <div class="userform__row">
                  <div class="userform__input">
                    <multiselect v-model="resp.country" :options="countries" :searchable="false" :show-labels="false" placeholder="Страна"></multiselect>
                  </div>
                </div>
              </div>
              <div class="userform userform--100">
                <div class="userform__row">
                  <div class="userform__title">Уровень владения английским</div>
                  <div class="userform__input">
                    <multiselect v-model="resp.english_level" :options="levels" :searchable="false"  :show-labels="false" placeholder="Выберите уровень"></multiselect>
                  </div>
                </div>
                <div class="userform__row">
                  <div class="userform__title">Владение другим языком</div>
                  <div class="userform__input">
                    <multiselect v-model="resp.additional_languages" :options="arrLang" :searchable="false"  :show-labels="false" placeholder="Выберите язык"></multiselect>
                  </div>
                </div>
                <div class="userform__row">
                  <label class="checkbox">
                    <input type="checkbox" name="checkbox"  value="1" v-model="resp.read_books">
                    <div class="checkbox__fake"></div>
                    <div class="checkbox__text">Читаю книги/статьи</div>
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" name="checkbox"  value="1" v-model="resp.watch_films">
                    <div class="checkbox__fake"></div>
                    <div class="checkbox__text">Смотрю фильмы без перевода</div>
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" name="checkbox"  value="1" v-model="resp.speak_with">
                    <div class="checkbox__fake"></div>
                    <div class="checkbox__text">Общаюсь с носителями языка</div>
                  </label>
                </div>
              </div>
              <button class="btn btn--base" :disabled="status==='disabled'" @click="save">{{text}}</button>
            </div>
            <div class="user__double">
              <div class="user__50 user--white">
                <div class="user__oname" v-if="!chPassword">Смена пароля</div>
                <div class="user__oname cent" v-if="chPassword">{{chPassword}}</div>
                <div class="input userform__input" v-if="!chPassword">
                  <input type="text" placeholder="Введите старый пароль" v-model="lastpassword">
                </div>
                <div class="input userform__input" v-if="!chPassword">
                  <input type="text" placeholder="Придумайте новый пароль" v-model="newpassword">
                </div>
                <div class="user__error" v-if="errorrx">{{errorrx}}</div>
                <div class="input userform__input" v-if="!chPassword">
                  <div class="btn btn--base" @click="chagePassword">Сменить</div>
                </div>
              </div>
              <div class="user__50 user--white">
                <div class="raspisk">
                  <div class="user__oname">Расписание</div>
                  <Raspisk/>
                  <div class="raspisk__add" @click="chageRasp">Добавить</div>
                </div>
                <div class="select__raspis" v-if="checkRasp()">
                  <div class="user__oname">Выберите расписание</div>
                  <SelectRasp/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class='user' v-if="this.$store.getters.getResp.userType=='teacher'">
      <div class="loading" v-if="loading"></div>
      <div class='container'>
        <div class='user__flex'>
          <div class='user__left user--white'>
            <UserProfile/>
          </div>
          <div class='user__right'>
            <UserTeacher v-bind:students="students" v-bind:chats="this.$store.getters.getResp" />
          </div>
        </div>
      </div>
    </section>
    <section class='error' v-if="!this.$store.getters.getResp.userType">
      <div class='container'>
        <div style='color:red; padding-top:20vh;padding-bottom:20vh; font-size: 32px; text-aling:center'>Ошибка, нет такого типа пользователя</div>
      </div>
    </section>
    <Footer/>
  </div>
</template>

<script>
// @ is an alias to /src
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";
import UserProfile from "@/components/UserProfile";
import SelectRasp from "@/components/SelectRasp";
import Raspisk from "@/components/Raspisk";
import FileUpload from '@/components/FileUpload'

import Multiselect from "vue-multiselect";
import Datepicker from "vuejs-datepicker";
import { ru } from "vuejs-datepicker/dist/locale";
import axios from "axios";
import { SERVER_URL } from "../constants";
import moment from "moment";
import UserTeacher from "@/components/UserTeacher";

export default {
  name: "User",
  components: {
    Header,
    Footer,
    Multiselect,
    Datepicker,
    UserProfile,
    UserTeacher,
    SelectRasp,
    Raspisk,
    FileUpload
  },
  data: function() {
    return {
      loaded: false,
      cyrrCont: "",
      additional_languages: "",
      lastpassword: "",
      newpassword: "",
      avatar: "",
      userType: "anonimus",
      userName: "Студент Студентов Студентович",
      firstname: "",
      dat: "Дата рождения",
      progress: 0,
      resp: {},
      ru: ru,
      timezone: null,
      timezones: [],
      countries: [],
      arrLang: [],
      levels: [],
      level: "",
      chPassword: false,
      status: "normal",
      loading: true,
      text: "Сохранить",
      students: [],
      editrasp: false,
      dates: [],
      editRasp: false,
      errorrx: false,
      selectedFile: null,
      image: '',
      avatar: '',
      file: ''
    };
  },
  created() {
    this.$store.dispatch("userInfo").then(() => {
      this.fetchData();
    });
  },
  methods: {
    getAva() {
			return this.selectedFile ? this.selectedFile.name : this.$store.getters.getResp.avatar
		},
		onFileSelected(e) {
			var files = e.target.files || e.dataTransfer.files;
      if (!files.length)
        return;
        this.file=this.$refs.file.files[0];
      this.createImage(files[0]);
		},
		createImage (file){
			var image = new Image();
      var reader = new FileReader();
      var vm = this;

      reader.onload = (e) => {
        vm.image = e.target.result;
      };
			reader.readAsDataURL(file);
      var formData = new FormData();
      formData.append("_method", "put");
      formData.append('avatar',this.file)
      console.log(formData);
      axios
        .post(SERVER_URL + "profile/avatar", formData,  {
          headers: { Authorization: this.$store.getters.getToken, 'Content-Type': 'multipart/form-data' }
        })
        .then(response => {
          console.log(response);
          this.$store.dispatch("userInfo").then(() => {
            this.fetchData();
          });
        })
        .catch(error => {
          console.log(error);
        });
		},
    chageRasp () {
      this.$store.dispatch('chageRaspp')
    },
    checkRasp() {
      return this.$store.getters.getResp.schedule_able === true && this.$store.getters.getResp.schedule === null || this.$store.getters.getEditRasp === true
    },
    fetchData() {
      if (this.$store.getters.getResp.userType === "student") {
        axios
          .get(SERVER_URL + "directories/levels", {
            headers: { Authorization: this.$store.getters.getToken }
          })
          .then(response => {
            this.levels = response.data.data.levels;
          })
          .catch(error => {
            console.log(error);
          });
        axios
          .get(SERVER_URL + "profile", {
            headers: { Authorization: this.$store.getters.getToken }
          })
          .then(response => {
            this.resp = response.data.data.profile;
            this.avatar = response.data.data.profile.avatar;
            this.userName = response.data.data.profile.fullname;
            this.firstname = response.data.data.profile.firstname;
            this.progress = response.data.data.profile.progress;
            this.loading = false;
          })
          .catch(e => {
            if (e.response.status === 401) {
              this.$store.dispatch("logout");
              this.$router.push({ path: "login" });
            } else {
              alert(
                "Ошибка: " + e + " Сообщите администратору: pebah@inbox.ru"
              );
            }
          });
        axios
          .get(SERVER_URL + "directories/timezones", {
            headers: { Authorization: this.$store.getters.getToken }
          })
          .then(response => {
            this.timezones = response.data.data.timezones;
          })
          .catch(e => {
            console.log(e);
          });
        axios
          .get(SERVER_URL + "directories/languages", {
            headers: { Authorization: this.$store.getters.getToken }
          })
          .then(response => {
            this.arrLang = response.data.data.languages;
          })
          .catch(e => {
            console.log(e);
          });
        axios
          .get(SERVER_URL + "directories/countries", {
            headers: { Authorization: this.$store.getters.getToken }
          })
          .then(response => {
            this.countries = response.data.data.countries;
          })
          .catch(e => {
            console.log(e);
          });
      } else if(this.$store.getters.getResp.userType == "teacher") {
        axios
          .get(SERVER_URL + "students", {
            headers: { Authorization: this.$store.getters.getToken }
          })
          .then(response => {
            this.loading = false;
            this.students = response.data.data.students;
          })
          .catch(e => {
            console.log(e);
          });
      }
    },
    customFormatter(date) {
      return moment(date).format("YYYY-MM-DD");
    },
    find(array, value) {
      for (var i = 0; i < array.length; i++) {
        if (array[i] === value) return i;
      }
      return null;
    },
    save: function(event) {
      event.preventDefault();
      this.status = "disabled";
      this.text = "Изменяю...";    
      let data = {
        _method: "put",
        read_books: this.resp.read_books,
        watch_films: this.resp.watch_films,
        speak_with: this.resp.speak_with
      };
      // if(this.resp.firstname !== '') {
        data["firstname"] = this.resp.firstname;
      // }
      if(this.resp.lastname !== '') {
        data["lastname"] = this.resp.lastname;
      }
      if(this.resp.email !== '') {
        data["email"] = this.resp.email;
      }
      if(this.resp.phone !== '') {
        data["phone"] = this.resp.phone;
      }
      if(this.resp.skype !== '') {
        data["skype"] = this.resp.skype;
      }

      if(this.resp.birthday !== '') {
        if (this.customFormatter(this.resp.birthday)) {
          data["birthday"] = this.customFormatter(this.resp.birthday);
        }
      }

      if(this.resp.timezones !== '') {
        if (this.find(this.timezones, this.resp.timezone)) {
          data["timezone_id"] = this.find(this.timezones, this.resp.timezone);
        }
      }

      if(this.resp.countries !== '') {
        if (this.find(this.countries, this.resp.country)) {
          data["country_id"] = this.find(this.countries, this.resp.country);
        }
      }
      if (this.find(this.levels, this.resp.english_level)) {
        data["english_level_id"] = this.find(
          this.levels,
          this.resp.english_level
        );
      }
      if (this.find(this.arrLang, this.resp.additional_languages)) {
        data["additional_languages_ids"] = [
          this.find(this.arrLang, this.resp.additional_languages)
        ];
      }
      console.log(data);
      data = JSON.stringify(data);
      console.log(data);
      axios
        .post(SERVER_URL + "profile", data, {
          headers: {
            Authorization: this.$store.getters.getToken,
            "Content-Type": "application/json"
          }
        })
        .then(response => {
          setTimeout(() => {
            this.status = "normal";
            this.text = "Изменить";
            this.$store.dispatch("userInfo").then(() => {
              this.fetchData();
            });
          }, 3000);
        })
        .catch(error => {
          console.log(error);
        });
    },
    chagePassword: function(event) {
      event.preventDefault();
      this.errorrx = false;
      let data = JSON.stringify({
        _method: "put",
        old_password: this.lastpassword,
        password: this.newpassword,
        password_confirmation: this.newpassword
      });
      axios
        .post(SERVER_URL + "profile/password", data, {
          headers: {
            Authorization: this.$store.getters.getToken,
            "Content-Type": "application/json"
          }
        })
        .then(response => {
          this.chPassword = "Пароль успешно изменен";
        })
        .catch(error => {
          this.errorrx = 'Ошибка, неверный пароль'
          console.log(error);
        });
    }
  }
};
</script>
<style src='vue-multiselect/dist/vue-multiselect.min.css'></style>
<style lang='scss'>
.lesson{
  .progress__bar .progress__progress{
    height: 4px;
    background-color: #2fd173
  }
}
.teacher {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.multiselect__tags {
  background-color: transparent;
}
.user {
  &__error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
  }
  .btn {
    width: 312px;
  }
  .multiselect__element {
    width: 100%;
    height: auto;
  }
  .multiselect__option {
    white-space: normal;
    * {
      white-space: normal;
    }
  }
  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__left {
    padding: 10px;
    padding-top: 40px;
    padding-bottom: 20px;
    width: 300px;
  }
  &--white {
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 29px 0px rgba(13, 24, 51, 0.06);
  }
  &__right {
    width: 970px;
  }
  &__100 {
    padding: 35px 50px;
    margin-bottom: 30px;
  }
  padding-bottom: 80px;
  &__avatar {
    margin-left: auto;
    margin-right: auto;
    width: 135px;
    height: 135px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c52cc;
    img {
      height: 100%;
      width: auto;
    }
  }
  &__name {
    font-size: 22px;
    line-height: 27px;
    font-weight: 700;
    color: #0d1833;
    text-align: center;
    margin-bottom: 20px;
  }
  &__menu {
    display: flex;
    flex-direction: column;
  }
  &__link {
    line-height: 36px;
    color: #0d1833;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    &:hover {
      color: #1c52cc;
    }
    &:active {
      position: relative;
      top: 1px;
    }
    &.router-link-active {
      color: #1c52cc;
    }
  }
  &__title {
    color: #7f8593;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
  }
  .progress {
    display: flex;
    align-items: center;
    &__name {
      width: 210px;
      font-weight: 700;
      color: #0d1833;
      font-size: 24px;
    }
    &__progress {
      width: calc(100% - 210px);
      height: 13px;
      border-radius: 7px;
      background-color: #eaf1f8;
    }
    &__green {
      color: #fff;
      background-color: #2fd173;
      height: 100%;
      border-radius: 7px;
      box-shadow: 0px 8px 29px 0px rgba(47, 209, 115, 0.33);
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 15px;
      font-weight: 700;
    }
  }
  &__oname {
    color: #0d1833;
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 20px;
    &.cent {
      text-align: center;
      margin-bottom: 0;
    }
  }
  .html {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .userform {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &--100 {
      border-top: 1px solid #e7eaf3;
      padding-top: 35px;
      padding-bottom: 35px;
      margin-left: -50px;
      margin-right: -50px;
      padding-left: 50px;
      padding-right: 50px;
      flex-wrap: wrap;

      .userform__title {
        color: rgba(13, 24, 51, 0.53);
        font-size: 18px;
        margin-bottom: 10px;
      }
      .userform__input {
        margin-bottom: 0;
      }
      .userform__row {
        width: 430px;
        &:first-child,
        &:last-child {
          width: 430px;
        }
        .multiselect__content-wrapper {
          z-index: 100;
          border-radius: 31px;
          border: 2px solid #ededee;
          margin-top: -2px;
          overflow-x: hidden;
        }
        .multiselect {
          position: relative;
          z-index: 20;
          &--active {
            z-index: 21;
          }
        }
        .multiselect--active {
          .multiselect__tags {
            z-index: 105;
          }
          .multiselect__content-wrapper {
            z-index: 103;
          }
        }
        .multiselect__content {
          padding-top: 10px;
          padding-bottom: 10px;
        }
        .multiselect__content {
          width: 100%;
        }
        .multiselect__tags {
          z-index: 101;
          position: relative;
        }
        .userform__input {
          width: 100%;
        }
        .multiselect__tags {
          padding-left: 38px;
          padding-right: 90px;
          height: 62px;
          border: 2px solid #ededee;
          border-radius: 31px;
          display: flex;
          padding-top: 0;
          align-items: center;
          span {
            color: #0d1833;
            font-weight: 700;
            font-size: 18px;
          }
        }
        .multiselect__single {
          margin-bottom: 0;
        }
        .multiselect__select {
          height: 100%;
          width: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
          &::before {
            width: 9px;
            height: 9px;
            border: 2px solid #2abe68;
            border-top: none;
            border-left: none;
            transform: rotate(45deg);
            top: 0;
            margin: 0;
          }
        }
      }
      .userform__row {
        &:nth-child(3) {
          margin-top: 30px;
          margin-bottom: 0;
          width: 100%;
        }
      }
    }
    &__row {
      &:first-child {
        width: 16.67%;
      }
      &:last-child {
        width: 82.76%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
      }
    }
    &__input {
      width: 48.61%;
      margin-bottom: 23px;
      input {
        padding-left: 35px;
        padding-right: 35px;
        height: 62px;
        border: 2px solid #ededee;
        font-size: 18px;
        color: #0d1833;
        ::-webkit-input-placeholder,
        ::-moz-placeholder,
        :-ms-input-placeholder,
        :-moz-placeholder {
          color: #7f8593;
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
    &__avatar {
      width: 105px;
      height: 105px;
      overflow: hidden;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 8px;
      background-color: #1c52cc;
      img {
        width: 100%;
        height: auto;
      }
    }
    &__text {
      width: 105px;
      text-align: center;
      color: #0d1833;
      font-size: 20px;
    }
    &__load {
      width: 105px;
      text-align: center;
    }
    &__link {
      display: inline;
      color: #1c52cc;
      font-weight: 700;
      font-size: 18px;
      border-bottom: 1px solid #1c52cc;
    }
  }
  .vdp-datepicker__calendar {
    width: 100%;
  }
  &__double {
    display: flex;
    justify-content: space-between;
  }
  &__50 {
    width: 470px;
    padding-left: 54px;
    padding-right: 54px;
    padding-top: 40px;
    padding-bottom: 40px;
    .btn {
      width: 100%;
    }
    .user__oname {
      font-size: 30px;
    }
    .userform__input {
      width: 100%;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .user__100:nth-child(2) {
    .user__oname {
      font-size: 30px;
    }
  }
  .multiselect__select {
    z-index: 102;
  }
  .chaened {
    color: #2fd173;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  position: relative;
  // .loading {
  //   position: absolute;
  //   z-index: 111;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   background-color: rgba(15, 27, 58, 0.85);
  // }
}
.raspisk__add {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 700;
  color: #2fd173;
  cursor: pointer;
}
@media only screen and (max-width: 1440px) {
  .user__right{
    width: 750px;
  }
  .user__left {
    width: 230px;
  }
  .user__100{
    padding: 20px 30px;
  }
  .user .userform--100{
    margin-left: -30px;
    margin-right: -30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .user .userform--100 .userform__row:first-child, .user .userform--100 .userform__row:last-child,
  .user .userform--100 .userform__row{
    width: 48%; 
  }
  .user__50{
    width: 100%;
    margin-bottom: 20px;
  }
  .user__double{
    flex-wrap: wrap;
  }
  .user__oname{
    font-size: 32px;
    line-height: 39px;
  }
  .user .html{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .teacherx{
    width: 240px;
    margin-right: 15px;
    margin-bottom: 15px;
    flex-wrap: wrap;
  }
  .teacherx__avatar{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .teacherx__name{
    text-align: center;
  }
  .user__name{
    font-size: 18px;
  }
  .user__link{
    line-height: 28px;
    font-size: 17px;
  }
  .user__avatar{
    width: 120px;
    height: 120px;;
  }
  .user .btn{
    width: 250px;
  }
}
.erx{
  color: red;
  a{
    color: red;
  }
}
</style>
