<template>
  <div class='page'>
    <Header/>
    <section class='user' v-if="this.$store.getters.getResp.userType">
      <div class="loading" v-if="loading"></div>
      <div class='container'>
        <div class='user__flex'>
          <div class='user__left user--white'>
            <UserProfile/>
          </div>
          <div class='user__right vebinars'>
            <div class="leksika__title">Вебинары</div>
            <div class="vebinars">
              <div class="vebinars__title">Анонс предстоящих вебинаров</div>
              <div class="vebinars__flex">
                <Vebinar v-for="vebinar in vebinar__new" v-bind:key="vebinar.id" v-bind:vebinar="vebinar"/>
              </div>
              <div class="vebinars__name">Прошедшие вебинары</div>
              <div class="vebinars__flex">
                <Vebinar v-for="vebinar in vebinar__old" v-bind:key="vebinar.id" v-bind:vebinar="vebinar"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class='error' v-if="!this.$store.getters.getResp.userType">
      <div class='container'>
        <div style='color:red; padding-top:20vh;padding-bottom:20vh; font-size: 32px; text-aling:center'>Ошибка, нет такого типа пользователя</div>
      </div>
    </section>
    <Footer/>
  </div>
</template>

<script>

import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import Vebinar from '@/components/Vebinar.vue'
import UserProfile from '@/components/UserProfile.vue'
import axios from 'axios'
import { SERVER_URL } from '../constants'

export default {
  name: 'Vebinars',
  components: {
    Header,
    Footer,
    UserProfile,
    Vebinar
  },
  data: function () {
    return {
      vebinar__old: [],
      vebinar__new: [],
      loading: true
    }
  },
  created () {
    this.$store.dispatch('userInfo')
    axios
      .get(SERVER_URL + 'webinars/new', {params: {limit: 99999}, headers: { 'Authorization': this.$store.getters.getToken }})
      .then(response => {
        this.vebinar__new = response.data.data.webinars_new
      })
      .catch(error => {
        console.log(error)
      })
    axios
      .get(SERVER_URL + 'webinars/old', {params: {limit: 99999}, headers: { 'Authorization': this.$store.getters.getToken }})
      .then(response => {
        this.vebinar__old = response.data.data.webinars_old
        this.loading = false
      })
      .catch(error => {
        console.log(error)
      })
  },
  methods: {
  }
}
</script>
