<template>
  <div class='page'>
    <!-- <gallery :images="videox" :index="index" :options="{youTubeVideoIdProperty: 'youtube', youTubePlayerVars: undefined, youTubeClickToPlay: true}" @close="index = null"></gallery> -->
    <Header/>
    <section class='user' v-if="this.$store.getters.getResp.userType">
      <div class="loading" v-if="loading"></div>
      <div class='container'>
        <div class='user__flex'>
          <div class='user__left user--white'>
            <UserProfile/>
          </div>
          <div class='user__right readers'>
            <div class="leksika__title">Видео</div>
            <div class="readers__tabs">
              <div class="readers__tabnames">
                <div class="readers__tabname" v-on:click="chageActive(theme.id)" v-for="(theme, index) in themes" v-bind:key="index" v-bind:class="{active:index==activeIndex}" v-bind:themId="theme.id">{{theme.title}}</div>
              </div>
              <div class="readers__tabinner">
                <div class="video__tabs" v-for="(video, index2) in videos" v-bind:key="index2">
                  <div class="video__image">
                    <img v-bind:src="video.preview">
                    <div v-bind:href="video.link" class="video__play" @click="index = index2"><svg><use xlink:href="static/svg/sprite.svg#play"></use></svg></div>
                  </div>
                  <div class="video__content">
                    <div class="video__name">{{video.author}}</div>
                    <div class="video__theme">{{video.title}}</div>
                    <div class="video__views"><svg><use xlink:href="static/svg/sprite.svg#eye"></use></svg> <span>{{video.views}}</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class='error' v-if="!this.$store.getters.getResp.userType">
      <div class='container'>
        <div style='color:red; padding-top:20vh;padding-bottom:20vh; font-size: 32px; text-aling:center'>Ошибка, нет такого типа пользователя</div>
      </div>
    </section>
    <Footer/>
  </div>
</template>

<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import Stars2 from '@/components/Stars2.vue'
import UserProfile from '@/components/UserProfile.vue'
import VueGallery from 'vue-gallery'
import axios from 'axios'
import { SERVER_URL } from '../constants'
export default {
  name: 'Videos',
  components: {
    Header,
    Footer,
    UserProfile,
    'gallery': VueGallery
  },
  data: function () {
    return {
      themes: [],
      videos: [],
      activeIndex: 0,
      loading: true,
      index: null,
      videox: []
    }
  },
  created () {
    this.$store.dispatch('userInfo')
    axios
      .get(SERVER_URL + 'videos/themes', {headers: { 'Authorization': this.$store.getters.getToken }, params: {limit: 1000}})
      .then(response => {
        this.themes = response.data.data.video_themes
        axios
          .get(SERVER_URL + 'videos/themes/' + this.themes[0].id, {headers: { 'Authorization': this.$store.getters.getToken }, params: {limit: 1000}})
          .then(response => {
            this.videos = response.data.data.videos;
            this.loading = false
          })
          .catch(e => {
            console.log(e)
          })
      })
      .catch(e => {
        console.log(e)
      })
  },
  methods: {
    chageActive: function (id) {
      this.activeIndex = id - 1;
      axios
        .get(SERVER_URL + 'videos/themes/' + this.themes[this.activeIndex].id, {headers: { 'Authorization': this.$store.getters.getToken }, params: {limit: 1000}})
        .then(response => {
          this.videos = response.data.data.videos
        })
        .catch(e => {
          console.log(e)
        })
    }
  }
}
</script>

<style lang="scss">
@media only screen and (max-width: 1440px) {
  .video__tabs{
    width: 240px;
    margin-right: 15px;
    margin-bottom: 15px;
  }
  .video__image{
    height: 155px;
  }
  .video__name,
  .video__theme{
    font-size: 16px;
    line-height: 22px;
  }
  .video__theme{
    line-height: 19px;
  }
  
}
</style>
