<template>
	<div class="test__checkbox">
		<label class="checkbox" v-for="(variant, index) in variants" v-bind:key="index">
			<input type="checkbox" :name="'checkbox'+id" class="checkbox__input" :value="index" v-model="value">
			<div class="checkbox__fake"></div>
			<div class="checkbox__text">{{variant}}</div>
		</label>
	</div>
</template>

<script>
export default {
	name: 'Checkbox',
	props: {
		variants: Array,
		id: Number
	},
	data: function() {
    return {
      value: []
    }
	},
	watch: {
		value: function(val, oldVal){
			this.$parent.chageAnswer(val);
		}
	}
}
</script>