<template>
	<div class="test__file">
		<label class="file">
			<input type="file" @change="uploadFiles" :name="'file'+id">
		</label>
	</div>
</template>

<script>
export default {
	name: 'File',
	props: {
		id: Number
	},
	data: function() {
    return {
      value: ''
    }
	},
	methods: {
		uploadFiles(data) {
      this.value = data;
    }
	}
}
</script>