<template>
	<div class="test__input">
		<div class="input" v-for="(vax, index) in variants" v-bind:key="index"> <div class="input__circle">{{index+1}}</div> <input v-model="value[index]" type="text" :name="'input'+id" placeholder="Ответ"></div>
	</div>
</template>

<script>
export default {
	name: 'Input',
	props: {
		id: Number,
		variants: Array
	},
	data: function() {
    return {
      value: []
    }
	},
	watch: {
		value: function(val, oldVal){
			this.$parent.chageAnswer(val);
		}
	}
}
</script>

<style lang="scss">
.input__circle{
	width: 40px;
	height: 40px;
	min-width: 40px;
	margin-right: 10px;

	border: 2px solid #4773d6;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #0d1833;
	font-weight: 700;
	font-size: 18px;
}
.test  .test__input .input {
	display: flex;
	align-items: center;
}
.test .test__input .input input {
	padding-left: 20px;
	padding-right: 20px;
	height: 40px;
	border-radius: 20px;
}
.test__input .input{
	margin-bottom: 20px;
}
</style>
