<template>
	<div class="test__match">
		<Draggables :list="variants" :list2="pairs" @return="returnMatch"/>
	</div>
</template>

<script>

import Draggables from '@/components/Draggables.vue'
export default {
	name: 'Match',
	components: {
		Draggables
	},
	props: {
		variants: Array,
		pairs: Array,
		id: Number
	},
	data: function() {
    return {
      value: []
    }
  },
	methods: {
		returnMatch(data) {
      this.value = data;
    }
	},
	// created() {
	// 	this.$parent.chageAnswer(this.value);
	// },
	watch: {
		value: function(val, oldVal){
			this.$parent.chageAnswer(val);
		}
	}
}
</script>