<template>
	<div class="test__radio">
		<label class="radio" v-for="(variant, index) in variants" v-bind:key="index">
			<input type="radio" :name="'radio'+id" class="radio__input" v-model="value" :value="index">
			<div class="radio__fake"></div>
			<div class="radio__text">{{variant}}</div>
		</label>
	</div>
</template>

<script>
export default {
	name: 'Radio',
	props: {
		variants: Array,
		id: Number
	},
	data: function() {
    return {
      value: ''
    }
	},
	watch: {
		value: function(val, oldVal){
			this.$parent.chageAnswer(val);
		}
	}
}
</script>