<template>
	<div class="test__match">
		<MatchDrag :list="variants" :list2="columns" @return="returnMatch" />
	</div>
</template>

<script>
import MatchDrag from '@/components/MatchDrag.vue'
export default {
	name: 'Split',
	components: {
		MatchDrag
	},
	props: {
		variants: Array,
		columns: Array,
		id: Number
	},
	data: function() {
    return {
      value: []
    }
  },
	methods: {
		returnMatch(data) {
      this.value = data;
    }
	},
	// created() {
	// 	this.$parent.chageAnswer(this.columns);
	// },
	watch: {
		value: function(val, oldVal){
			this.$parent.chageAnswer(val);
		}
	}
}
</script>