<template>
	<div class="test__textarea">
			<div class="input"><textarea placeholder="Ответ" :name="'textarea'+id" v-model="value"></textarea></div>
	</div>
</template>

<script>
export default {
	name: 'Textarea',
	props: {
		id: Number
	},
	data: function() {
    return {
      value: ''
    }
	},
	watch: {
		value: function(val, oldVal){
			this.$parent.chageAnswer(val);
		}
	}
}
</script>