<template>
  <div class='article'>
    <router-link v-bind:to="'/article/'+article.slug" class="article__image"><img v-bind:src="`${article.thumb}`" v-bind:alt="`${article.title}`"></router-link>
    <div class="article__content">
      <router-link v-bind:to="'/article/'+article.slug" class="article__name">{{article.title}}</router-link>
      <div class="article__text" v-html="`${article.excerpt}`"></div>
      <router-link v-bind:to="'/article/'+article.slug" class="article__link">Читать далее</router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Article',
  props: {
    article: Object
  },
  methods: {
  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped lang='scss'>
.article {
  width: 413px;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 8px 29px 0px rgba(13, 24, 51, 0.06);
  overflow: hidden;
  &:nth-child(3n+3){
    margin-right: 0;
  }
  &__image{
    height: 180px;
    width: 100%;
    display: block;
    img{
      height: 100%;
      width: auto;
    }
  }
  &__content{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  &__name{
    color: #0d1833;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 15px;
    display: block;
    text-decoration: none;
    height: 64px;
    font-weight: 700;
    overflow: hidden;
  }
  &__text{
    color: #0d1833;
    font-size: 20px;
    line-height: 24px;
    height: 168px;
    overflow: hidden;
    display: block;
  }
  &__link{
    font-weight: 700;
    color: #2fd173;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    margin-top: 12px;
    border-bottom: 1px solid #2fd173;
  }
}
@media only screen and (max-width: 1440px) {
  .article__name{
    margin-top: 0;
    font-size: 22px;
    line-height: 22px;
    height: 66px;
    overflow: hidden;
  }
  .article{
    margin-right: 10px;
    width: 326.666667px;
  }
  .article__image{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .article__text{
    font-size: 17px;
    line-height: 21px;
    height: 168px;
    overflow: hidden;
  }
  .article__content{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

}
</style>
