<template>
  <div class='breadcrumbs'>
    <router-link to='/' class='breadcrumbs__link' exact>Главная</router-link>
    <span v-if="prelastname"><svg><use xlink:href='/static/svg/sprite.svg#arrow-right'></use></svg></span>
    <router-link v-if="prelastname" v-bind:to="prelastto" class='breadcrumbs__link'>{{prelastname}}</router-link>
    <span><svg><use xlink:href='/static/svg/sprite.svg#arrow-right'></use></svg></span>
    <span>{{ last }}</span>
  </div>
</template>

<script>
export default {
  name: 'Breadcrumbs',
  props: {
    last: String,
    prelastto: false,
    prelastname: false
  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped lang='scss'>
.breadcrumbs {
  color: #9b9ea7;
  font-size: 18px;
  display: flex;
  span,
  a {
    display: block;
  }
  a {
    font-size: 18px;
    color: #9b9ea7;
    text-decoration: none;
  }
  span:nth-child(2n + 2) {
    margin-left: 10px;
    margin-right: 10px;
  }
  svg {
    fill: #7d8496;
    width: 7px;
    height: 12px;
  }
}
</style>
