<template>
	<div class="dragless">
		<draggable class="list-group" v-model="data1" :options="dragOptions2" @start="isDragging=true" @end="end1">
			<transition-group type="transition" :name="'flip-list'" tag="ul">
				<li class="list-group-item" v-for="element in data1" :key="element.order"> {{element.name}}</li>
			</transition-group>
		</draggable>
		<draggable class="list-group"  v-model="data2" :options="dragOptions" @end="end2">
			<transition-group name="no" tag="ul">
				<li class="list-group-item" v-for="element in data2" :key="element.order">
					{{element.name}}
				</li>
			</transition-group>
		</draggable>
	</div>
</template>

<script>
import draggable from 'vuedraggable'

export default {
	name: "Draggables",
	components: {
		draggable
	},
	props: {
		list: Array,
		list2: Array
	},
	data () {
    return {
			data1: [],
			data2: [],
			editable: true,
      isDragging: false,
      delayedDragging: false
    }
	},
	methods: {
		orderList() {
      this.data1 = this.data1.sort((one, two) => {
        return one.order - two.order;
      });
		},
		end1()  {
			this.$emit('return', this.data2);
		},
		end2() {
			this.isDragging=false;
			this.$emit('return', this.data2);
		}
	},
	computed: {
    dragOptions() {
      return {
        animation: 0,
        disabled: false,
        ghostClass: "ghost"
      };
		},
		dragOptions2() {
      return {
        animation: 0,
        disabled: true,
        ghostClass: "ghost"
      };
    },
    listString() {
      return JSON.stringify(this.data1, null, 2);
    },
    list2String() {
      return JSON.stringify(this.data1, null, 2);
    }
  },
	created() {
		this.data1 = this.list.map(function(item,index){
			return {
				name: item,
				order: index
			}
		})
		this.data2 = this.list2.map(function(item,index){
			return {
				name: item,
				order: index
			}
		})
	},
	watch: {
    isDragging(newValue) {
      if (newValue) {
        this.delayedDragging = true;
        return;
      }
      this.$nextTick(() => {
        this.delayedDragging = false;
      });
    }
  }
}
</script>


<style lang="scss">
.dragless{
	display: flex;
	justify-content: space-between;
}
.list-group{
	width: 48%;
	background-color: #f8fafe;
	border-radius: 5px;
}
.flip-list-move {
  transition: transform 0.5s;
}
.no-move {
  transition: transform 0s;
}
.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}
.list-group {
  min-height: 20px;
}
.list-group-item{
	padding: 10px 15px;
	border: 2px solid #4773d6;
	background-color: #fff;
	user-select: none;
	border-radius: 10px;
	width: 100%;
	&:not(:last-child){
		margin-bottom: 10px;
	}
}
.list-group-item {
  cursor: move;
}
.list-group-item i {
  cursor: pointer;
}
</style>


