<template>
  <div class='faqitem' v-bind:class="{ isActive: active }">
    <div class='faqitem__top'>
      <div class='faqitem__name'>{{index+1}}. {{name}}</div>
      <div class='faqitem__icon' @click="activate"><svg><use xlink:href='static/svg/sprite.svg#arrow-bottom'></use></svg></div>
    </div>
    <div class='faqitem__content'>
      <div class='html' v-html="descript"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Faqitem',
  data: function () {
    return { active: false }
  },
  props: {
    name: String,
    descript: String,
    index: Number
  },
  methods: {
    activate: function (event) {
      this.active = !this.active
    }
  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style lang='scss'>
  .faqitem{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 8px 29px 0px rgba(13, 24, 51, 0.06);
    position: relative;
    &:not(:last-child){
      margin-bottom: 20px;
    }
    &__top{
      padding-left: 25px;
      padding-right: 60px;
      padding-top: 17px;
      padding-bottom: 17px;
    }
    &__name{
      color: #0d1833;
      font-size: 20px;
      font-weight: 700;
      user-select: none;
    }
    &__icon{
      position: absolute;
      right: 15px;
      top: 4px;
      height: 46px;
      width: 46px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      svg{
        width: 16px;
        height: 16px;
        fill: #2fd173;
      }
    }
    &__content{
      max-height: 0;
      overflow: hidden;
      transition: max-height ease-in-out .3s;
      padding-left: 35px;
      padding-right: 60px;
      .html{
        padding-top: 5px;
        padding-bottom: 20px;
        *{
          user-select: none;
        }
      }
    }
    &.isActive &__icon{
      transform: rotate(180deg);
    }
    &.isActive &__content{
      max-height: 300px;
    }
  }
</style>
