<template>
	<div class="avatarUpload">
		<div class="userform__text">Аватар</div>
			<input id="loadfile" type="file" @change="onFileSelected">
			<div class="userform__avatar">
				<img v-bind:src='getAva()'>
			</div>
		<div class="userform__load"><label class="userform__link" for="loadfile">Загрузить</label></div>
	</div>
</template>


<script>
import axios from 'axios'
import { SERVER_URL } from "../constants";

export default {
	name: 'FileUpload',
	props: {
		avatar: String
	},
	data () {
		return {
			selectedFile: null,
			image: ''
		}
	},
	methods: {
		getAva() {
			return this.selectedFile ? this.selectedFile.name : this.image
		},
		onFileSelected(e) {
			var files = e.target.files || e.dataTransfer.files;
      if (!files.length)
        return;
      this.createImage(files[0]);
		},
		createImage (file){
			var image = new Image();
      var reader = new FileReader();
      var vm = this;

      reader.onload = (e) => {
        vm.image = e.target.result;
      };
			reader.readAsDataURL(file);
			
			let formData = new FormData();
			formData.append(file)
		}
	}
}
</script>

<style lang="scss">
.avatarUpload{
	.userform__link{
		cursor: pointer;
	}
	input{
		display: none;
	}
}
</style>
