<template>
  <footer class="footer" v-bind:class="{ footerAnimated: animated }">
    <div class="container">
      <div class="footer__name">Наши контакты</div>
      <div class="footer__flex">
        <div class="footer__row">
          <div class="footer__desc">Телефон</div>
          <div class="footer__text">
            <a v-for="(phone, index) in this.$store.getters.getPhones" v-bind:key="index" v-bind:href="`tel:${phone}`"  class="footer__link">{{ phone }}</a>
          </div>
        </div>
        <div class="footer__row">
          <div class="footer__desc">E-mail</div>
          <div class="footer__text">
            <a v-bind:href="`mailto:${this.$store.getters.getEmail}`" class="footer__link">{{this.$store.getters.getEmail}}</a>
          </div>
        </div>
        <div class="footer__row">
          <div class="footer__desc">Skype</div>
          <div class="footer__text">
            <a v-bind:href="`skype:${this.$store.getters.getSkype}`" class="footer__link">{{this.$store.getters.getSkype}}</a>
          </div>
        </div>
        <div class="footer__row">
          <div class="footer__desc"></div>
          <div class="footer__text">
            <div class="social">
              <a v-bind:href="this.$store.getters.getFa" v-if="this.$store.getters.getFa" class="social__item" target="_blank"><svg><use xlink:href='/static/svg/sprite.svg#fa'></use></svg></a>
              <a v-bind:href="this.$store.getters.getGo" v-if="this.$store.getters.getGo" class="social__item" target="_blank"><svg><use xlink:href='/static/svg/sprite.svg#go'></use></svg></a>
              <a v-bind:href="this.$store.getters.getVk" v-if="this.$store.getters.getVk" class="social__item" target="_blank"><svg><use xlink:href='/static/svg/sprite.svg#vk'></use></svg></a>
              <a v-bind:href="this.$store.getters.getInstagram" v-if="this.$store.getters.getInstagram" class="social__item" target="_blank"><svg><use xlink:href='/static/svg/sprite.svg#in'></use></svg></a>
              <a v-bind:href="this.$store.getters.getOd" v-if="this.$store.getters.getOd" class="social__item" target="_blank"><svg><use xlink:href='/static/svg/sprite.svg#od'></use></svg></a>
            </div>
          </div>
        </div>
        </div>
        <form @submit="checkForm" action="/mail.php" class="footer__form" novalidate>
          <div class="footer__formname">Не знаете, какой экзамен выбрать? <br>Оставьте свои контактные данные и мы с Вами свяжемся</div>
          <input type="hidden" name="nameform" value="Заявка с футера">
          <div class="errors">
            <div class="errors__massage" v-for="(error, index) in errors" v-bind:key="index">
              {{error}}
            </div>
          </div>
          <div class="footer__formflex">
            <div class="footer__formrow">
              <label class="input">
                <div class="input__placeholder">
                  <div class="input__icon"><svg><use xlink:href='/static/svg/sprite.svg#user'></use></svg></div>
                  <div class="input__text">Имя</div>
                </div>
                <input type="text" name="name" v-model="name" @focus="focused" @blur="unfocus" autocomplete="off">
              </label>
            </div>
            <div class="footer__formrow">
              <label class="input">
                <div class="input__placeholder">
                  <div class="input__icon"><svg><use xlink:href='/static/svg/sprite.svg#phone'></use></svg></div>
                  <div class="input__text">Номер телефона</div>
                </div>
                <input type="number" name="phone" v-model="phone" @focus="focused" @blur="unfocus" autocomplete="off">
              </label>
            </div>
            <div class="footer__formrow">
              <button type="submit" class="btn btn--base">Получить консультацию</button>
            </div>
          </div>
          <div class="footer__formcenter">
            <label class="checkbox">
              <input type="checkbox" name="accept" class="checkbox__checkbox" v-model="accept" autocomplete="off">
              <div class="checkbox__fake"></div>
              <div class="checkbox__text">Даю согласие на обработку персональных данных</div>
            </label>
          </div>
        </form>
        <div class="footer__flex">
          <div class="footer__row">
          <a href="" class="footer__links">Политика конфиденциальности</a>
        </div>
        </div>
    </div>
    <ModalThanks v-if="showModal" @close="showModal = false" />
  </footer>
  
</template>

<script>
// @ is an alias to /src

import $ from 'jquery'
import ModalThanks from '@/components/ModalThanks'
export default {
  name: 'Footer',
  components: {
    ModalThanks
  },
  data: function () {
    return {
      loaded: false,
      name: null,
      phone: null,
      accept: false,
      errors: [],
      animated: false,
      showModal: false
    }
  },
  created () {
    window.addEventListener('scroll', this.scroll, this.$store)
  },
  destroyed () {
    window.removeEventListener('scroll', this.scroll)
  },
  methods: {
    checkForm: function (e) {
      e.preventDefault()
      this.errors = []
      if (!this.name) {
        this.errors.push('Укажите имя')
      }
      if (!this.phone) {
        this.errors.push('Укажите телефон')
      } else if (!this.validPhone(this.phone)) {
        this.errors.push('Укажите корректный телефон')
      }
      if (!this.accept) {
        this.errors.push('Поставьте галочку')
      }
      if (!this.errors.length > 0) {
        var data = $('.footer__form').serialize();
        
        $.ajax({
          type: 'POST',
          url: '/mail.php',
          data: data,
          success: (data) => {
            
            this.showModal = true
          },
          errors: (error) => {
            
          },
        });
      }
    },
    scroll: function (event) {
      var footer = document.getElementsByClassName('footer')[0].offsetTop - document.getElementsByClassName('footer')[0].offsetHeight + 200
      var scroll = window.window.pageYOffset
      if (scroll >= footer) {
        this.animated = true
      } else {
        this.animated = false
      }
    },
    validPhone: function (phone) {
      var re = /^((\+7|7|8)+([0-9]){10})$|\b\d{3}[-.]?\d{3}[-.]?\d{4}/
      return re.test(phone)
    },
    focused: function (e) {
      e.target.closest('.input').classList.add('input--focus')
    },
    unfocus: function (e) {
      if (!e.target.value.length) {
        e.target.closest('.input').classList.remove('input--focus')
      }
    }
  }
}
</script>

<style lang='scss'>
.footer{
  background-color: #fff;
  padding-top: 70px;
  padding-bottom: 35px;
  position: relative;
  overflow: hidden;
  .breadcrumbs{
    margin-bottom: 15px;
  }
  &:after{
    height: 110%;
    transform: skew(-10deg);
    position: absolute;
    bottom: 0;
    left: 2000px;
    width: 2000px;
    content: '';
    background-color: #f0f5fe;
    z-index: 1;
    transition: left 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  &.footerAnimated{
    &:after{
      left: 65%;
    }
  }
  .container{
    z-index: 2;
    position: relative;
  }
  &__name{
    margin-bottom: 40px;
    color: #0d1833;
    font-size: 40px;
    font-weight: 600;
  }
  &__flex{
    display: flex;
    justify-content: space-between;
  }
  &__row{
    &:nth-child(1){
      width: 525px;
    }
    &:nth-child(2){
      width: 300px;
    }
    &:nth-child(3){
      width: 240px;
    }
    &:nth-child(4){
      width: 230px;
    }
  }
  &__desc{
    display: block;
    color: #1c52cc;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
    height: 16px;
  }
  &__text{
    color: #0d1833;
    font-size: 26px;
    font-weight: 700;
  }
  &__link{
    color: #0d1833;
    font-size: 24px;
    text-decoration: none;
    font-weight: 400;
    &:hover{
      color: #2abe68;
    }
  }
  &__row:first-child &__link{
    color: #0d1833;
    font-size: 26px;
    text-decoration: none;
    font-weight: 700;
    &:hover{
      color: #2abe68;
    }
  }
  &__link+&__link{
    margin-left: 50px;
  }
  &__form{
    margin-top: 40px;
    margin-bottom: 50px;
    border-radius: 15px;
    background-color: rgb(28, 82, 204);
    box-shadow: 0px 8px 29px 0px rgba(28, 82, 204, 0.33);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 30px;
  }
  &__formflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .btn{
    width: 100%;
  }
  &__formrow{
    width: 372px;
  }
  &__formname{
    text-align: center;
    font-size: 32px;
    line-height: 39px;
    color: #fff;
    font-weight: 700;
  }
  &__links{
    color: #7f8593;
    font-size: 18px;
    font-weight: 400;
  }
  &__formcenter{
    display: flex;
    justify-content: center;
    .checkbox__text{
      color: #fff;
    }
  }
}
.social{
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__item{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    &:after{
      position: absolute;
      width: 80px;
      height: 80px;
      content: '';
      border: 40px solid #1c52cc;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      opacity: 0;
      transition: opacity ease-in-out .4s, border-width ease-in-out .3s, width ease-in-out .3s, height ease-in-out .3s;
      pointer-events: none;
      user-select: none;
    }
    &:hover{
      &:after{
        opacity: 1;
        width: 40px;
        height: 40px;
        border-width: 2px;
      }
    }
    &:active{
      background-color: #1c52cc;
      &:after{
        background-color: #1c52cc;
        z-index: -1;
      }
      svg{
        fill: #fff;
        position: relative;
        top: 1px;
      }
    }
    svg{
      width: 20px;
      height: 20px;
      fill: #1c52cc;
    }
  }
}
  @media only screen and (max-width: 1440px) {
    .footer__row:first-child .footer__link{
      font-size: 20px;
    }
    .footer__link{
      font-size: 20px;
    }
    .footer{
      padding-top: 50px;
    }
    .footer .input input, .footer .input textarea{
      padding-left: 40px;
      padding-right: 40px;
    }
    .footer{
      .input__placeholder{
        font-size: 17px;
      }
    }
    .footer__formrow{
      width: 290px;
    }
    .footer .btn{
      font-size: 16px;
    }
    .footer__form{
      margin-bottom: 20px;
    }
    .footer{
      padding-bottom: 25px;
    }
  }
</style>
