<template>
  <header class='header' v-bind:class="{ headerMain: type}">
    <div class='container'>
      <router-link to='/' class='header__logo' exact><img v-if="!type" src='/static/img/logo.png' alt=''><img v-else src="/static/img/logo3.png" class="loho3" alt=""></router-link>
      <div class='header__menu'>
        <div class='header__item header__item--inner'>
          <router-link to='/' class='header__link'>Типы экзаменов<svg><use xlink:href='/static/svg/sprite.svg#arrow-bottom'></use></svg></router-link>
          <div class='header__items'>
            <router-link to='/examination/toefl' class='header__link'>TOEFL</router-link>
            <router-link to='/examination/academic' class='header__link'>IELTS academic</router-link>
            <router-link to='/examination/general' class='header__link'>IELTS general</router-link>
          </div>
        </div>
        <div class='header__item'>
          <router-link to='/rates' class='header__link'>Тарифы</router-link>
        </div>
        <div class='header__item'>
          <router-link to='/faq' class='header__link'>Частые вопросы</router-link>
        </div>
        <div class='header__item'>
          <router-link to='/reviews' class='header__link'>Отзывы</router-link>
        </div>
        <div class='header__item'>
          <router-link to='/articles' class='header__link'>Полезные статьи</router-link>
        </div>
        <div class='header__item'>
          <router-link to='/about' class='header__link'>О проекте</router-link>
        </div>
        <div class='header__item'>
          <router-link to='/contacts' class='header__link'>Контакты</router-link>
        </div>
      </div>
      <div class="header__lk"  @click="showModals()">
        <img src="/static/img/icon-user.png" alt="">
      </div>
    </div>
    <Modal v-if="showModal" @close="showModal = false" />
  </header>
</template>

<script>
import Modal from '@/components/Modal.vue'
export default {
  name: 'Header',
  components: {
    Modal
  },
  data: function () {
    return {
      isFixed: false,
      showModal:  false
    }
  },
  props: {
    type: false
  },
  methods: {
    showModals: function (e) {
      console.log(this.$store.getters.getResp);
      console.log(this.$store.getters.getResp.email);
      if(this.$store.getters.getResp.email === undefined){
        this.showModal = true
      } else {
        this.$router.push('login')
      }
    }
  }
}
</script>

