<template>
  <div class="lesson" v-if="lesson.is_open">
    <div class="lesson__name">{{lesson.title}}</div>
    <div class="lesson__stars">
      <Stars v-bind:stars="lesson.progress"/>
    </div>
    <div class="lesson__progress">
      <Progress v-for="(module, index) in lesson.modules" v-bind:key="index" v-bind:progress="module"/>
    </div>
    <router-link :to="'/lessons/'+lesson.id" class="lesson__btn btn btn--base">Повторить</router-link>
  </div>
  <div class="lesson lesson--bg" v-else>
    <div class="lesson__name">{{lesson.title}}</div>
    <div class="lesson__icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="96px" height="111px"><defs><filter filterUnits="userSpaceOnUse" id="Filter_0" x="0px" y="0px" width="96px" height="111px"  ><feOffset in="SourceAlpha" dx="0" dy="8" /><feGaussianBlur result="blurOut" stdDeviation="5.385" /><feFlood flood-color="rgb(13, 24, 51)" result="floodOut" /><feComposite operator="atop" in="floodOut" in2="blurOut" /><feComponentTransfer><feFuncA type="linear" slope="0.06"/></feComponentTransfer><feMerge><feMergeNode/><feMergeNode in="SourceGraphic"/></feMerge></filter></defs><g filter="url(#Filter_0)"> <path fill-rule="evenodd"  opacity="0.529" fill="rgb(110, 115, 126)" d="M63.128,74.000 L31.872,74.000 C29.737,74.000 28.000,72.254 28.000,70.107 L28.000,46.028 C28.000,43.882 29.737,42.135 31.872,42.135 L35.744,42.135 L35.744,31.820 C35.744,25.302 41.018,20.000 47.500,20.000 C53.982,20.000 59.256,25.302 59.256,31.820 L59.256,42.135 L63.128,42.135 C65.263,42.135 67.000,43.882 67.000,46.029 L67.000,70.107 C67.000,72.254 65.263,74.000 63.128,74.000 ZM56.675,31.820 C56.675,26.734 52.559,22.595 47.500,22.595 C42.441,22.595 38.325,26.734 38.325,31.820 L38.325,42.135 L56.675,42.135 L56.675,31.820 ZM64.419,46.029 C64.419,45.313 63.840,44.731 63.128,44.731 L31.872,44.731 C31.160,44.731 30.581,45.313 30.581,46.029 L30.581,70.107 C30.581,70.823 31.160,71.405 31.872,71.405 L63.128,71.405 C63.840,71.405 64.419,70.823 64.419,70.107 L64.419,46.029 ZM51.167,58.430 L51.167,63.269 C51.167,65.301 49.522,66.955 47.500,66.955 C45.478,66.955 43.834,65.301 43.834,63.269 L43.834,58.430 C42.776,57.422 42.170,56.005 42.170,54.539 C42.170,51.584 44.561,49.180 47.500,49.180 C50.439,49.180 52.830,51.584 52.830,54.539 C52.830,56.005 52.224,57.422 51.167,58.430 ZM47.500,51.776 C45.984,51.776 44.751,53.016 44.751,54.539 C44.751,55.309 45.058,56.024 45.614,56.551 C46.123,57.033 46.415,57.707 46.415,58.400 L46.415,63.269 C46.415,63.870 46.902,64.360 47.500,64.360 C48.099,64.360 48.585,63.870 48.585,63.269 L48.585,58.400 C48.585,57.707 48.877,57.033 49.386,56.551 C49.942,56.024 50.249,55.309 50.249,54.539 C50.249,53.016 49.015,51.776 47.500,51.776 Z"/> </g></svg></div>
  </div>
</template>
<script>
import Stars from '@/components/Stars.vue'
import Progress from '@/components/Progress.vue'

export default {
  name: 'Lesson',
  components: {
    Progress,
    Stars
  },
  props: {
    lesson: Object
  }
}
</script>

<style lang="scss">
.lesson{
  padding-bottom: 38px;
  padding-top: 30px;
  padding-left: 37px;
  padding-right: 37px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 8px 29px 0px rgba(13, 24, 51, 0.06);
  width: 300px;
  margin-right: 33px;
  margin-bottom: 30px;
  &:nth-child(3n+3){
    margin-right: 0;
  }
  &__name{
    color: #0d1833;
    font-size: 26px;
    text-align: center;
    font-weight: 700;
  }
  &--bg &__name{
    color: #858c9d;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  &--bg{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: transparent;
    box-shadow: none;
    border: 2px solid #e2e5eb;
  }
  .btn{
    width: 100%;
    height: 52px;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 1440px) {
  .lesson{
    width: 240px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
</style>
