<template>
  <div class="main">
    <div v-if="block.type==='main'" v-bind:class='{isActive:isLoaded}' class="mainblock mainblock--main">
      <div class="container">
        <div class="mainblock__name" v-html="block.values.title"></div>
        <div class="mainblock__text" v-html="block.values.subtitle"></div>
        <div class="mainblock__pretext" v-html="block.values.stock"></div>
        <router-link to="/register" class="btn btn--bas">Получить</router-link>
      </div>
    </div>
    <div v-if="block.type=='steps'" class="mainblock mainblock--steep">
      <div class="container">
        <div class="mainblock__name">{{block.values.title}}</div>
        <div class="mainblock__flex">
          <div class="mainblock__box" v-for="(step, index) in block.values.steps" v-bind:key="index">
            <div class="mainblock__icon"><img v-bind:src="step.icon" alt=""></div>
            <div class="mainblock__title">{{step.title}}</div>
            <div class="mainblock__text" v-html="step.text"></div>
            <router-link to="/register" class="mainblock__more">Оставить заявку</router-link>
          </div>
        </div>
      </div>
    </div>
    <div v-if="block.type=='text'" class="mainblock mainblock--text" v-bind:class="{ lefted: block.values.text_left }" v-bind:style="`background-image:url(${block.values.image})`">
      <div class="container">
        <div class="mainblock__block">
          <div class="mainblock__name">{{block.values.title}}</div>
          <div class="html" v-html="block.values.content"></div>
          <router-link to="/register" class="btn btn--base">{{block.values.button}}</router-link>
        </div>
      </div>
    </div>

    <div v-if="block.type=='howto'" class="mainblock mainblock--howto">
      <div class="container">
        <div class="mainblock__name">{{block.values.title}}</div>
        <div class="mainblock__flex">
          <div class="mainblock__left">
            <div class="mainblock__box" v-for="(row, index) in block.values.rows" v-bind:key="index">
              <div class="html" v-html="row.content"></div>
              <a v-bind:href="row.link" class="mainblock__link">Узнать подробнее</a>
            </div>
          </div>
          <form class="mainblock__right" @submit="checkForm">
            <div class="mainblock__subtitle">Не знаете, какую форму обучения выбрать? Получите бесплатную консультацию</div>
            <input type="hidden" name="nameform" value="Фома как мы учим на главной">
            <label class="input">
              <div class="input__placeholder">
                <div class="input__icon"><svg><use xlink:href='static/svg/sprite.svg#user'></use></svg></div>
                <div class="input__text">Имя</div>
              </div>
              <input type="text" name="name" v-model="name" @focus="focused" @blur="unfocus">
            </label>
            <label class="input">
              <div class="input__placeholder">
                <div class="input__icon"><svg><use xlink:href='static/svg/sprite.svg#message'></use></svg></div>
                <div class="input__text">Email</div>
              </div>
              <input type="email" name="email" v-model="email" @focus="focused" @blur="unfocus">
            </label>
            <label class="input">
              <div class="input__placeholder">
                <div class="input__icon"><svg><use xlink:href='static/svg/sprite.svg#phone'></use></svg></div>
                <div class="input__text">Телефон</div>
              </div>
              <input type="number" name="phone" v-model="phone" @focus="focused" @blur="unfocus">
            </label>
            <div class="footer__formcenter">
              <label class="checkbox">
                <input type="checkbox" name="accept" class="checkbox__checkbox" v-model="accept" autocomplete="off">
                <div class="checkbox__fake"></div>
                <div class="checkbox__text">Даю согласие на обработку персональных данных</div>
              </label>
            </div>
            <div class="errors">
              <div class="errors__massage" v-for="(error, index) in errors" v-bind:key="index">
                {{error}}
              </div>
            </div>
            <div class="input">
              <button type="submit" class="btn btn--base">Получить консультацию</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div v-if="block.type=='contains'" class="mainblock mainblock--contains">
      <div class="container">
        <div class="mainblock__name">{{block.values.title}}</div>
        <div class="mainblock__flex">
          <div class="mainblock__box" v-for="(row, index) in block.values.rows" v-bind:key="index">
            <div class="mainblock__circle"></div>
            <div class="mainblock__top">Часть {{index+1}}</div>
            <div class="mainblock__content">
              <div class="mainblock__title">{{row.title}}</div>
              <div class="mainblock__text" v-html="row.content"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div v-if="block.type=='courses'" class="mainblock mainblock--courses">
      <div class="container">
        <div class="mainblock__name">{{block.values.title}}</div>
        <div class="mainblock__flex">
          <div class="maiblock__box maiblock__box--clear">
            <div class="mainblock__header"></div>
            <div class="mainblock__content">
              <div class="mainblock__row">Формат теста</div>
              <div class="mainblock__row">Стоимость</div>
              <div class="mainblock__row">Продолжительность</div>
              <div class="mainblock__row">Структура теста</div>
              <div class="mainblock__row">Формат устной части</div>
              <div class="mainblock__row">Система оценки</div>
            </div>
          </div>
          <div class="maiblock__box" v-if="cours.on_frontpage" v-for="cours in block.values.courses" v-bind:key="cours.id" >
            <div class="mainblock__header">{{cours.title}}</div>
            <div class="mainblock__content">
              <div class="mainblock__row">{{cours.format}}</div>
              <div class="mainblock__row">{{cours.price}}</div>
              <div class="mainblock__row">{{cours.duration}}</div>
              <div class="mainblock__row"><div class="html" v-html="cours.structure"></div></div>
              <div class="mainblock__row">{{cours.speaking}}</div>
              <div class="mainblock__row">{{cours.mark}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div v-if="block.type=='tariffs'" class="mainblock mainblock--tariffs">
      <div class="container">
          <div class="mainblock__name">{{block.values.title}}</div>
          <div class="mainblock__flex">
            <div class="mainblock__box" v-for="tarif in block.values.tariffs" v-bind:key="tarif.id">
              <div class="mainblock__header">
                <div class="mainblock__title">{{tarif.title}}</div>
                <div class="mainblock__price"><span>{{tarif.old_price}}</span>{{tarif.price}}</div>
                <div class="mainblock__desc">{{tarif.exclusive}}</div>
              </div>
              <div class="mainblock__content">
                <ul>
                  <li v-for="(li, index) in tarif.list" v-bind:key="index">{{li}}</li>
                </ul>
                <router-link to="/rates" class="btn btn--base">Попробовать</router-link>
                <!-- <router-link to="/register" class="mainblock__link">Узнать подробнее</router-link> -->
              </div>
            </div>
          </div>
      </div>
    </div>

    <div v-if="block.type=='reviews'" class="mainblock mainblock--reviews">
      <div class="container">
          <div class="mainblock__name">{{block.values.title}}</div>
          <div class="mainblock__videos" id="lightgallery">
              <a class="reviews__block" target="_blank"  :href="video.link" v-for="video in video_reviews" v-bind:key="video.id">
                <div class="reviews__ima"><img :src="video.thumbnail" alt=""></div>
                <div class="video__play"><svg><use xlink:href="static/svg/sprite.svg#play"></use></svg></div>
              </a>
          </div>
          <div class="mainblock__slider">
              <swiper :options="swiperOption">
                <swiper-slide v-for="review in block.values.reviews" v-bind:key="review.id">
                  <div class="mainreview__header">
                    <div class="mainreview__image"><img v-bind:src="review.avatar" v-bind:alt="review.name"></div>
                    <div class="mainreview__top">
                      <div class="mainreview__title">{{review.name}}</div>
                      <div class="mainreview__date">{{convertDate(review.date)}}</div>
                    </div>
                  </div>
                  <div class="mainreview__content">
                    <div class="html" v-html="review.text"></div>
                  </div>
                </swiper-slide>
              </swiper>
              <div class="mainblock__prev" slot="button-prev"><svg><use xlink:href='static/svg/sprite.svg#arrow-bottom'></use></svg></div>
              <div class="mainblock__next" slot="button-next"><svg><use xlink:href='static/svg/sprite.svg#arrow-bottom'></use></svg></div>
          </div>
      </div>
    </div>
    <div v-if="block.type=='teachers'" class="mainblock mainblock--teachers">
      <div class="container">
        <div class="mainblock__top">
          <div class="mainblock__name">{{block.values.title}}</div>
          <router-link to="/specialists" class="mainblock__more">Смотреть всех преподователей</router-link>
        </div>
        <swiper :options="swiperOption2">
          <swiper-slide v-for="teacher in block.values.teachers" v-bind:key="teacher.id">
            <div class="mainblock__image">
              <img v-bind:src="teacher.photo" alt="">
            </div>
            <div class="mainblock__content">
              <a href="" class="mainblock__link">{{teacher.name}}</a>
              <ul>
                <li v-for="(list,index) in teacher.list" v-bind:key="index">{{list}}</li>
              </ul>
            </div>
          </swiper-slide>
        </swiper>
        <div class="teach__prev" slot="button-prev"><svg><use xlink:href='static/svg/sprite.svg#arrow-bottom'></use></svg></div>
        <div class="teach__next" slot="button-next"><svg><use xlink:href='static/svg/sprite.svg#arrow-bottom'></use></svg></div>
      </div>
    </div>
    <div v-if="block.type=='certificates'" class="mainblock mainblock--sertificate">
      <div class="container">
        <div class="mainblock__name">{{block.values.title}}</div>
        <div class="mainblock__blocks">
          <div class="mainblock__block" v-for="(sertificate, index) in block.values.certificates" v-bind:key="index">
            <img v-bind:src="sertificate" alt="">
          </div>
        </div>
      </div>
    </div>
    <div v-if="block.type=='posts'" class="mainblock mainblock--articles">
      <div class="container">
        <div class="mainblock__top">
          <div class="mainblock__name">{{block.values.title}}</div>
          <router-link to="/specialists" class="mainblock__more">Смотреть все статьи</router-link>
        </div>
        <div class='articles__flex'>
          <Article v-for="(article, index) in block.values.posts" v-bind:key="index" v-bind:article="article"/>
        </div>
      </div>
    </div>
    <ModalThanks v-if="showModal" @close="showModal = false" />
  </div>
</template>

<script>
import { swiper, swiperSlide } from "vue-awesome-swiper";
import Article from "@/components/Article.vue";
import ModalThanks from '@/components/ModalThanks.vue';
import "swiper/dist/css/swiper.css";

export default {
  name: "Mainblock",
  props: {
    block: Object,
    video_reviews: Array
  },
  components: {
    swiper,
    swiperSlide,
    Article,
    ModalThanks
  },
  data: function() {
    return {
      isLoaded: false,
      name: null,
      phone: null,
      errors: [],
      email: null,
      showModal: false,
      accept: false,
      swiperOption: {
        slidesPerView: 2,
        spaceBetween: 30,
        loop: true,
        navigation: {
          nextEl: ".mainblock__next",
          prevEl: ".mainblock__prev"
        },
        breakpoints: {
          1440: {
            slidesPerView: 1
          }
        }
      },
      swiperOption2: {
        slidesPerView: 4,
        spaceBetween: 30,
        loop: true,
        navigation: {
          nextEl: ".teach__next",
          prevEl: ".teach__prev"
        }
      }
    };
  },
  created() {
    this.isLoaded = true;
  },
  methods: {
    convertDate: function(date) {
      var formatedDate = date.slice(0, -9).replace(/-/g, ".");
      return formatedDate;
    },
    checkForm: function (e) {
      e.preventDefault()
      this.errors = []
      if (!this.name) {
        this.errors.push('Укажите имя')
      }
      if (!this.phone) {
        this.errors.push('Укажите телефон')
      } else if (!this.validPhone(this.phone)) {
        this.errors.push('Укажите корректный телефон')
      }
      if (!this.accept) {
        this.errors.push('Поставьте галочку')
      }
      if (!this.errors.length > 0) {
        var data = $('.mainblock__right').serialize();
        
        $.ajax({
          type: 'POST',
          url: '/mail.php',
          data: data,
          success: (data) => {
            
            this.showModal = true
          },
          errors: (error) => {
            
          },
        });
      }
    },
    validPhone: function(phone) {
      var re = /^((\+7|7|8)+([0-9]){10})$|\b\d{3}[-.]?\d{3}[-.]?\d{4}/;
      return re.test(phone);
    },
    focused: function(e) {
      e.target.closest(".input").classList.add("input--focus");
    },
    unfocus: function(e) {
      if (!e.target.value.length) {
        e.target.closest(".input").classList.remove("input--focus");
      }
    }
  }
};
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style lang='scss'>
.errors{
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
  color: #ff0000;
}
.main {
  padding-top: 0;
}
.mainblock__videos{
  display: flex;
  align-items: center;
}
.reviews__block{
  width: 300px;
  height: 175px;
  margin-right: 30px;
  display: block;
  position: relative;
  &:nth-child(4){
    margin-right: 0;
  }
  &:nth-child(4+n){
    display: none;
  }
  &:hover{
    .reviews__ima img{
      opacity: .3;
    }
  }
}
.reviews__ima{
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d1833;
  img{
    opacity: .5;
    width: 100%;
    height: auto;
    transition: opacity ease-in-out .3s;
  }
}
.mainblock {
  position: relative;
  &--articles {
    background-color: #0d1833;
    padding-top: 105px;
    padding-bottom: 110px;
    .mainblock__top .mainblock__name {
      margin-bottom: 0;
      color: #fff;
    }
    .mainblock__more {
      color: #2fd173;
      font-size: 18px;
      font-weight: 600;
    }
    .mainblock__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 35px;
    }
  }
  &--sertificate {
    padding-top: 105px;
    padding-bottom: 120px;
    .mainblock__blocks {
      display: flex;
      flex-wrap: wrap;
    }
    .mainblock__block {
      width: 200px;
      height: 285px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      margin-bottom: 30px;
      margin-right: 20px;
      &:nth-child(6n + 6) {
        margin-right: 0;
      }
      img {
        height: 100%;
        width: auto;
      }
    }
  }
  &--teachers {
    padding-top: 110px;
    padding-bottom: 120px;
    background-color: #f0f5fe;
    .container {
      position: relative;
    }
    .teach__prev,
    .teach__next {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      border: 2px solid #161e2d;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: -85px;
      top: 50%;
      margin-top: -23px;
      cursor: pointer;
      outline: none;
      &:hover {
        border-color: #1c52cc;
        background-color: #1c52cc;
        svg {
          fill: #fff;
        }
      }
      svg {
        width: 20px;
        height: 20px;
        transform: rotate(90deg);
      }
    }
    .teach__next {
      left: auto;
      right: -85px;
      svg {
        transform: rotate(-90deg);
      }
    }
    .mainblock__more {
      color: #2fd173;
      font-size: 18px;
      font-weight: 600;
    }
    .mainblock__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px;
    }
    .mainblock__image {
      width: 100%;
      height: 270px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      img {
        height: auto;
        width: 100%;
        filter: grayscale(100%);
      }
      &:hover {
        img {
          filter: grayscale(0);
        }
      }
    }
    .mainblock__content {
      padding-top: 25px;
      padding-left: 10px;
      padding-right: 10px;
      background-color: #fff;
      text-align: center;
      padding-bottom: 25px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
    .mainblock__link {
      text-align: center;
      text-decoration: none;
      font-weight: 600;
      color: #0d1833;
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 10px;
      display: block;
    }
    li {
      text-align: center;
      line-height: 27px;
      color: #1c52cc;
      font-weight: 600;
      font-size: 18px;
    }
  }
  &--reviews {
    padding-top: 105px;
    padding-bottom: 120px;
    background-color: #f8fafe;
    .swiper-slide {
      background-color: #fff;
      border-radius: 15px;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .mainreview__header {
      display: flex;
      align-items: center;
    }
    .mainreview__image {
      width: 65px;
      height: 65px;
      overflow: hidden;
      border-radius: 50%;
      min-width: 65px;
      margin-right: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 100%;
        width: auto;
      }
    }
    .mainreview__title {
      color: #0d1833;
      font-size: 24px;
      font-weight: 700;
    }
    .mainblock__slider {
      margin-top: 40px;
      position: relative;
    }
    .mainreview__date {
      color: #1c52cc;
      font-size: 16px;
      line-height: 16px;
      font-weight: 600;
      margin-top: 5px;
    }
    .mainreview__content {
      margin-top: 25px;
      .html {
        font-size: 20px;
        color: #0d1833;
      }
    }
    .swiper-container {
      position: relative;
    }
    .mainblock__prev,
    .mainblock__next {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      border: 2px solid #161e2d;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: -85px;
      top: 50%;
      margin-top: -23px;
      cursor: pointer;
      outline: none;
      &:hover {
        border-color: #1c52cc;
        background-color: #1c52cc;
        svg {
          fill: #fff;
        }
      }
      svg {
        width: 20px;
        height: 20px;
        transform: rotate(90deg);
      }
    }
    .mainblock__next {
      left: auto;
      right: -85px;
      svg {
        transform: rotate(-90deg);
      }
    }
  }
  &--tariffs {
    background-color: #1c52cc;
    padding-top: 110px;
    padding-bottom: 115px;
    .mainblock__name {
      color: #fff;
    }
    .mainblock__flex {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
    }
    .mainblock__box {
      border-radius: 15px;
      overflow: hidden;
      background-color: #fff;
      width: 415px;
      display: flex;
      flex-direction: column;
      &:hover {
        background-color: #0d1833;
        .mainblock__title,
        .mainblock__price {
          color: #fff;
        }
        ul > li {
          color: #fff;
        }
      }
    }
    .mainblock__content {
      flex-grow: 1;
      padding-top: 25px;
      padding-left: 45px;
      padding-right: 45px;
      padding-bottom: 30px;
      display: flex;
      flex-direction: column;
      ul {
        flex-grow: 1;
      }
    }
    .btn {
      height: 62px;
    }
    .mainblock__link {
      text-align: center;
      display: flex;
      justify-content: center;
      margin-top: 24px;
      color: #1c52cc;
      font-weight: 700;
      text-decoration: underline;
      font-size: 18px;
    }
    ul {
      margin-top: 10px;
      margin-bottom: 30px;
    }
    ul > li {
      list-style-type: none;
      position: relative;
      margin-bottom: 15px;
      color: #0d1833;
      font-size: 20px;
      padding-left: 25px;
      &:after {
        width: 8px;
        height: 8px;
        content: "";
        background-color: #2fd173;
        border-radius: 50%;
        left: 0;
        top: 6px;
        position: absolute;
      }
    }
    .mainblock__header {
      padding-top: 30px;
      padding-bottom: 25px;
      padding-left: 45px;
      padding-right: 45px;
      border-bottom: 1px solid #e7eaf3;
      display: flex;
      flex-wrap: wrap;
    }
    .mainblock__title {
      width: 50%;
      font-size: 26px;
      color: #0d1833;
      font-weight: 700;
      text-transform: uppercase;
    }
    .mainblock__price {
      width: 50%;
      font-size: 26px;
      color: #0d1833;
      font-weight: 700;
      text-transform: uppercase;
      display: flex;
      justify-content: flex-end;
      text-align: right;
      align-items: center;
      span{
        font-size: 20px;
        color: #2fd173;
        text-decoration: line-through;
        margin-right: 10px;
        font-weight: 500;
      }
    }
    .mainblock__desc {
      margin-top: 10px;
      font-size: 22px;
      color: #2fd173;
      font-weight: 700;
    }
  }
  &--courses {
    background-color: #0d1833;
    padding-top: 110px;
    padding-bottom: 115px;
    .mainblock__name {
      color: #fff;
    }
    .mainblock__flex {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
    }
    .maiblock__box {
      background-color: #fff;
      border-radius: 15px;
      width: 330px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      &:first-child {
        width: 240px;
      }
      &:nth-child(2) {
        .mainblock__header {
          background-color: rgb(47, 209, 115);
          box-shadow: 0px 8px 29px 0px rgba(28, 82, 204, 0.21);
        }
      }
      &--clear {
        background-color: transparent;
        .mainblock__row {
          color: #fff;
          text-align: left;
          border: none;
          justify-content: flex-start;
          font-weight: 400;
          font-size: 22px;
          padding-left: 0;
          padding-right: 0;
        }
        .mainblock__header {
          background-color: transparent;
          box-shadow: none;
        }
      }
    }
    .mainblock__content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
    .mainblock__row {
      flex-grow: 1;
      &:nth-child(4) {
        height: 177px;
      }
    }
    .html {
      font-weight: 400;
      b,
      strong {
        font-weight: 600;
      }
    }
    .mainblock__header {
      background-color: #1c52cc;
      height: 51px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 24px;
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
      padding-left: 15px;
      padding-right: 15px;
      box-shadow: 0px 8px 29px 0px rgba(28, 82, 204, 0.21);
    }
    .mainblock__row {
      min-height: 57px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 4px;
      padding-bottom: 4px;
      border-bottom: 1px solid #e7eaf3;
      font-weight: 600;
      font-size: 20px;
      color: #0d1833;
      text-align: center;
    }
  }
  &--contains {
    padding-bottom: 90px;
    padding-top: 100px;
    background-color: #f0f5fe;
    .mainblock__text {
      font-size: 20px;
      line-height: 24px;
      position: relative;
    }
    .mainblock__circle {
      border-radius: 50%;
      background-color: rgb(47, 209, 115);
      box-shadow: 0px 4px 8px 0px rgba(47, 209, 115, 0.38);
      position: absolute;
      top: 58px;
      width: 18px;
      height: 18px;
      left: 50%;
      margin-left: -9px;
      &:after {
        position: absolute;
        left: 50%;
        width: 2px;
        height: 65px;
        background-color: #dae5fd;
        content: "";
        margin-left: -1px;
        top: -65px;
      }
      &:before {
        position: absolute;
        left: 50%;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        margin-left: -4px;
        box-shadow: 0px 4px 8px 0px rgba(28, 82, 204, 0.38);
        background-color: #1c52cc;
        content: "";
        z-index: 2;
        top: -69px;
      }
    }
    .mainblock__title {
      color: #0d1833;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 12px;
    }
    .mainblock__name {
      text-align: center;
      margin-bottom: 60px;
      color: #0d1833;
    }
    .mainblock__top {
      text-align: center;
      height: 27px;
      display: block;
      width: 100%;
      color: #1c52cc;
      font-size: 18px;
      font-weight: 600;
      background-color: #f0f5fe;
      margin-bottom: 20px;
      margin-top: 20px;
      position: relative;
      z-index: 3;
      align-items: center;
      display: flex;
      justify-content: center;
    }
    .mainblock__flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      position: relative;
      &:after {
        left: 50%;
        position: absolute;
        top: -7px;
        width: 890px;
        height: 2px;
        margin-left: -445px;
        background-color: #dae5fd;
        content: "";
      }
      &:before {
        left: 50%;
        position: absolute;
        bottom: 300px;
        width: 440px;
        height: 2px;
        margin-left: -220px;
        background-color: #dae5fd;
        content: "";
      }
    }
    .mainblock__box {
      width: 410px;
      margin-right: 30px;
      margin-bottom: 35px;
      position: relative;
      &:nth-child(3),
      &:last-child {
        margin-right: 0;
      }
    }
    .mainblock__content {
      padding-left: 44px;
      padding-right: 44px;
      padding-top: 30px;
      padding-bottom: 30px;
      border-radius: 15px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 8px 29px 0px rgba(13, 24, 51, 0.06);
    }
  }
  &--howto {
    padding-top: 105px;
    padding-bottom: 120px;
    background-color: #f8fafe;
    .mainblock__subtitle {
      font-size: 32px;
      line-height: 39px;
      color: #fff;
      font-weight: 700;
      text-align: center;
      margin-bottom: 20px;
    }
    .mainblock__box {
      border-radius: 15px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 8px 29px 0px rgba(13, 24, 51, 0.06);
      padding: 40px;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    .mainblock__name {
      margin-bottom: 40px;
    }
    .mainblock__flex {
      display: flex;
      justify-content: space-between;
    }
    .mainblock__left {
      width: 635px;
      display: flex;
      flex-wrap: wrap;
    }
    .mainblock__box {
      flex-grow: 1;
    }
    .mainblock__right {
      width: 635px;
      border-radius: 15px;
      border-radius: 15px;
      background-color: rgb(28, 82, 204);
      box-shadow: 0px 8px 29px 0px rgba(28, 82, 204, 0.33);
      padding-top: 55px;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 65px;
    }
    .mainblock__link {
      font-weight: 600;
      font-size: 18px;
      color: #2fd173;
      margin-top: 15px;
      display: block;
    }
    .input {
      width: 410px;
      margin-left: auto;
      margin-right: auto;
      &:not(:last-child) {
        margin-bottom: 25px;
      }
      .btn {
        width: 100%;
      }
    }
  }
  &--text {
    min-height: 662px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    &:after {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      content: "";
      z-index: 2;
      background-color: rgba(13, 24, 51, 0.47);
    }
    &:before {
      position: absolute;
      right: -40%;
      bottom: 0;
      top: 0;
      width: 100%;
      transform: skewX(25deg);
      content: "";
      z-index: 3;
      background-color: #f8fafe;
    }
    .container {
      position: relative;
      z-index: 4;
      display: flex;
      justify-content: flex-end;
    }
    .mainblock__block {
      width: 665px;
    }
    .html ul {
      margin-top: 30px;
      margin-bottom: 35px;
    }
    .html li {
      width: 100%;
    }
    .btn {
      width: 540px;
    }
    color: #0d1833;
    &.lefted {
      &::before {
        right: auto;
        left: -40%;
        transform: skewX(-25deg);
        background-color: #fff;
      }
      .container {
        justify-content: flex-start;
      }
    }
  }

  &--main {
    padding-top: 0;
    height: 100vh;
    background-image: url(../assets/main.jpg);
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
    color: #fff;
    .container {
      position: relative;
      z-index: 3;
    }
    &:after {
      width: 100%;
      height: 120%;
      position: absolute;
      top: -10%;
      bottom: -10%;
      left: -120%;
      content: "";
      z-index: 2;
      background-color: rgba(28, 82, 204, 0.88);
      transform: skewX(25deg);
      transition: left ease-in-out 0.3s;
    }
    &.isActive {
      &:after {
        left: -55%;
      }
    }
    .btn {
      width: 312px;
      margin-left: 35px;
      position: relative;
      // &:after {
      //   width: 82px;
      //   height: 3px;
      //   border-radius: 2px;
      //   background-color: #ffffff;
      //   position: absolute;
      //   left: -35px;
      //   top: 50%;
      //   margin-top: -1.5px;
      //   content: "";
      // }
    }
  }
  &__name {
    font-size: 60px;
    line-height: 59px;
    margin-bottom: 25px;
    font-weight: 700;
  }
  &__text {
    font-size: 26px;
    line-height: 32px;
  }
  &__pretext {
    font-size: 22px;
    line-height: 22px;
    margin-top: 30px;
    margin-bottom: 32px;
  }
  &--steep {
    background-color: #0f1b3a;
    padding-top: 110px;
    padding-bottom: 130px;
    color: #fff;
    .mainblock__flex {
      display: flex;
      justify-content: space-between;
      margin-top: 45px;
    }
    .mainblock__box {
      width: 300px;
      background-color: #fff;
      border-radius: 15px;
      padding-top: 60px;
      padding-left: 25px;
      padding-right: 25px;
      padding-bottom: 60px;
      text-align: center;
      transition: background-color ease-in-out 0.3s,
      padding-top ease-in-out 0.3s;
    }
    .mainblock__icon {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin-bottom: 15px;
      width: 80px;
      height: 80px;
      overflow: hidden;
      margin-left: auto;
      margin-right: auto;
      img {
        width: 100%;
        height: auto;
      }
    }
    .mainblock__title {
      color: #0d1833;
      font-size: 26px;
      text-align: center;
      margin-bottom: 10px;
      transition: color ease-in-out 0.3s;
      font-weight: 700;
    }
    .mainblock__text {
      color: #0d1833;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      margin-bottom: 12px;
      text-align: center;
      transition: color ease-in-out 0.3s;
    }
    .mainblock__more {
      color: #2fd173;
      font-weight: 600;
      line-height: 18px;
      font-size: 18px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      opacity: 0;
      transition: opacity ease-in-out 0.3s;
    }
    .mainblock__box:hover {
      background-color: #1c52cc;
      padding-top: 40px;
      .mainblock__more {
        opacity: 1;
      }
      .mainblock__title,
      .mainblock__text {
        color: #fff;
      }
    }
  }
  &--main {
    .btn {
      transition: padding-left ease-in-out 0.3s, margin-left ease-in-out 0.3s;
      &:after {
        transition: left ease-in-out 0.3s;
      }
      &:hover {
        margin-left: 0;
        padding-left: 20px;
        &:after {
          left: -15px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .mainblock--text {
    background-position: -200px;
    &.lefted{
      background-position: 200px;
    }
  }
  .mainblock--main {
    height: auto;
    padding-top: 200px;
    padding-bottom: 100px;
  }
  .mainblock--steep .mainblock__text br {
    display: none;
  }
  .mainblock--steep .mainblock__text {
    font-size: 15px;
    line-height: 19px;
  }
  .mainblock--steep .mainblock__box {
    padding-top: 20px;
    width: 245px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .mainblock--steep .mainblock__title {
    font-size: 20px;
  }
  .mainblock__name {
    font-size: 48px;
    line-height: 52px;
  }
  .mainblock__text {
    font-size: 22px;
    line-height: 25px;
  }
  .mainblock__pretext {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .mainblock--steep{
    padding-top: 60px;
    padding-bottom: 70px;
  }
  .mainblock--text:before{
    right: -28%;
  }
  .mainblock--text{
    min-height: 550px;
    .mainblock__name{
      font-size: 40px;
      line-height: 48px;
    }
  }
  .mainblock--text.lefted::before{
    left: -30%;
  }
  .mainblock--howto .mainblock__flex{
    flex-wrap: wrap;
    justify-content: center;
  }
  .mainblock--howto .mainblock__box{
    width: 48%;
    margin-bottom: 0;
  }
  .mainblock--howto .mainblock__box:not(:last-child){
    margin-bottom: 0;
    margin-right: 4%;
  }
  .mainblock--howto .mainblock__left{
    width: 100%;
    align-items: stretch;
    margin-bottom: 30px;
  }
  // .mainblock--contains .mainblock__flex:before,
  // .mainblock--contains .mainblock__flex:after,
  // .mainblock--contains .mainblock__circle,
  // .mainblock--contains .mainblock__top{
  //   display: none;
  // }
  // .mainblock--contains .mainblock__flex{
  //   align-items: stretch;
  // }
  // .mainblock--contains .mainblock__box,
  // .mainblock--contains .mainblock__box:nth-child(3), .mainblock--contains .mainblock__box:last-child{
  //   width: 48%;
  //   margin-right: 4%;
  //   &:nth-child(2n+2){
  //     margin-right: 0;
  //   }
  // }
  // .mainblock--contains .mainblock__content{
  //   height: 100%;
  // }
  .mainblock--contains .mainblock__box{
    width: 312px;
  }
  .mainblock--contains .mainblock__content{
    height: calc(100% - 67px);
  }
  .mainblock--contains .mainblock__flex:before{
    bottom: 350px;
    width: 350px;
    margin-left: -175px;
  }
  .mainblock--contains .mainblock__flex:after{
    margin-left: -340px;
    width: 680px;
  }
  .mainblock--contains .mainblock__content{
    padding-left: 30px;
    padding-right: 30px;
  }
  .mainblock--contains .mainblock__text{
    font-size: 18px;
  }
  .mainblock--contains,
  .mainblock--howto,
  .mainblock--courses,
  .mainblock--tariffs,
  .mainblock--reviews,
  .mainblock--teachers,
  .mainblock--sertificate,
  .mainblock--articles{
    padding-top: 60px;
    padding-bottom: 70px;
  }
  .mainblock--courses .maiblock__box:first-child{
    display: none;
  }
  .mainblock--courses .maiblock__box{
    width: 320px;
  }
  .mainblock--courses .mainblock__header{
    font-size: 20px;
  }
  .mainblock--courses .html,
  .mainblock--courses .mainblock__row{
    font-size: 18px;
  }
  .mainblock--tariffs .mainblock__title,
  .mainblock--tariffs .mainblock__price{
    font-size: 20px;
  }
  .mainblock--tariffs .mainblock__desc{
    font-size: 18px;
  }
  .mainblock--tariffs .mainblock__content{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .mainblock--tariffs .mainblock__header,
  .mainblock--tariffs .mainblock__content{
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
  }
  .mainblock--tariffs ul > li{
    font-size: 18px;
    margin-bottom: 10px;
  }
  .mainblock--tariffs .mainblock__box{
    width: 320px;
  }
  .mainblock--tariffs .btn{
    height: 52px;
  }
  .mainblock--reviews .mainreview__content .html{
    font-size: 16px;
  }
  .mainblock--howto .mainblock__subtitle{
    br{
      display: none;
    }
  }
  .mainblock--teachers{
    .mainblock__name{
      margin-bottom: 0;
    }
  }
  .mainblock--teachers .mainblock__image{
    height: 200px;;
  }
  .mainblock--teachers .mainblock__link{
    font-size: 18px;
    line-height: 22px;
  }
  .mainblock--teachers li{
    font-size: 16px;
    line-height: 21px;
  }
  .mainblock--teachers .mainblock__content{
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .mainblock--sertificate .mainblock__block{
    width: 158px;
    height: 240px;
    margin-right: 10px;
  }
}
</style>
