<template>
	<div class="match">
		<div class="match__column">
			<div class="match__item" v-for="(item, index) in data2" v-bind:key="index" @end="end1" >
				<div class="match__title">{{data2[index].name}}</div>
					<draggable class="list-group" v-model="data2[index].arryx" :options="dragOptions">
						<transition-group name="no" tag="ul">
							<li class="list-group-item" v-for="element in data2[index].arryx" :key="element.order">{{element.name}}</li>
						</transition-group>
					</draggable>
			</div>
		</div>
		<div class="match__variants">
			<div class="match__title">Варианты:</div>
			<draggable class="list-group" v-model="data1" :options="dragOptions" @start="isDragging=true" @end="end2">
				<transition-group type="transition" :name="'flip-list'" tag="ul">
					<li class="list-group-item" v-for="element in data1" :key="element.order"> {{element.name}}</li>
				</transition-group>
			</draggable>
		</div>
	</div>
</template>

<script>
import draggable from 'vuedraggable'

export default {
	name: "MatchDrag",
	components: {
		draggable
	},
	props: {
		list: Array,
		list2: Array
	},
	data () {
    return {
			data1: [],
			data2: [],
			editable: true,
      isDragging: true,
      delayedDragging: false
    }
	},
	methods: {
		orderList() {
      this.data1 = this.data1.sort((one, two) => {
        return one.order - two.order;
      });
    },
		end1()  {
			this.$emit('return', this.data2);
		},
		end2() {
			this.isDragging=false;
			this.$emit('return', this.data2);
		}
	},
	computed: {
    dragOptions() {
      return {
				animation: 0,
				group: "description",
        disabled: false,
        ghostClass: "ghost"
      };
    },
    listString() {
      return JSON.stringify(this.data1, null, 2);
    },
    list2String() {
      return JSON.stringify(this.data1, null, 2);
    }
  },
	created() {
		this.data1 = this.list.map(function(item,index){
			return {
				name: item,
				order: index
			}
		})
		this.data2 = [];
		for(let x = 0; x < this.list2.length; x++){
			this.data2.push({name:this.list2[x],arryx:[]})
		}
	},
	watch: {
    isDragging(newValue) {
      if (newValue) {
        this.delayedDragging = true;
        return;
      }
      this.$nextTick(() => {
        this.delayedDragging = false;
      });
    }
  }
}
</script>


<style lang="scss">
.match{
	.match__column{
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
	}
	.list-group:not(:last-child){
		margin-right: 10px;
	}
	.list-group-item{
		width: auto;
		display: inline-block;
		margin-right: 10px;
	}
	.match__title{
		font-weight: 600;
		color: #0d1833;
		font-size: 20px;
	}
	.list-group{
		padding-top: 10px;
		padding-bottom: 10px;
		ul{
			min-height: 20px;
		}
	}
	.list-group{
		width: 100%;
	}
	.match__item{
		flex-grow: 1;
		&:not(:last-child){
			margin-right: 10px;
		}
		.list-group-item{
			width: 100%;
			margin-right: 0;
			display: block;
		}
	}
}
</style>


