<template>
  <div class="user__menu" v-if="this.$store.getters.getResp.userType=='student'">
    <router-link class="user__link" to="/lessons">Уроки</router-link>
    <router-link class="user__link" to="/vebinars">Вебинары</router-link>
    <div class="user__title">Дополнительные материалы</div>
    <router-link class="user__link" to="/gramms">Грамматика</router-link>
    <router-link class="user__link" to="/leksika">Лексика</router-link>
    <router-link class="user__link" to="/reads">Чтение</router-link>
    <!-- <router-link class="user__link" to="/audios">Аудирование</router-link> -->
    <router-link class="user__link" to="/videos">Видео</router-link>
    <router-link class="user__link" to="/articles">Блог</router-link>
    <router-link class="user__link" to="/logout">Выход</router-link>
    <!-- <router-link class="user__link" to="/chat">Чат</router-link> -->
    <!-- <router-link class="user__link" to="/logout">Выход</router-link> -->
  </div>
  <div class="user__menu" v-else>
    <router-link class="user__link" to="/user">Мои ученики</router-link>
    <router-link class="user__link" to="/settings">Настройки профиля</router-link>
    <router-link class="user__link" to="/mail">Обратная связь</router-link>
    <router-link class="user__link" to="/logout">Выход</router-link>
  </div>
</template>

<script>
export default {
  name: 'MenuStud'
}
</script>
