<template>
	  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
				<div class="overlay" @click="$emit('close')"></div>
        <div class="modal-container">
					<div class="modal__title">Войти как</div>
					<router-link to="/login" class="btn btn--base">Ученик</router-link>
					<router-link to="/login" class="btn btn--base">Учитель</router-link>
        </div>
      </div>
    </div>
  </transition>
</template>


<script>
export default {
  name: "Modal"
};
</script>
<style lang="scss">
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}
.overlay{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}
.modal-wrapper {
  display: table-cell;
	vertical-align: middle;
	position: relative;
	z-index: 3;
}
.modal__title{
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 20px;
}
.modal-container .btn{
	margin-bottom: 20px;
}
.modal-container {
  width: 420px;
  margin: 0px auto;
  padding: 30px 40px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
	font-family: Helvetica, Arial, sans-serif;
	position: relative;
	z-index: 3;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>

