<template>
  <div class="progress">
    <div class="progress__to">
      <div class="progress__lf">{{progress.title}}</div>
      <div class="progress__rg">{{progress.progress}} %</div>
    </div>
    <div class="progress__bar">
      <div class="progress__progress" :style="{width:progress.progress+'%'}"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Progress',
  props: {
    progress: Object
  }
}
</script>
<style lang="scss">
.progress{
  width: 100%;
  display: block;
  margin-bottom: 20px;
  &__to{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  &__bar{
    height: 4px;
    width: 100%;
    border-radius: 3px;
    background-color: #eaf1f8;
  }
  &__progress{
    background-color: #2fd173;
    border-radius: 3px;
    height: 100%;
  }
  &__lf,
  &__rg{
    font-size: 20px;
    color: #0d1833;
    line-height: 20px;
  }
  &__rg{
    font-weight: 600;
  }
}
</style>
