<template>
	<div class="raspisk">
		<div class="raspisk__row" >
			<table>
				<tr v-for="(item, index) in this.$store.getters.getRasp" v-bind:key="index">
					<td>{{item.day}}</td>
					<td>{{item.from}} - {{item.to}}</td>
					<td class="item__delete" @click="deletex(item.day, item.from, item.to)">X</td>
				</tr>
			</table>
		</div>
	</div>
</template>

<script>
export default {
	name: 'Raspisk',
	methods: {
		deletex (day, from, to) {
			let arrzx = [];
			this.$store.getters.getRasp.forEach((item) => {
				if(item.day !== day || item.from !== from || item.to !== to){
					arrzx.push(item)
				} 
			})
			this.$store.dispatch('setTimeRasp', arrzx)
		}
	},
}
</script>



<style lang="scss">
.raspisk{
	table{
		width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
	.user__oname{
		text-align: center;
		justify-content: center;
	}
	td{
		padding-top: 8px;
		padding-bottom: 8px;
		&:nth-child(1){
			font-weight: 700;
			color: #7f8593;
			font-size: 18px;
		}
		&:nth-child(2){
			color: #0d1833;
			font-size: 18px;
			font-weight: 700;
		}
		&:nth-child(3){
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: 700;
			text-transform: lowercase;
			color: #2fd173;
			cursor: pointer;
		}
	}
}
</style>
