<template>
  <div class="ratesItem">
    <div class="ratesItem__lfet">
      <div class="ratesItem__top">
        <div class="ratesItem__row">
          <div class="ratesItem__lf">{{title}}</div>
          <div class="ratesItem__rg">{{format_price}}</div>
        </div>
        <div class="ratesItem__exclusive">{{subtitle}}</div>
      </div>
      <div class="ratesItem__list">
        <ul>
          <li v-for="(listx, index) in list" v-bind:key="index">{{listx}}</li>
        </ul>
      </div>
    </div>
    <div class="ratesItem__right">
      <div class="html">
        <h3>{{exclusive}}</h3>
        <div v-html="content"></div>
      </div>
      <div class="ratesItem__flex">
        <div class="ratesItem__box" v-for="(advantage, index) in advantages" v-bind:key="index">
          <div class="ratesItem__icon"><img v-bind:src="advantage.icon" v-bind:alt="advantage.title"></div>
          <div class="ratesItem__text">{{advantage.title}}</div>
        </div>
      </div>
      <div class="ratesItem__footer">
        <div class="ratesItem__info">Первая неделя бесплатно!</div>
        <router-link v-bind:to='`playment/${iter}`' class='btn btn--base' exact>Купить</router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'RatesItem',
  props: {
    iter: Number,
    title: String,
    subtitle: String,
    content: String,
    price: Number,
    list: Array,
    exclusive: String,
    advantages: Array,
    format_price: String
  }
}
</script>

<style lang="scss" scoped>
.ratesItem{
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 8px 29px 0px rgba(13, 24, 51, 0.06);
  display: flex;
  &__lfet{
    width: 415px;
    border-right: 1px solid #e7eaf3;
  }
  &__right{
    width: 845px;
      padding-left: 45px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &:not(:last-child){
    margin-bottom: 30px;
  }
  &__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__top{
    padding-left: 45px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e7eaf3;
  }
  &__list{
      padding-left: 45px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .btn{
    width: 290px;
    height: 52px;
    font-size: 20px;
    margin-left: 40px;
  }
  &__icon{
    margin-bottom: 15px;
  }
  &__footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__text{
    color: #0d1833;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
  }
  &__flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  &__box{
    width: 31%;
  }
  &__lf,
  &__rg{
    color: #0d1833;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 24px;
  }
  li{
    font-size: 20px;
    padding-left: 28px;
    position: relative;
    &:after{
      width: 8px;
      height: 8px;
      border-radius: 50%;
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      background-color: #2fd173;
    }
    &:not(:last-child){
      margin-bottom: 22px;
    }
  }
  &__info{
    color: #1c52cc;
    font-size: 20px;
    font-weight: 600;
  }
  &__exclusive{
    color: #2fd173;
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
  }
}
@media only screen and (max-width: 1440px) {
  .ratesItem li{
    font-size: 16px;
    &:not(:last-child){
      margin-bottom: 8px;
    }
  }
  .ratesItem__list,
  .ratesItem__top{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
    padding-top: 25px;
  }
  .ratesItem__exclusive{
    font-size: 18px;
  }
  .ratesItem__lf,
  .ratesItem__rg{
    font-size: 20px;
  }
  .ratesItem__lfet{
    width: 330px;
  }
  .html h2{
    font-size: 26px;
  }
  .ratesItem__text{
    font-size: 16px;
    line-height: 21px;
  }
  .ratesItem__info{
    font-size: 18px;
  }
}
</style>
