<template>
  <div class='reviewitem'>
    <div class="reviewitem__header">
      <div class="reviewitem__image"><img v-bind:src="image" alt=""></div>
      <div class="reviewitem__info">
        <div class="reviewitem__name">{{name}}</div>
        <div class="reviewitem__text">
          <span>{{ convertDate(this.date) }}</span>
          Курс: {{ course }}
          Баллов: {{ mark }}
        </div>
      </div>
    </div>
    <div class="reviewitem__content">
      <div class="html" v-html="content"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ReviewItem',
  data: function () {
    return { active: false }
  },
  props: {
    image: String,
    name: String,
    date: String,
    course: String,
    content: String,
    mark: Number
  },
  methods: {
    activate: function (event) {
      this.active = !this.active
    },
    convertDate: function (date) {
      var formatedDate = date.slice(0, -9).replace(/-/g, '.')
      return formatedDate
    }
  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style lang='scss'>
  .reviewitem{
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 29px 0px rgba(13, 24, 51, 0.06);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    &__image{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 65px;
      height: 65px;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 25px;
      background-color: #1c52cc;
      background-image: url(loader.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 65px;
    }
    &__header{
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
    &__name{
      color: #0d1833;
      font-size: 24px;
      font-weight: 600;
      line-height: 24px;
      margin-bottom: 10px;
    }
    &__text{
      font-size: 16px;
      color: #7d8496;
      font-weight: 600;
      span{
        color: #1c52cc;
        margin-right: 15px;
      }
    }
    &:not(:last-child){
      margin-bottom: 30px;
    }
  }
</style>
