<template>
	<div class="selectrasp">
		<div class="selectrasp__row">
			<div class="input userform__input">
				<multiselect v-model="currDay" :options="day" :searchable="false"  :show-labels="false" placeholder="Выберите день недели"></multiselect>
			</div>
			<div class="input userform__input" v-if="currDay !== ''">
				<multiselect v-model="currFrom" :options="time" :searchable="false"  :show-labels="false" placeholder="Время начала"></multiselect>
			</div>
			<div class="input userform__input" v-if="currFrom !== ''">
				<multiselect v-model="currTo" :options="calcTime()" :searchable="false"  :show-labels="false" placeholder="Время завершения"  @select="accept" ></multiselect>
			</div>
		</div>
	</div>
</template>

<script>
import Multiselect from "vue-multiselect"

export default {
	name: 'SelectRasp',
	components: {
		Multiselect
	},
	data: function() {
		return {
			currDay: '',
			currFrom: '',
			currTo: '',
			day: ['Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота', 'Воскресенье'],
			time: ['01:00', '02:00','03:00','04:00','05:00','06:00','07:00','08:00','09:00','10:00','11:00','12:00','13:00','14:00','15:00','16:00','17:00','18:00','19:00','20:00','21:00','22:00','23:00','24:00']
		}
	},
	methods: {
		calcTime(){
			var max = parseInt(this.currFrom.slice(0, -3));
			return this.time.filter((keyx)=>{
				let key = parseInt(keyx.slice(0, -3))
				return key > max
			})
		},
		accept(selectedOption, id) {
			this.$store.dispatch('setRasp',{day: this.currDay, from: this.currFrom, to: selectedOption})
			this.$store.dispatch('chageRaspp')
		}
	}
}
</script>
