<template>
  <div class="sidebar">
    <form class="sidebar__form" novalidate v-if="type == 'faq'">
      <div class="sidebar__name">Задайте свой вопрос</div>
      <input type="hidden" name="nameform" value="Задан новый вопрос на странице Частые вопросы">
      <div class="sidebar__input input">
        <div class="input__placeholder">
          <div class="input__icon">
            <svg><use xlink:href='static/svg/sprite.svg#message'></use></svg>
          </div>
          <div class="input__text">E-mail</div>
        </div>
        <input type="email" name="email" @blur="unfocus" @focus="focused">
      </div>
      <div class="sidebar__input input">
        <div class="input__placeholder">
          <div class="input__icon"><svg><use xlink:href='static/svg/sprite.svg#comments'></use></svg></div>
          <div class="input__text">Напишите свой вопрос</div>
        </div>
        <textarea cols="30" rows="10" name="quest" @blur="unfocus" @focus="focused"></textarea>
      </div>
      <div class="sidebar__input"><button class="btn btn--base" type="submit">Задать вопрос</button></div>
    </form>
    <form class="sidebar__form" novalidate v-else>
      <div class="sidebar__name">Оставьте свой отзыв</div>
      <input type="hidden" name="nameform" value="Оставлен отзыв">
      <div class="sidebar__input input">
        <div class="input__placeholder">
          <div class="input__icon">
            <svg><use xlink:href='static/svg/sprite.svg#user'></use></svg>
          </div>
          <div class="input__text">Имя</div>
        </div>
        <input type="name" name="name" @blur="unfocus" @focus="focused">
      </div>
      <div class="sidebar__input input">
        <div class="input__placeholder">
          <div class="input__icon">
            <svg><use xlink:href='static/svg/sprite.svg#message'></use></svg>
          </div>
          <div class="input__text">E-mail</div>
        </div>
        <input type="email" name="email" @blur="unfocus" @focus="focused">
      </div>
      <div class="sidebar__input input">
        <div class="input__placeholder">
          <div class="input__icon"><svg><use xlink:href='static/svg/sprite.svg#comments'></use></svg></div>
          <div class="input__text">Ваш отзыв</div>
        </div>
        <textarea cols="30" rows="10" name="quest" @blur="unfocus" @focus="focused"></textarea>
      </div>
      <div class="sidebar__input"><button class="btn btn--base" type="submit">Отправить отзыв</button></div>
    </form>
  </div>
</template>
<script>
export default {
  name: 'Sidebar',
  props: {
    type: 'faq'
  },
  methods: {
    validateEmail: function (email) {
      /** var re = /^([A-Z|a-z|0-9](\.|_){0,1})+[A-Z|a-z|0-9]\@([A-Z|a-z|0-9])+((\.){0,1}[A-Z|a-z|0-9]){2}\.[a-z]{2,3}$/ **/
      var re = /^([A-Z|a-z|0-9](\.|_){0,1})+[A-Z|a-z|0-9]@([A-Z|a-z|0-9])+((\.){0,1}[A-Z|a-z|0-9]){2}\.[a-z]{2,3}$/
      return re.test(email)
    },
    focused: function (e) {
      e.target.closest('.input').classList.add('input--focus')
    },
    unfocus: function (e) {
      if (!e.target.value.length) {
        e.target.closest('.input').classList.remove('input--focus')
      }
    }
  }
}
</script>

<style lang="scss">
  .sidebar{
    border-radius: 15px;
    background-color: rgb(28, 82, 204);
    box-shadow: 0px 8px 29px 0px rgba(13, 24, 51, 0.06);
    .btn{
      width: 100%;
    }
    &__form{
      padding: 35px;
    }
    &__input{
      &:not(:last-child){
        margin-bottom: 17px;
      }
    }
    .input__placeholder{
      font-size: 18px;
    }
    &__name{
      text-align: center;
      margin-bottom: 15px;
      font-size: 26px;
      line-height: 26px;
      color: #ffffff;
      font-weight: 600;
    }
  }
</style>
