<template>
  <div class="specialist">
    <div class="specialist__image"><img v-bind:src="image" alt="name"></div>
    <div class="specialist__content">
      <div class="specialist__name">{{name}}</div>
      <div class="specialist__items">
        <ul>
          <li v-for="(listx, index) in list" v-bind:key="index">{{listx}}</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Specialist',
  props: {
    image: String,
    name: String,
    list: Array
  }
}
</script>

<style lang="scss">
.specialist{
  width: 300px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 8px 29px 0px rgba(13, 24, 51, 0.06);
  overflow: hidden;
  margin-right: 33.3333333px;
  margin-bottom: 30px;
  transition: transform ease-in-out .3s, box-shadow ease-in-out .3s;
  &:nth-child(4n+4){
    margin-right: 0;
  }
  &__image{
    width: 100%;
    height: 270px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img{
      width: 100%;
      height: auto;
      filter: grayscale(100%);
      filter: gray;
      transition: filter ease-in-out .3s;
    }
  }
  &__name{
    text-align: center;
    font-weight: 600;
    color: #0d1833;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  &__content{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  li{
    text-align: center;
    line-height: 27px;
    color: #1c52cc;
    font-weight: 600;
    font-size: 18px;
  }
  &:hover{
    transform: translateY(-20px);
    box-shadow: 0px 8px 29px 0px rgba(13, 24, 51, 0.15);
  }
  &:hover &__image img{
    filter: grayscale(0);
  }
}
</style>
