<template>
  <div class="stars">
    <div class="star" v-bind:class="{starActive: stars>=1}"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="14px"> <path fill-rule="evenodd" d="M7.855,0.230 L9.763,4.650 L14.648,5.061 C14.986,5.089 15.124,5.503 14.867,5.721 L11.162,8.863 L12.272,13.537 C12.349,13.861 11.990,14.117 11.698,13.944 L7.500,11.466 L3.302,13.944 C3.011,14.116 2.652,13.861 2.729,13.537 L3.839,8.863 L0.133,5.720 C-0.124,5.503 0.013,5.089 0.352,5.060 L5.237,4.649 L7.145,0.230 C7.278,-0.077 7.722,-0.077 7.855,0.230 Z"/></svg></div>
    <div class="star" v-bind:class="{starActive: stars>=2}"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="14px"> <path fill-rule="evenodd" d="M7.855,0.230 L9.763,4.650 L14.648,5.061 C14.986,5.089 15.124,5.503 14.867,5.721 L11.162,8.863 L12.272,13.537 C12.349,13.861 11.990,14.117 11.698,13.944 L7.500,11.466 L3.302,13.944 C3.011,14.116 2.652,13.861 2.729,13.537 L3.839,8.863 L0.133,5.720 C-0.124,5.503 0.013,5.089 0.352,5.060 L5.237,4.649 L7.145,0.230 C7.278,-0.077 7.722,-0.077 7.855,0.230 Z"/></svg></div>
    <div class="star" v-bind:class="{starActive: stars>=3}"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="14px"> <path fill-rule="evenodd" d="M7.855,0.230 L9.763,4.650 L14.648,5.061 C14.986,5.089 15.124,5.503 14.867,5.721 L11.162,8.863 L12.272,13.537 C12.349,13.861 11.990,14.117 11.698,13.944 L7.500,11.466 L3.302,13.944 C3.011,14.116 2.652,13.861 2.729,13.537 L3.839,8.863 L0.133,5.720 C-0.124,5.503 0.013,5.089 0.352,5.060 L5.237,4.649 L7.145,0.230 C7.278,-0.077 7.722,-0.077 7.855,0.230 Z"/></svg></div>
    <div class="star" v-bind:class="{starActive: stars>=4}"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="14px"> <path fill-rule="evenodd" d="M7.855,0.230 L9.763,4.650 L14.648,5.061 C14.986,5.089 15.124,5.503 14.867,5.721 L11.162,8.863 L12.272,13.537 C12.349,13.861 11.990,14.117 11.698,13.944 L7.500,11.466 L3.302,13.944 C3.011,14.116 2.652,13.861 2.729,13.537 L3.839,8.863 L0.133,5.720 C-0.124,5.503 0.013,5.089 0.352,5.060 L5.237,4.649 L7.145,0.230 C7.278,-0.077 7.722,-0.077 7.855,0.230 Z"/></svg></div>
    <div class="star" v-bind:class="{starActive: stars>=5}"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="14px"> <path fill-rule="evenodd" d="M7.855,0.230 L9.763,4.650 L14.648,5.061 C14.986,5.089 15.124,5.503 14.867,5.721 L11.162,8.863 L12.272,13.537 C12.349,13.861 11.990,14.117 11.698,13.944 L7.500,11.466 L3.302,13.944 C3.011,14.116 2.652,13.861 2.729,13.537 L3.839,8.863 L0.133,5.720 C-0.124,5.503 0.013,5.089 0.352,5.060 L5.237,4.649 L7.145,0.230 C7.278,-0.077 7.722,-0.077 7.855,0.230 Z"/></svg></div>
  </div>
</template>
<script>
export default {
  name: 'Stars2',
  props: {
    stars: Number
  }
}
</script>
<style lang="scss">
.stars{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 15px;
}
.star{
  margin-right: 8px;
  &:last-child{
    margin-right: 0;
  }
  svg{
    fill: rgb(213, 218, 228);
  }
  &.starActive {
    svg{
      fill: #f2d137;
    }
  }
}
</style>
