<template>
	<div class="test">
		<div class="test__content">
			<div class="html" v-html="description"></div>
		</div>
    <div class="tip" v-if="showTip"> 
      <div class="html" style="color: red" v-html="tip">
      </div>     
    </div>
		<div class="test__otvet">
			<Checkbox :id="id" :variants="variants" v-if="type === 'checkbox'"/>
			<Radio :id="id" :variants="variants" v-if="type === 'radio'"/>
			<File :id="id" v-if="type === 'file'"/>
			<Textarea :id="id" v-if="type === 'textarea'"/>
			<Input :id="id" :variants="variants" v-if="type === 'input'"/>
			<Match :id="id" :variants="variants" :pairs="pairs" v-if="type === 'match'" />
			<Split :id="id" :variants="variants" :columns="columns" v-if="type === 'split'"/>
		</div>
	</div>
</template>

<script>
import Checkbox from "@/components/tests/Checkbox.vue";
import Radio from "@/components/tests/Radio.vue";
import File from "@/components/tests/File.vue";
import Textarea from "@/components/tests/Textarea.vue";
import Input from "@/components/tests/Input.vue";
import Match from "@/components/tests/Match.vue";
import Split from "@/components/tests/Split.vue";

export default {
  name: "Task",
  components: {
    Checkbox,
    Radio,
    File,
    Textarea,
    Input,
    Match,
    Split
  },
  props: {
    type: String,
    id: Number,
    description: String,
    variants: Array,
    pairs: Array,
    columns: Array,
    tip: String,
    showTip: {
      type: Boolean,
      default: false
    }
  },
  data: function() {
    return {
      answer: {}
    }
  },
  created (){
    
  },
  methods: {
    chageAnswer(val){
      this.answer = {
        id: this.id,
        answers: typeof val === "string" || typeof val === "number" ? [val] : val
      }
    }
  },
  watch: {
		answer: function(val, oldVal){
			this.$parent.addAnswer(val);
		}
	}
};
</script>
