<template>
  <div class="user_user">
    <div class='user__avatar'>
      <img v-bind:src='this.$store.getters.getResp.avatar' v-bind:alt='this.$store.getters.getResp.userName'>
    </div>
    <div class="user__name">{{ this.$store.getters.getResp.fullname }}</div>
    <div class="user__icons" v-if="this.$store.getters.getResp.userType=='student'">
      <router-link to="/mail" class="user__icon"><svg><use xlink:href='/static/svg/sprite.svg#search'></use></svg></router-link>
      <router-link to="/chat" class="user__icon"><svg><use xlink:href='/static/svg/sprite.svg#comment'></use></svg></router-link>
      <router-link to="/user" class="user__icon"><svg><use xlink:href='/static/svg/sprite.svg#profile'></use></svg></router-link>
    </div>
    <MenuStud/>
  </div>
</template>

<script>
import MenuStud from '@/components/MenuStud'
export default {
  name: 'UserProfile',
  components: {
    MenuStud
  }
}
</script>
<style lang="scss">
.user{
  &__icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  &__icon{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(28, 82, 204);
    box-shadow: 0px 8px 29px 0px rgba(28, 82, 204, 0.33);
    cursor: pointer;
    &:not(:last-child){
      margin-right: 12px;
    }
    svg{
      fill: #fff;
      width: 17px;
      height: 17px;
    }
  }
}
</style>
