<template>
	<div class="teachers">
		<router-link class="teacherx" v-for="(student, index) in students" v-bind:key="index" :to="'/chatx/'+student.chats_ids[0].id">
			<div class="teacherx__avatar"><img :src="student.avatar" :alt="student.firstname"></div>
			<div class="teacherx__name">{{student.firstname}} {{student.lastname}}</div>
		</router-link>
	</div>
</template>

<script>
export default {
	name: 'UserTeacher',
	props: {
    students: Array
	},
	created () {
		this.$store.dispatch('userInfo');
		
	},
}
</script>

<style lang="scss">
.teachers{
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}
.teacherx{
	width: 300px;
	background-color: #fff;
	border-radius: 15px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 17px;
	padding-bottom: 17px;
	margin-right: 30px;
	margin-bottom: 30px;
	text-decoration: none;
  box-shadow: 0px 8px 29px 0px rgba(13, 24, 51, 0.06);
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: box-shadow ease-in-out .3s;
	&:hover{
		background-color: #1c52cc;
  	box-shadow: 0px 8px 29px 0px rgba(28, 82, 204, 0.33);
	}
	&:hover &__avatar{
		background-color: #fff;
	}
	&:hover &__name{
		color: #fff;

	}
	&:nth-child(3n+3){
		margin-right: 0;
	}
	&__avatar{
		width: 53px;
		height: 53px;
		overflow: hidden;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 53px;
		margin-right: 18px;
		background-color: #0d1833;
		img{
			height: 100%;
			width: auto;
		}
	}
	&__name{
		font-weight: 600;
		font-size: 20px;
		color: #0d1833;
	}
}
</style>
