<template>
  <div class="vebinar vebinar-50 vebinar-new" v-if="!vebinar.is_passed">
    <div class="vebinar__top">
      <div class="vebinar__avatar">
        <img :src="vebinar.avatar" :alt="vebinar.author">
      </div>
      <div class="vebinar__text">
        <div class="vebinar__name">{{vebinar.author}}</div>
        <div class="vebinar__type">{{vebinar.position}}</div>
      </div>
    </div>
    <div class="vebinar__subname">{{vebinar.title}}</div>
    <div class="vebinar__date">{{dateFormat(vebinar.date_started)}}</div>
    <div class="vebinar__oname">На вебинаре:</div>
    <ul class="vebinar__lists">
      <li v-for="(item, index) in vebinar.list" v-bind:key="index">{{item}}</li>
    </ul>
  </div>
  <div class="vebinar vebinar-33 vebinar-old" v-else>
    <div class="vebinar__video">
      <img :src="vebinar.preview" :alt="vebinar.position">
      <a :href="vebinar.link" class="vebinar__play"><svg><use xlink:href="static/svg/sprite.svg#play"></use></svg></a>
    </div>
    <div class="vebinar__content">
      <div class="vebinar__title">{{vebinar.author}}</div>
      <div class="vebinar__info">{{vebinar.title}}</div>
      <div class="vebinar__footer"><svg><use xlink:href="static/svg/sprite.svg#eye"></use></svg> <span>{{vebinar.views}}</span></div>
    </div>
  </div>
</template>

<script>

import moment from 'moment'

export default {
  name: 'Vebinar',
  props: {
    vebinar: Object
  },
  created () {
    
  },
  methods: {
    dateFormat (date) {
      return moment(date).format('YYYY.MM.DD в HH:mm')
    }
  }
}
</script>

<style lang="scss">
.vebinar{
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 8px 29px 0px rgba(13, 24, 51, 0.06);
  overflow: hidden;
  &-new{
    padding-top: 35px;
    padding-bottom: 30px;
    padding-right: 35px;
    padding-left: 35px;
  }
  &__top{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  &__avatar{
    border-radius: 50%;
    width: 64px;
    height: 64px;
    overflow: hidden;
    min-width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }
  &-33{
    width: 300px;
    &:nth-child(3n+3){
      margin-right: 0;
    }
  }
  &-50{
    width: 470px;
    &:nth-child(2n+2){
      margin-right: 0;
    }
  }
  &__name{
    color: #0d1833;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
  }
  &__type{
    font-size: 16px;
    color: #1c52cc;
    font-weight: 700;
  }
  &__subname{
    color: #0d1833;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 15px;
  }
  &__date{
    color: #7f8593;
    font-size: 18px;
    margin-bottom: 15px;
  }
  &__oname{
    color: #0d1833;
    font-size: 18px;
  }
  &__lists{
    margin-top: 10px;
    li{
      color: #0d1833;
      font-size: 18px;
      margin-bottom: 10px;
      position: relative;
      padding-left: 28px;
      &:after{
        left: 0;
        top: 5px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #2fd173;
        content: '';
        position: absolute;
      }
    }
  }
  &__video{
    height: 192px;
    min-height: 192px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  &-old{
    display: flex;
    flex-direction: column;
  }
  &__play{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 12px 24px 0px rgba(10, 18, 38, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
      width: 20px;
      height: 20px;
      fill: #1c52cc;
    }
  }
  &__content{
    padding-top: 18px;
    padding-left: 23px;
    padding-right: 23px;
    padding-bottom: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
  &__footer{
    display: flex;
    align-items: center;
    margin-top: 15px;
    svg{
      fill: #c2c3c8;
      width: 21px;
      height: 14px;
      margin-right: 9px;
    }
    color: #979ba7;
    font-weight: 600;
  }
  &__title{
    font-size: 20px;
    color: #0d1833;
    margin-bottom: 6px;
    font-weight: 700;
  }
  &__info{
    color: #1c52cc;
    font-weight: 700;
    font-size: 18px;
  }
}
@media only screen and (max-width: 1440px) {
  .vebinar-50,.vebinar-33{
    width: 49%;
    margin-right: 2%;
    &:nth-child(3n+3){
      margin-right: 2%;
    }
    &:nth-child(2n+2){
      margin-right: 0;
    }
  }
  .vebinar__avatar{
    display: none;
  }
  .vebinar-new{
    padding-bottom: 20px;
    padding-left: 26px;
    padding-right: 26px;
  }
}
</style>
