<template>
  <div id='app'>
    <router-view/>
  </div>
</template>
<script>
export default {
  created: function() {
    this.$store.dispatch("setContacts");
  }
};
</script>

<style lang='scss'>

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote {
  &:before,
  &:after {
    content: "";
    content: none;
  }
}

q {
  &:before,
  &:after {
    content: "";
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
// File for scss-vars.
// For example: main colors, paddings and so on.

/*
 *  Color
 */
$color-text: #191d32;
$color-description: #282f44;
$color-overlay: rgba(0, 0, 0, 0.7);
$color-modal: #fff;
$color-modal-name: #191d32;
$color-placeholder: #7f8593;
$color-section-bg: #d63f20;
$color-section-text: #fff;

$color-link: #15489e;
$color-link-hover: #ff4716;

/*
 * Sizes
 */

$desktopWidth: 1300px;
$laptopWidth: 960px;
$tableWidth: 720px;
$smallTableWidth: 540px;
$mobileWidth: 100%;

/*
 * Fonts
 */

$default-fonts: "Roboto", sans-serif;

/*
 * Fonts Size
 */
$h1: 36px;
$h2: 30px;
$h3: 28px;
$h4: 24px;
$h5: 20px;
html,
body {
  height: 100%;
  font-family: $default-fonts;
}
* {
  box-sizing: border-box;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: $color-placeholder;
  font-size: 18px;
  font-weight: 700;
  font-family: $default-fonts;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: $color-placeholder;
  font-size: 18px;
  font-weight: 700;
  font-family: $default-fonts;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: $color-placeholder;
  font-size: 18px;
  font-weight: 700;
  font-family: $default-fonts;
}
textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: $color-placeholder;
  font-size: 18px;
  font-weight: 700;
  font-family: $default-fonts;
}

textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: $color-placeholder;
  font-size: 18px;
  font-weight: 700;
  font-family: $default-fonts;
}

textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: $color-placeholder;
  font-size: 18px;
  font-weight: 700;
  font-family: $default-fonts;
}

textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: $color-placeholder;
  font-size: 18px;
  font-weight: 700;
  font-family: $default-fonts;
}

::selection {
  background: $color-section-bg;
  color: $color-section-text;
  /* Safari */
}

::-moz-selection {
  background: $color-section-bg;
  color: $color-section-text;
}

.input {
  width: 100%;
  input {
    width: 100%;
    height: 40px;
    outline: none;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.no-scroll {
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: $desktopWidth;
}

a:not([class]) {
  text-decoration: none;
  color: $color-link;
  border-bottom: 1px solid $color-link;
  &:hover {
    color: $color-link-hover;
    border-color: $color-link-hover;
  }
}
#nav {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 15px 10px;
  color: #669;
  a {
    color: #669;
    text-decoration: none;
    font-weight: 600;
  }
  .router-link-exact-active,
  a:hover {
    color: #2d72d9;
  }
}
.btn {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  height: 62px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 31px;
  background-color: rgb(47, 209, 115);
  box-shadow: 0px 8px 29px 0px rgba(47, 209, 115, 0.33);
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  position: relative;
  user-select: none;
  &:disabled {
    filter: grayscale(100%);
  }
  &:hover {
    background-color: #2abe68;
    box-shadow: 0px 18px 29px 0px rgba(42, 190, 104, 0.33);
  }
  &:active {
    top: 1px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.6);
    background-color: rgb(36, 166, 91);
    box-shadow: 0px 8px 29px 0px rgba(47, 209, 115, 0.04);
  }
}
.input {
  position: relative;
  display: block;
  &--focus &__text {
    opacity: 0;
    visibility: hidden;
  }
  &__placeholder {
    user-select: none;
    position: absolute;
    display: flex;
    align-items: center;
    padding-left: 40px;
    top: 18px;
    left: 0;
    color: #ffffff;
    pointer-events: none;
    font-weight: 600;
    font-size: 20px;
    svg {
      width: 18px;
      height: 21px;
      fill: #fff;
    }
  }
  &__icon {
    width: 20px;
    margin-right: 15px;
    pointer-events: none;
  }
  input,
  textarea {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: none;
    border: 2px solid #4773d6;
    border-radius: 31px;
    height: 62px;
    padding-left: 74px;
    padding-right: 74px;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    resize: none;
  }
  textarea {
    height: 190px;
    padding-top: 17px;
  }
  &__text {
    pointer-events: none;
  }
}
.page {
  background-color: #f8fafe;
}
.html {
  color: #0d1833;
  font-size: 20px;
  line-height: 24px;
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 600;
    color: #0d1833;
    & + ul,
    & + ol {
      margin-top: 0;
    }
  }
  h1 {
    font-size: $h1;
  }
  h2 {
    font-size: $h2;
    line-height: $h2;
    margin-bottom: 15px;
  }
  h3 {
    font-size: $h3;
    margin-bottom: 15px;
  }
  h4 {
    font-size: $h4;
    font-weight: 700;
    color: #383430;
    margin-bottom: 10px;
  }
  h5 {
    font-size: $h5;
    color: #83b3d4;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 15px;
  }
  b,strong{
    font-weight: 700;
  }
  i{
    font-style: italic;
  }
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    list-style-type: none;
    li {
      width: 50%;
      margin-bottom: 12px;
      padding-left: 20px;
      position: relative;
      &:after {
        width: 7px;
        height: 7px;
        position: absolute;
        top: 7px;
        left: 0;
        content: "";
        background-color: #025cb2;
      }
      &:nth-child(odd) {
        padding-right: 20px;
      }
    }
  }
  ol {
    li {
      margin-bottom: 16px;
    }
  }
  table {
    max-width: 900px;
    width: 100%;
    overflow-x: auto;
    display: block;
  }
  img {
    max-width: 100%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  blockquote,
  q {
    font-style: italic;
    line-height: 19px;
    margin-left: 0;
    padding-left: 36px;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    padding-top: 12px;
    &:after,
    &::before {
      display: none;
    }
    &:first-letter {
      font-size: 48px;
    }
    &:after {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      width: 3px;
      background-color: #025cb2;
      content: "";
    }
  }
  em {
    font-style: italic;
  }
  & > *:first-child {
    margin-top: 0;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
  iframe {
    max-width: 100%;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    th {
      background-color: #025cb2;
      text-align: left;
      font-weight: 700;
    }
    th,
    td {
      font-size: 18px;
      font-weight: 400;
      color: #fff;
      padding-top: 11px;
      padding-bottom: 11px;
      padding-left: 35px;
      padding-right: 35px;
      border: 2px solid #fff;
    }
    td {
      background-color: #f5fbff;
      color: #8597a8;
    }
  }
  &__table {
    width: 100%;
    overflow: auto;
  }
}
.radio {
  width: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  * {
    cursor: pointer;
    user-select: none;
  }
  &__input:checked + &__fake {
    position: relative;
    &:after {
      position: absolute;
      top: 5px;
      left: 5px;
      width: 16px;
      height: 16px;
      background-color: #fff;
      content: "";
      border-radius: 50%;
    }
  }
  &__fake {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    min-width: 30px;
    margin-right: 15px;
    border: 2px solid #fff;
  }
  &__text {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
  }
  &__input {
    display: none;
  }
}
.checkbox {
  display: flex;
  align-items: center;
  * {
    user-select: none;
  }
  input {
    display: none;
  }
  input:checked + &__fake {
    &:after {
      position: absolute;
      width: 7px;
      height: 10px;
      border: 3px solid #2fd173;
      content: "";
      top: 0;
      left: 3px;
      border-top: none;
      border-left: none;
      transform: rotate(35deg);
    }
  }
  &__fake {
    border: 2px solid #dfe0e2;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    margin-right: 12px;
    position: relative;
  }
  &__text {
    color: #0d1833;
    font-size: 17px;
  }
}
.reviews__flexx {
  margin-top: 30px;
  .reviews__block {
    width: 100%;
    height: 260px;
    position: relative;
    margin-bottom: 30px;
    display: block;
  }
  .video__play {
    z-index: 4;
  }
  .reviews__ima {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    background-color: #1c52cc;
    overflow: hidden;
    &:hover {
      img {
        opacity: 0.8;
      }
    }
    img {
      transition: opacity ease-in-out 0.3s;
      width: 100%;
      height: auto;
      opacity: 0.3;
    }
  }
}
.reviews {
  padding-bottom: 117px;
  &__name {
    margin-top: 20px;
    margin-bottom: 35px;
    color: #0d1833;
    font-size: 44px;
    line-height: 44px;
    font-weight: 700;
  }
  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__left {
    width: 860px;
  }
  &__right {
    width: 410px;
  }
}

.video {
  &__tabs {
    width: 300px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 8px 29px 0px rgba(13, 24, 51, 0.06);
    &:nth-child(3n + 3) {
      margin-right: 0;
    }
  }
  &__image {
    height: 190px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    img {
      height: 100%;
      width: auto;
    }
  }
  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 12px 24px 0px rgba(10, 18, 38, 0.3);
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      fill: #1c52cc;
      width: 20px;
      height: 20px;
    }
  }
  &__views {
    svg {
      fill: #c2c3c8;
      width: 21px;
      height: 14px;
      margin-right: 9px;
    }
    font-weight: 700;
    color: #979ba7;
  }
  &__content {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  &__name {
    font-size: 20px;
    color: #0d1833;
    font-weight: 700;
    margin-bottom: 5px;
  }
  &__theme {
    color: #1c52cc;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
  }
}
.vebinars {
  &__name {
    margin-bottom: 20px;
    margin-top: 10px;
    color: #0d1833;
    font-weight: 700;
    font-size: 30px;
  }
  &__title {
    color: #0d1833;
    font-size: 26px;
    margin-bottom: 20px;
  }
  &__flex {
    display: flex;
    flex-wrap: wrap;
  }
}
.header {
  background-color: #0f1b3a;
  position: relative;
  z-index: 20;
  &.headerMain {
    background-color: transparent;
    .container {
      height: 130px;
    }
    .header__items {
      top: 75px;
    }
  }
  .container {
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 3.91%;
    padding-right: 3.91%;
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 1160px;
  }
  &__items {
    display: none;
  }
  &__item {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }
  &__link {
    display: block;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 15px;
    padding-top: 14px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    padding-bottom: 14px;
    position: relative;
  }
  &__link svg {
    position: absolute;
    right: 20px;
    top: 17px;
    width: 14px;
    height: 14px;
    fill: #2fd173;
  }
  &__item--inner &__link {
    padding-right: 50px;
  }
  &__item:hover &__link {
    background-color: #fff;
    color: #0d1833;
  }
  .loho3 {
    width: 170px;
    height: auto;
  }
  &__items {
    position: absolute;
    padding-top: 10px;
    top: 35px;
    width: 100%;
    left: 0;
    right: 0;
    box-shadow: 0px 8px 29px 0px rgba(13, 24, 51, 0.06);
    background-color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 10px;
    .header__link {
      border-radius: 0;
      font-size: 16px;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
  &__item:hover &__items {
    display: block;
  }
  & + * {
    padding-top: 70px;
  }
  & + .main {
    margin-top: -130px;
  }
  &.headerMain{
    position: relative;
  }
}

@media only screen and (max-width: 1440px) {
  .reviews__left{
    width: 660px;
  }
  .reviews__right{
    .input input{
      height: 50px;
      padding-left: 50px;
      padding-right: 50px;
    }
    .input__placeholder{
      top: 12px;
      padding-left: 24px;
    }
    .sidebar__input:not(:last-child){
      margin-bottom: 12px;
    }
    .input textarea{
      padding-top: 12px;
      height: 140px;
      padding-left: 50px;
      padding-right: 50px;
    }
    .btn{
      height: 52px;
    }
  }
  .reviews__right{
    width: 320px;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
  }
  .container{
    width: 1000px;
  }
  .html{
    font-size: 16px;
  }
  .container {
    width: 1000px;
  }
  .header .container {
    padding-left: 0;
    padding-right: 0;
    width: 1000px;
  }
  .header .loho3 {
    width: 85px;
  }
  .header__link {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .mainblock__name {
    font-size: 48px;
    line-height: 52px;
  }
  .mainblock__pretext {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .header__item--inner .header__link {
    padding-right: 25px;
  }
  .html table{
    max-width: 750px;
  }
  .header.headerMain .container {
    height: 90px;
  }
  .header__link svg {
    right: 5px;
    top: 8px;
  }
  .header.headerMain .header__items {
    top: 54px;
  }
  .header__item.header__item--inner:hover .header__link {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .mainblock--main {
    height: auto;
  }
  .header__logo{
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 100%;
    }
  }
  .header .container{
    height: 42px;
  }
  .header__link,
  .header__items .header__link{
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .header__menu{
    width: 770px;
  }
  .header__items .header__link{
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .header__items{
    top: 32px;
  }
  .footer{
    .input__placeholder{
      padding-left: 20px;
    }
  }
  .footer__name{
    margin-bottom: 20px;
  }
  .user .obratka{
    .btn{
      width: 300px;
    }
  }
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  &+*{
    margin-top: 55px;
  }
}
</style>
